$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.view-img-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.3s;
  span {
    color: white;
    font-size: 50px;
    transition: 0.3s;
    &:hover {
      color: rgb(177, 175, 175);
      cursor: pointer;
    }
  }
  img {
    border-radius: 5px;
    width: 500px;
    height: 300px;
    object-fit: cover;
  }
}
