* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.view-img-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.3s;
}
.view-img-container span {
  color: white;
  font-size: 50px;
  transition: 0.3s;
}
.view-img-container span:hover {
  color: rgb(177, 175, 175);
  cursor: pointer;
}
.view-img-container img {
  border-radius: 5px;
  width: 500px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=ViewImg.css.map */