$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.neighborhood-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Home/FindTheNeighbourhoodForYou/coverImage.png");
   background-size: 400px 250px;
   background-repeat: no-repeat;
   background-position: 20% 100%;

   p{
    margin: 0;
  }
  a{
    margin: 0;
  }
  .title {
    text-align: center;
    font-size: 40px;
  }
  .description {
    margin-top: 0px;
    text-align: center;
    font-size: 17px;
    color: rgb(75, 75, 75);
    width: 700px;
  }
  .neighborhood-countries {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 40px;
    
    background-repeat: no-repeat;
    .country {
      width: 450px;
      height: 150px;
      border-radius: 6px;
      position: relative;
      bottom: 0;
      transition: .5s;
      img {
        width: 450px;
        height: 150px;
        border-radius: 6px;
      }
      div {
        position: relative;
        bottom: 90px;
        width: 450px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        padding-bottom: 28px;
        padding-left: 20px;
        transition: all 0.5s;
        background: linear-gradient(to bottom, transparent, black 109%);
        h1 {
          color: white;
          font-size: 25px;
          transition: all 0.5s;
          position: relative;
          top: 25px;
          &:hover{
            cursor: pointer;
          }
        }
        p {
          margin-top: 10px;
          font-weight: 500;
          color: white;
          transition: all 0.5s;
          opacity: 0;
        }
      }
      &:hover {
        div {
          h1 {
            top: 0px;
          }
          p {
            opacity: 1;
          }
        }
        bottom: 5px;
      }
    }
  }
}

@media only screen and (max-width:1450px) {
  .neighborhood-container{
    .neighborhood-countries{
     
      .country{
        width: 350px;
        img{
          width: 350px;
        }
        div{
          width: 350px;
        }
      }
    }
  }
}

@media only screen and (max-width:1150px) {
  .neighborhood-container{
    .neighborhood-countries{
     
      .country{
        width: 280px;
        height: 100px;
        img{
          width: 280px;
          height: 100px;
        }
        div{
          width: 280px;
        }
        &:hover{
          div{
            h1{
              top: 10px;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width:1000px){
  .neighborhood-container{
    .neighborhood-countries{
     grid-template-columns: auto auto;
      .country{
        width: 350px;
        img{
          width: 350px;
        }
        div{
          width: 350px;
          bottom: 80px;
          h1{
            font-size: 20px;
          }
        }
      }
    }
  }
} 


@media only screen and (max-width:800px){
  .neighborhood-container{
    
    .neighborhood-countries{
     grid-template-columns: auto;
      .country{
        height: 120px;
        img{
          height: 120px;
        }
        div{
          width: 350px;
          bottom: 90px;
          h1{
            font-size: 22px;
            top: 0px;
          }
          p{
            opacity: 1;
          }
        }
        bottom: 5px;
      }
    }
  }
}