* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.neighborhood-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Home/FindTheNeighbourhoodForYou/coverImage.png");
  background-size: 400px 250px;
  background-repeat: no-repeat;
  background-position: 20% 100%;
}
.neighborhood-container p {
  margin: 0;
}
.neighborhood-container a {
  margin: 0;
}
.neighborhood-container .title {
  text-align: center;
  font-size: 40px;
}
.neighborhood-container .description {
  margin-top: 0px;
  text-align: center;
  font-size: 17px;
  color: rgb(75, 75, 75);
  width: 700px;
}
.neighborhood-container .neighborhood-countries {
  display: grid;
  grid-template-columns: auto auto auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin-top: 40px;
  background-repeat: no-repeat;
}
.neighborhood-container .neighborhood-countries .country {
  width: 450px;
  height: 150px;
  border-radius: 6px;
  position: relative;
  bottom: 0;
  transition: 0.5s;
}
.neighborhood-container .neighborhood-countries .country img {
  width: 450px;
  height: 150px;
  border-radius: 6px;
}
.neighborhood-container .neighborhood-countries .country div {
  position: relative;
  bottom: 90px;
  width: 450px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 28px;
  padding-left: 20px;
  transition: all 0.5s;
  background: linear-gradient(to bottom, transparent, black 109%);
}
.neighborhood-container .neighborhood-countries .country div h1 {
  color: white;
  font-size: 25px;
  transition: all 0.5s;
  position: relative;
  top: 25px;
}
.neighborhood-container .neighborhood-countries .country div h1:hover {
  cursor: pointer;
}
.neighborhood-container .neighborhood-countries .country div p {
  margin-top: 10px;
  font-weight: 500;
  color: white;
  transition: all 0.5s;
  opacity: 0;
}
.neighborhood-container .neighborhood-countries .country:hover {
  bottom: 5px;
}
.neighborhood-container .neighborhood-countries .country:hover div h1 {
  top: 0px;
}
.neighborhood-container .neighborhood-countries .country:hover div p {
  opacity: 1;
}

@media only screen and (max-width: 1450px) {
  .neighborhood-container .neighborhood-countries .country {
    width: 350px;
  }
  .neighborhood-container .neighborhood-countries .country img {
    width: 350px;
  }
  .neighborhood-container .neighborhood-countries .country div {
    width: 350px;
  }
}
@media only screen and (max-width: 1150px) {
  .neighborhood-container .neighborhood-countries .country {
    width: 280px;
    height: 100px;
  }
  .neighborhood-container .neighborhood-countries .country img {
    width: 280px;
    height: 100px;
  }
  .neighborhood-container .neighborhood-countries .country div {
    width: 280px;
  }
  .neighborhood-container .neighborhood-countries .country:hover div h1 {
    top: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .neighborhood-container .neighborhood-countries {
    grid-template-columns: auto auto;
  }
  .neighborhood-container .neighborhood-countries .country {
    width: 350px;
  }
  .neighborhood-container .neighborhood-countries .country img {
    width: 350px;
  }
  .neighborhood-container .neighborhood-countries .country div {
    width: 350px;
    bottom: 80px;
  }
  .neighborhood-container .neighborhood-countries .country div h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .neighborhood-container .neighborhood-countries {
    grid-template-columns: auto;
  }
  .neighborhood-container .neighborhood-countries .country {
    height: 120px;
    bottom: 5px;
  }
  .neighborhood-container .neighborhood-countries .country img {
    height: 120px;
  }
  .neighborhood-container .neighborhood-countries .country div {
    width: 350px;
    bottom: 90px;
  }
  .neighborhood-container .neighborhood-countries .country div h1 {
    font-size: 22px;
    top: 0px;
  }
  .neighborhood-container .neighborhood-countries .country div p {
    opacity: 1;
  }
}/*# sourceMappingURL=Neighborhood.css.map */