.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.pagination-container .pagination {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  transition: 0.2s;
}
.pagination-container img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  /* box-shadow: 0 0 50px rgb(97, 97, 97); */
  transition: 0.4s;
}
.pagination-container .navigations {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.pagination-container .navigations i,
.pagination-container .navigations p {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgb(230, 230, 230);
  color: black;
  border-radius: 50%;
  font-weight: 600;
  transition: all 0.4s;
  padding-left: 22px;
  padding-right: 22px;
}
.pagination-container .navigations i:hover,
.pagination-container .navigations p:hover {
  color: white;
  cursor: pointer;
  background-color: #fe5631;
}
.pagination-container .navigations i {
  padding: 17px;
  padding-left: 20px;
  padding-right: 20px;
}
.pagination-container .navigations .nav-numbers-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  max-width: 240px;
  overflow-x: hidden;
  transition: 0.4s;
  scroll-behavior: smooth;
}/*# sourceMappingURL=Pagination.css.map */