$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  .pagination {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    transition: 0.2s;
  }
  img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(97, 97, 97);
    transition: 0.4s;
  }
  .navigations {
    display: flex;
    align-items: center;
    column-gap: 20px;
    i,
    p {
      padding: 15px;
      background-color: white;
      box-shadow: 0 0 10px rgb(230, 230, 230);
      color: black;
      border-radius: 50%;
      font-weight: 600;
      transition: all 0.4s;
      padding-left: 22px;
      padding-right: 22px;
      &:hover {
        color: white;
        cursor: pointer;
        background-color: $primarycolor;
      }
    }

    i {
      padding: 17px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .nav-numbers-container {
      display: flex;
      align-items: center;
      column-gap: 10px;
      max-width: 240px;
      overflow-x: hidden;
      transition: .4s;
      scroll-behavior: smooth;
    }
  }
}
