* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.po-analytics-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.po-analytics-container .title {
  font-size: 35px;
  text-align: center;
}
.po-analytics-container .po-analytics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1150px;
}
.po-analytics-container .po-analytics .analytics-container {
  box-shadow: 0 0 10px rgb(222, 221, 221);
  padding: 20px;
  width: 100%;
}
.po-analytics-container .po-analytics .analytics-container .analytics-table-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.po-analytics-container .po-analytics .analytics-container .analytics-table-title p {
  font-size: 21px;
  font-weight: 500;
  font-variant: small-caps;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fe5631;
  color: white;
  border-radius: 3px;
  border-radius: 2px;
}

@media only screen and (max-width: 1200px) {
  .po-analytics-container .po-analytics {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: flex-start;
  }
  .po-analytics-container .po-analytics .analytics-container {
    width: 1100px;
  }
}/*# sourceMappingURL=Utils.css.map */