$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.previous-projects-container {
  p {
    margin: 0;
  }
  .properties-featured-properties-container {
    .titleanddesc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 35px;
        text-align: center;
        margin-top: 20px;
      }
      .desc {
        font-size: 17px;
        color: rgb(90, 90, 90);
        width: 800px;
        text-align: center;
      }
    }

    .Featured-properties-container {
      overflow-y: hidden;
      .Featured-properties {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        transition: 1s;
        margin-top: 20px;
        .featured-properties-property {
          border-radius: 5px;
          border: 1px solid lightgray;
          height: 650px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .upper {
            position: relative;
            padding: 10px;
            .tag {
              background-color: $hovercolor;
              border-radius: 5px;
              font-weight: 500;
              width: 120px;
              text-align: center;
              font-size: 16px;
              letter-spacing: 0.7px;
              color: white;
              padding: 5px;
              position: absolute;
              margin-left: 10px;
              margin-top: 10px;
              transition: 0.5s;
            }
            #interior-tag {
              background-color: #0000ff;
            }
            #construction-tag {
              width: 150px;
            }
            .price {
              font-weight: 500;
              // border-radius: 50%;
              width: 120px;
              height: 40px;
              background-color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 18px;
              color: $primarycolor;
              letter-spacing: 0.5px;
              position: absolute;
              right: 20px;
              bottom: 20px;
              z-index: 1;
              box-shadow: 0 0 2px rgb(209, 207, 207);
              transition: 0.5s;
              border: none;
              border-radius: 5px;
            }
            img {
              width: 400px;
              border-radius: 10px;
            }
          }

          .middle {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: 400px;
            .address {
              color: $primarycolor;
              font-size: 16px;
              font-weight: 500;
            }
            .property-title {
              font-size: 18px;
              font-weight: bolder;
            }
            .apartmentandsize {
              font-weight: 500;
            }
            .other-detailss-container {
              display: flex;
              column-gap: 15px;
              flex-wrap: wrap;
              width: 400px;
              align-items: center;
              p {
                color: rgb(107, 106, 106);
                font-size: 15.5px;
                text-align: left;
                font-weight: 500;
              }
              .border {
                width: 1px;
                height: 40px;
                background-color: darkgray;
              }
            }
          }

          .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-top: 1px solid lightgray;
            .rating {
              display: flex;
              column-gap: 20px;
              align-items: center;
              .stars {
                color: rgb(248, 180, 42);
                span {
                  font-size: 22px;
                }
              }
              .rating-name {
                font-size: 17px;
                color: rgb(107, 105, 105);
                position: relative;
                bottom: 2px;
                font-weight: 500;
              }
            }
          }
          &:hover {
            .tag,
            #interior-tag {
              background-color: $primarycolor;
            }
            .price {
              background-color: $primarycolor;
              color: white;
            }
          }
        }
      }
    }
  }
  .no-data {
    text-align: center;
    font-variant: small-caps;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(111, 110, 110);
  }
}

@media only screen and (max-width: 1345px) {
  .previous-projects-container {
    .properties-featured-properties-container {
      .Featured-properties-container {
        .Featured-properties {
          height: 1870px;
          .featured-properties-property {
            height: 610px;
            .upper {
              img {
                width: 350px;
              }
            }
            .middle {
              width: 350px;

              .other-detailss-container {
                width: 350px;
                column-gap: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .previous-projects-container {
    .properties-featured-properties-container {
      .Featured-properties-container {
        .Featured-properties {
          height: 1990px;
          .featured-properties-property {
            height: 650px;
            .upper {
              img {
                width: 400px;
              }
            }
            .middle {
              width: 400px;
              .other-detailss-container {
                width: 400px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .previous-projects-container {
    .properties-featured-properties-container {
      .titleanddesc {
        .desc {
          width: 500px;
        }
      }
      .Featured-properties-container {
        .Featured-properties {
          height: 1900px;
          .featured-properties-property {
            height: 620px;
            .upper {
              img {
                width: 320px;
              }
            }
            .middle {
              width: 320px;
              .other-detailss-container {
                row-gap: 10px;
                width: 320px;
              }
            }
            .bottom {
              flex-direction: column;
              justify-content: left;
              align-items: flex-start;
              row-gap: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .previous-projects-container {
    .properties-featured-properties-container {
      .Featured-properties-container {
        .Featured-properties {
          .featured-properties-property {
            min-height: 740px;
            .upper {
              img {
                width: 450px;
              }
            }
            .middle {
              width: 450px;
              .other-detailss-container {
                width: 450px;
              }
            }
            .bottom {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
            }
          }
        }
      }
    }
  }
}
