* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.company-logo-container {
  width: 180px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
  position: relative;
}
.company-logo-container .company-logo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
}
.company-logo-container .company-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  transition: 0.3s;
}
.company-logo-container .company-logo .company-logo-options {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.company-logo-container .company-logo .company-logo-options span {
  font-size: 45px;
  color: white;
  transition: 0.3s;
}
.company-logo-container .company-logo .company-logo-options span:hover {
  cursor: pointer;
  color: rgb(117, 117, 117);
}
.company-logo-container:hover .company-logo img {
  filter: blur(1px);
}
.company-logo-container:hover .company-logo .company-logo-options {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
.company-logo-container .no-img-logo-upload {
  width: 100%;
  height: 100%;
  background-color: rgb(199, 197, 197);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.company-logo-container .no-img-logo-upload .title {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.3s;
  transform: scale(0.9);
}
.company-logo-container .no-img-logo-upload .title span {
  font-variant: normal;
  font-size: 40px;
}
.company-logo-container .no-img-logo-upload .title:hover {
  color: white;
  cursor: pointer;
}
.company-logo-container .no-img-logo-upload:hover {
  background-color: rgb(138, 136, 136);
}
.company-logo-container .no-img-logo-upload:hover .title {
  transform: scale(1);
}

@media only screen and (max-width: 650px) {
  .company-logo-container {
    width: 40%;
    height: 150px;
  }
}/*# sourceMappingURL=SP_CompanyLogo.css.map */