$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.category-container {
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid lightgray;

  .categories {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    .category {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 150px;
      background-color: white;
      border-radius: 5px;
      transition: 0.5s;
      position: relative;
      bottom: 0;
      box-shadow: 0 0 5px rgb(223, 223, 223);
      padding: 10px;
      a {
        text-decoration: none;
        color: black;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.6px;
        transition: 0.2s;
        font-weight: bold;
        text-align: center;
        &:hover {
          color: $primarycolor;
        }
      }
      &:hover {
        bottom: 5px;
      }
      img{
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .category-container {
    .categories {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      row-gap: 20px;
      .category{
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .category-container {
    .categories {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      row-gap: 20px;
      .category{
        width: 250px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .category-container {
    .categories {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      row-gap: 20px;
      .category{
        width: 250px;
      }
    }
  }
}



