* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.category-container {
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid lightgray;
}
.category-container .categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.category-container .categories .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  transition: 0.5s;
  position: relative;
  bottom: 0;
  box-shadow: 0 0 5px rgb(223, 223, 223);
  padding: 10px;
}
.category-container .categories .category a {
  text-decoration: none;
  color: black;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  transition: 0.2s;
  font-weight: bold;
  text-align: center;
}
.category-container .categories .category a:hover {
  color: #fe5631;
}
.category-container .categories .category:hover {
  bottom: 5px;
}
.category-container .categories .category img {
  width: 60px;
  height: 60px;
}

@media only screen and (max-width: 1000px) {
  .category-container .categories {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 20px;
  }
  .category-container .categories .category {
    width: 300px;
  }
}
@media only screen and (max-width: 800px) {
  .category-container .categories {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 20px;
  }
  .category-container .categories .category {
    width: 250px;
  }
}
@media only screen and (max-width: 600px) {
  .category-container .categories {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 20px;
  }
  .category-container .categories .category {
    width: 250px;
  }
}/*# sourceMappingURL=Categories.css.map */