$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.filters-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    margin: 0;
  }
  .filters {
    width: 1335px;
    background-color: #fdfdfd;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px lightgray;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
    position: relative;
    .list-and-heading-container {
      display: flex;
      flex-direction: column;
      row-gap: 7px;
      justify-content: left;
      align-items: flex-start;

      .heading-container {
        font-weight: 500;
        padding: 0;
        font-size: 14.5px;
        margin: 0;
      }
      .lists-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;

        .detail-select-list-container {
          position: relative;
          width: 200px;
          list-style: none;

          .selected-heading {
            border: 1.5px solid lightgray;
            border-radius: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px;
            padding-left: 6px;
            padding-right: 6px;
            font-weight: 500;
            width: 100%;
            .heading {
              padding: 0;
              margin: 0;
            }
          }
          .detail-select-list {
            list-style: none;
            position: absolute;
            width: 100%;
            border: 1px solid lightgray;
            transform: scale(0);
            transition: 0.3s;
            z-index: 99;
            li {
              padding: 5px;
              border-top: 1px solid lightgray;
              transition: 0.3s;
              background-color: rgb(226, 225, 225);
              &:hover {
                color: white;
                background-color: $primarycolor;
              }
            }
          }
          li {
            text-align: center;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .apply-btn-container {
      display: flex;
      align-items: center;
      position: absolute;
      right: 20px;
      bottom: 40px;
      .apply-btn {
        position: relative;

        transform: translateY(20%);
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 500;
        font-variant: small-caps;
        letter-spacing: 1px;
        font-size: 16px;
        border: none;
        outline: none;
        transition: 0.3s;
        background-color: $hovercolor;
        color: white;
        border-radius: 3px;
        width: 200px;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
  }
  .filters-btn-container {
    display: flex;
    width: 1335px;
    justify-content: left;
  display: none;
    #filters-btn {
      color: white;
      padding: 5px;
      border-radius: 3px;
      margin-bottom: 10px;
      background-color: $primarycolor;
      
      &:hover{
        cursor: pointer;

      }
    }
  }
}

@media only screen and (max-width: 1340px) {
  .filters-container {
    .filters {
      width: 1000px;
      .apply-btn-container {
        position: relative;
        right: 0;
        bottom: 0;
        transform: none;
      }
    }
    
  }
}

@media only screen and (max-width: 1040px) {
  .filters-container {
    .filters {
      width: 675px;
      .apply-btn-container {
        position: absolute;
        right: 20px;
        bottom: 40px;
        .apply-btn {
          transform: translateY(20%);
        }
      }
    }
    
  }
}

@media only screen and (max-width: 700px) {
  .filters-container {
    .filters {
      width: 98%;
      .apply-btn-container {
        position: relative;
        right: 0;
        bottom: 0;
        
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .filters-container {
    .filters {
      display: none;
      .list-and-heading-container {
        width: 100%;
        .lists-container {
          width: 100%;
          .detail-select-list-container {
            width: 100%;
          }
        }
      }
    }
    .filters-btn-container{
      width: 98%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
      .filter-head{
        width: 95%;
        text-align: center;
       font-size: 16px;
       font-weight: 500;
       padding: 6px;
       position: relative;
       bottom: 4px;
       color: black;
       background-color: lightgray;
       border-radius: 3px;
      }
    }
  }
  
}
