* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.loading-icon-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fe5631;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 99999;
}
.loading-icon-container .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-icon-container .icon .outer-circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 4px solid white;
  border-bottom: none;
  animation: outercircle 1s linear infinite;
}
.loading-icon-container .icon .inner-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-top: none;
  animation: innercircle 1s linear infinite;
  position: relative;
  bottom: 60px;
}

@keyframes outercircle {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes innercircle {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}/*# sourceMappingURL=LoadingIcon.css.map */