$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.sp-success-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1000px;
  margin-top: 20px;
  ul {
    width: 100%;
    li {
      font-size: 16px;
    }
  }
  .disclaimer-heading {
    width: 100%;
    font-size: 17px;
    text-align: left;
  }
}

@media only screen and (max-width:1000px) {
    .sp-success-page-container{
        width: 95%;
        padding: 15px;
    }
}