* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sp-success-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1000px;
  margin-top: 20px;
}
.sp-success-page-container ul {
  width: 100%;
}
.sp-success-page-container ul li {
  font-size: 16px;
}
.sp-success-page-container .disclaimer-heading {
  width: 100%;
  font-size: 17px;
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .sp-success-page-container {
    width: 95%;
    padding: 15px;
  }
}/*# sourceMappingURL=SPSuccess.css.map */