* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.services-container .all-services {
  overflow: hidden;
}
.services-container .all-services .services {
  margin-top: 20px;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.services-container .all-services .services .service {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  width: 400px;
  height: 240px;
  line-height: 2.5;
  box-shadow: 0 0 10px rgb(240, 240, 240);
  transition: 0.5s;
  position: relative;
  bottom: 0;
}
.services-container .all-services .services .service div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services-container .all-services .services .service div a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 23px;
  transition: 0.3s;
}
.services-container .all-services .services .service div a:hover {
  color: #fe5631;
}
.services-container .all-services .services .service div i {
  padding: 15px;
  font-size: 35px;
  border-radius: 5px;
  color: #fe5631;
  transition: 0.5s;
  background-color: rgb(255, 228, 217);
}
.services-container .all-services .services .service div .description {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgb(97, 97, 97);
}
.services-container .all-services .services .service span {
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  width: 20px;
  transition: all 1s;
  border-bottom: 4px solid #fe5631;
}
.services-container .all-services .services .service:hover {
  bottom: 10px;
}
.services-container .all-services .services .service:hover span {
  width: 100%;
}
.services-container .all-services .services .service:hover i {
  color: rgb(255, 228, 217);
  background-color: #fe5631;
}

@media only screen and (max-width: 1330px) {
  .services-container .all-services {
    height: 780px;
  }
  .services-container .all-services .services .service {
    width: 330px;
    height: 262px;
  }
}
@media only screen and (max-width: 1120px) {
  .services-container .all-services {
    height: 780px;
  }
  .services-container .all-services .services .service {
    width: 450px;
    height: 240px;
  }
}
@media only screen and (max-width: 980px) {
  .services-container .all-services {
    height: 849px;
  }
  .services-container .all-services .services .service {
    width: 350px;
    height: 263px;
  }
}
@media only screen and (max-width: 770px) {
  .services-container .all-services {
    height: 849px;
  }
  .services-container .all-services .services ::-webkit-scrollbar {
    width: 6px;
    background: rgb(143, 142, 142);
  }
  .services-container .all-services .services ::-webkit-scrollbar-thumb {
    background: rgb(26, 25, 25);
    border-radius: 10px;
  }
  .services-container .all-services .services .service {
    width: 450px;
    height: 263px;
  }
}/*# sourceMappingURL=Services.css.map */