$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.services-container {
  .all-services {
    overflow: hidden;
    
    .services {
      margin-top: 20px;

      display: flex;
      column-gap: 40px;
      flex-wrap: wrap;
      row-gap: 20px;
      justify-content: center;
      align-items: center;

      transition: 1s;
      .service {
        display: flex;
        flex-direction: column;

        background-color: white;
        border-radius: 2px;

        width: 400px;
        height: 240px;

        line-height: 2.5;

        box-shadow: 0 0 10px rgb(240, 240, 240);
        transition: 0.5s;
        position: relative;
        bottom: 0;
       
        div {
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 23px;
            transition: 0.3s;
            &:hover {
              color: $primarycolor;
            }
          }
          i {
            padding: 15px;
            font-size: 35px;
            border-radius: 5px;
            color: $primarycolor;
            transition: 0.5s;
            background-color: rgb(255, 228, 217);
          }
          .description {
            line-height: 1.5;
            font-size: 16px;
            letter-spacing: 0.5px;
            color: rgb(97, 97, 97);
          }
        }
        span {
          border-radius: 2px;
position: absolute;
bottom: 0;
          width: 20px;

          transition: all 1s;
          border-bottom: 4px solid $primarycolor;
        }

        &:hover {
          bottom: 10px;
          span {
            width: 100%;
          }
          i {
            color: rgb(255, 228, 217);

            background-color: $primarycolor;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1330px) {
  .services-container {
    .all-services {
        height: 780px;
        .services{
            .service{
                width: 330px;
                height: 262px;
               
            }
        }
    }
  }
}

@media only screen and (max-width: 1120px) {
    .services-container {
      .all-services {
          height: 780px;
          .services{
              .service{
                  width: 450px;
                  height: 240px;
                 
              }
          }
      }
    }
  }

  @media only screen and (max-width: 980px) {
    .services-container {
      .all-services {
          height: 849px;
          .services{
              .service{
                  width: 350px;
                  height: 263px;
                 
              }
          }
      }
    }
  }

  @media only screen and (max-width: 770px) {
    .services-container {
      .all-services {
          height: 849px;
          .services{
              ::-webkit-scrollbar{
                  width: 6px;
                  background: rgb(143, 142, 142);
              }
              ::-webkit-scrollbar-thumb{
                  background: rgb(26, 25, 25);
                  border-radius: 10px;
              }
              .service{
                  width: 450px;
                  height: 263px;
                  
                
              }
          }
      }
    }
  }