* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.edit-profile-container .edit-profile {
  width: 100%;
  border-radius: 10px;
  position: relative;
  padding: 0;
}
.edit-profile-container .edit-profile .edit-profile-btn {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: #1dc295;
  color: white;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}
.edit-profile-container .edit-profile .edit-profile-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.edit-profile-container .edit-profile .details-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  row-gap: 20px;
  padding: 20px;
}
.edit-profile-container .edit-profile .details-container .details-title {
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 19px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #fe5631;
}
.edit-profile-container .edit-profile .details-container .sub-title {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
  font-size: 15.5px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #fe5631;
}
.edit-profile-container .edit-profile .details-container .short-inputs {
  display: flex;
  row-gap: 10px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  flex-wrap: wrap;
}
.edit-profile-container .edit-profile .details-container .short-inputs .detail .text-input {
  width: 200px;
}
.edit-profile-container .edit-profile .details-container .short-inputs .detail .checkbox-selectbox {
  width: 240px;
}
.edit-profile-container .edit-profile .details-container .short-inputs .detail .checkbox-selectbox .select-box-list {
  width: 240px;
}
.edit-profile-container .edit-profile .details-container .short-inputs .detail .selectbox-container {
  width: 240px;
}
.edit-profile-container .edit-profile .details-container .short-inputs .detail .selectbox-container .select-box-list {
  width: 100%;
}
.edit-profile-container .edit-profile .details-container .short-inputs .detail div {
  width: 240px;
}
.edit-profile-container .edit-profile .details-container .short-inputs #Detail input {
  width: 150px;
}
.edit-profile-container .edit-profile .details-container .detail {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: left;
  align-items: center;
}
.edit-profile-container .edit-profile .details-container .detail .input-title {
  font-size: 16px;
  font-weight: 500;
  width: 310px;
  text-align: left;
}
.edit-profile-container .edit-profile .details-container .detail .number-of-branches-container {
  position: relative;
  transition: 0.4s;
  transform: scale(0);
  width: 120px;
}
.edit-profile-container .edit-profile .details-container .detail .number-of-branches-container .number-of-branches {
  padding: 10px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: #fe5631;
  width: 100%;
  text-align: center;
}
.edit-profile-container .edit-profile .details-container .detail .number-of-branches-container .numbers {
  background-color: #1dc295;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  color: white;
  top: -15px;
  right: -10px;
}
.edit-profile-container .edit-profile .details-container .detail .radios {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  width: 550px;
}
.edit-profile-container .edit-profile .details-container .detail .radios .radio {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  flex-direction: row-reverse;
}
.edit-profile-container .edit-profile .details-container .detail .time-container {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.edit-profile-container .edit-profile .details-container .detail .time-container .from-time,
.edit-profile-container .edit-profile .details-container .detail .time-container .to-time {
  width: 200px;
}
.edit-profile-container .edit-profile .details-container .detail .time-container p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.edit-profile-container .edit-profile .details-container .detail .time-container .text-input {
  width: 150px;
}
.edit-profile-container .edit-profile .details-container .detail .text-input {
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
  width: 800px;
}
.edit-profile-container .edit-profile .details-container .detail .text-input:hover {
  border-color: #fe5631;
}
.edit-profile-container .edit-profile .details-container .detail .text-input:focus {
  border-color: #fe5631;
}
.edit-profile-container .edit-profile .details-container .detail label {
  font-weight: 500;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container {
  list-style-type: none;
  width: 300px;
  margin: 0;
  position: relative;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container .heading {
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container .heading p {
  margin: 0;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container .heading span {
  color: #fe5631;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container .heading:hover {
  cursor: pointer;
  border-color: #fe5631;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container ::-webkit-scrollbar {
  width: 6px;
  background-color: lightgray;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container ::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 10px;
  background-color: rgb(66, 66, 66);
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container .select-box-list {
  position: absolute;
  list-style-type: none;
  background-color: rgb(245, 242, 242);
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: 0.2s;
  pointer-events: none;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 1;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container .select-box-list li {
  width: 100%;
  padding: 6px;
  transition: 0.5s;
}
.edit-profile-container .edit-profile .details-container .detail .selectbox-container .select-box-list li:hover {
  cursor: pointer;
  background-color: #fe5631;
  color: white;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox {
  list-style-type: none;
  width: 250px;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .heading {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .heading .heading-title {
  padding: 0px;
  margin: 0;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .heading span {
  color: #fe5631;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .heading:hover {
  cursor: pointer;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox ::-webkit-scrollbar {
  width: 5px;
  background: lightgray;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(63, 63, 63);
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .select-box-list {
  position: absolute;
  list-style-type: none;
  width: 250px;
  max-height: 400px;
  overflow-y: scroll;
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .select-box-list li {
  width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding: 5px;
  padding-left: 20px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
  border-radius: 5px;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .select-box-list li .list-item-name {
  width: 150px;
  font-size: 16px;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .select-box-list li input {
  position: relative;
  bottom: 6px;
}
.edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .select-box-list li .radio {
  bottom: -2px;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  width: 800px;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items .item {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items .item .item-name {
  font-size: 15px;
  color: black;
  margin: 0;
  padding: 0;
  width: 150px;
  text-align: center;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items .item .checkbox-input {
  position: relative;
  top: 2px;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items .item #Text-Input {
  width: 150px;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items #language,
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items #work-day {
  flex-direction: row-reverse;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items #delete-icon {
  font-size: 20px;
  color: #fe5631;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items #delete-icon:hover {
  cursor: pointer;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select #add-icon {
  font-size: 20px;
  color: #1dc295;
  transition: 0.4s;
  position: relative;
  top: 3px;
}
.edit-profile-container .edit-profile .details-container .detail .detail-items-to-select #add-icon:hover {
  cursor: pointer;
}
.edit-profile-container .edit-profile .details-container ::-webkit-scrollbar {
  width: 6px;
  background-color: lightgray;
}
.edit-profile-container .edit-profile .details-container ::-webkit-scrollbar-thumb {
  width: 6;
  border-radius: 10px;
  background-color: rgb(66, 66, 66);
}
.edit-profile-container .edit-profile .details-container .branches {
  height: 700px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.edit-profile-container .edit-profile .details-container .branches .branch {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  transition: 0.5s;
  position: relative;
}
.edit-profile-container .edit-profile .details-container .branches .branch .branch-details {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.edit-profile-container .edit-profile .details-container .branches .branch .branch-details .detail input {
  width: 200px;
}
.edit-profile-container .edit-profile .details-container .branches .branch .branch-details .detail ul {
  width: 200px;
}
.edit-profile-container .edit-profile .details-container .branches .branch .edit-branch-btn {
  border-radius: 50%;
  border: 1.5px solid white;
  background-color: transparent;
  position: absolute;
  right: 50px;
  top: 40%;
}
.edit-profile-container .edit-profile .details-container .branches .branch .edit-branch-btn span {
  padding: 10px;
  border-radius: 50%;
  color: white;
  background-color: #1dc295;
  transition: 0.4s;
  font-size: 20px;
}
.edit-profile-container .edit-profile .details-container .branches .branch .edit-branch-btn span:hover {
  cursor: pointer;
  background: #199473;
}
.edit-profile-container .edit-profile .details-container .branches .branch .edit-branch-btn #save {
  background-color: #fe5631;
  margin-top: 20px;
}
.edit-profile-container .edit-profile .details-container .branches .branch .edit-branch-btn #save:hover {
  background-color: rgb(233, 71, 35);
}
.edit-profile-container .edit-profile .details-container .branches .add-anothert-branch-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fe5631;
  color: white;
  transition: 0.4s;
  font-weight: 500;
  width: 120px;
}
.edit-profile-container .edit-profile .details-container .branches .add-anothert-branch-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}

@media only screen and (max-width: 1200px) {
  .edit-profile-container .edit-profile .details-container .detail .text-input {
    width: 600px;
  }
  .edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items {
    width: 600px;
  }
}
@media only screen and (max-width: 1080px) {
  .edit-profile-container .edit-profile .details-container .detail .radios {
    width: 300px;
  }
  .edit-profile-container .edit-profile .details-container .detail .text-input {
    width: 400px;
  }
  .edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items {
    width: 400px;
  }
}
@media only screen and (max-width: 780px) {
  .edit-profile-container .edit-profile .details-container .detail .radios {
    width: 200px;
  }
  .edit-profile-container .edit-profile .details-container .detail .text-input {
    width: 300px;
  }
  .edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items {
    width: 300px;
  }
}
@media only screen and (max-width: 680px) {
  .edit-profile-container .edit-profile .details-container .detail {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .detail .radios {
    width: 100%;
    align-items: flex-start;
    justify-content: left;
  }
  .edit-profile-container .edit-profile .details-container .detail .radios .radio {
    width: 50px;
  }
  .edit-profile-container .edit-profile .details-container .detail .text-input {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .detail .input-title {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .detail .selectbox-container {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .detail .selectbox-container .select-box-list {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .detail .detail-items-to-select .detail-items {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .detail .checkbox-selectbox .select-box-list {
    width: 90%;
  }
  .edit-profile-container .edit-profile .details-container .detail div {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .short-inputs .detail .text-input {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .short-inputs .detail .checkbox-selectbox {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .short-inputs .detail .checkbox-selectbox .select-box-list {
    width: 90%;
  }
  .edit-profile-container .edit-profile .details-container .short-inputs .detail .selectbox-container {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .short-inputs .detail .selectbox-container .select-box-list {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .short-inputs .detail div {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .short-inputs #Detail input {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .branches .branch .branch-details .detail input {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .branches .branch .branch-details .detail ul {
    width: 100%;
  }
  .edit-profile-container .edit-profile .details-container .branches .branch .edit-branch-btn {
    top: 0;
    right: 0;
    bottom: 0;
  }
  .edit-profile-container .edit-profile .details-container .branches .branch .edit-branch-btn span {
    margin-left: 10px;
  }
}/*# sourceMappingURL=EditProfile.css.map */