* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.rules-container .rules {
  margin: auto;
  width: 1300px;
}
.rules-container .rules h1 {
  text-align: center;
  color: #fe5631;
}
.rules-container .rules .heading {
  font-size: 20px;
  font-weight: 500;
  color: #1dc295;
}
.rules-container .rules .sub-list {
  padding: 5px;
}
.rules-container .rules .sub-list li {
  font-size: 16px;
}/*# sourceMappingURL=Rules.css.map */