$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.rules-container{
    .rules{
        margin: auto;
        width: 1300px;
        h1{
            text-align: center;
            color: $primarycolor;
        }
        .heading{
            font-size: 20px;
            font-weight: 500;
            color: $hovercolor;
        }
        .sub-list{
            padding: 5px;
            li{
                font-size: 16px;
            }
        }
    }
}