* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-us-container p {
  margin: 0;
  padding: 0;
}
.contact-us-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact-us-container .header .title {
  font-size: 35px;
  text-align: center;
}
.contact-us-container .header .description {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  width: 700px;
}
.contact-us-container .desc {
  font-weight: 550;
  margin-top: 10px;
}
.contact-us-container .container {
  text-align: center;
  font-size: 17px;
}
.contact-us-container .container .link {
  color: #fe5631;
  font-weight: 500;
}
.contact-us-container .container .link img {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=ContactUs.css.map */