$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.contact-us-container{
  p {
    margin: 0;
    padding: 0;
  }
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
  
      .title {
        font-size: 35px;
        text-align: center;
      }
  
      .description {
        font-size: 17px;
        text-align: center;
        margin-top: 10px;
        width: 700px;
      }
    }
    .desc{
        font-weight: 550;
        margin-top: 10px;
    }
    .container {
      text-align: center;
      font-size: 17px;
    .link{
        // display: flex;
        // align-items: center;
        // column-gap: 50px;
        // margin-top: 15px;
        img{
            width: 30px;
            height: 30px;
        }
        color: $primarycolor;
        font-weight: 500;
    }
    }
}
