.show-image-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
}
.show-image-container ::-webkit-scrollbar {
  display: none;
}
.show-image-container .image-preview-and-details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.show-image-container .image-preview-and-details-container .image-preview {
  width: 60%;
  height: 100%;
  background-color: black;
  position: relative;
}
.show-image-container .image-preview-and-details-container .image-preview .image-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.show-image-container .image-preview-and-details-container .image-preview .image-options .option-icon {
  color: white;
  font-size: 35px;
}
.show-image-container .image-preview-and-details-container .image-preview .image-options .option-icon:hover {
  cursor: pointer;
}
.show-image-container .image-preview-and-details-container .image-preview .image-options .zoom {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.show-image-container .image-preview-and-details-container .image-preview .image {
  width: 95%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  overflow: scroll;
}
.show-image-container .image-preview-and-details-container .image-preview .image img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s;
}
.show-image-container .image-preview-and-details-container .image-details-container {
  width: 40%;
  height: 100%;
}
.show-image-container .image-preview-and-details-container .image-details-container .image-details-title {
  text-align: center;
  padding: 10px;
  background-color: #1dc295;
  font-weight: 600;
  color: white;
  font-size: 16px;
}
.show-image-container .image-preview-and-details-container .image-details-container .image-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
  overflow: scroll;
}
.show-image-container .image-preview-and-details-container .image-details-container .image-details .title {
  font-weight: 600;
}
.show-image-container .image-preview-and-details-container .image-details-container .image-details .categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.show-image-container .image-preview-and-details-container .image-details-container .image-details .categories .category {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  color: black;
  font-weight: 600;
  background-color: rgb(197, 193, 193);
}

@media only screen and (max-width: 990px) {
  .show-image-container {
    height: 100%;
  }
  .show-image-container .image-preview-and-details-container {
    flex-direction: column;
  }
  .show-image-container .image-preview-and-details-container .image-preview {
    width: 100%;
    height: 50%;
  }
  .show-image-container .image-preview-and-details-container .image-preview .image-options {
    background-color: black;
    z-index: 9999;
  }
  .show-image-container .image-preview-and-details-container .image-preview .image {
    width: 95%;
    height: 95%;
  }
  .show-image-container .image-preview-and-details-container .image-details-container {
    width: 100%;
    height: 50%;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .show-image-container .image-preview-and-details-container .image-preview .image {
    width: 300px;
  }
}/*# sourceMappingURL=ShowImage.css.map */