$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
 
.show-image-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  ::-webkit-scrollbar{
    display: none;
  } 
  .image-preview-and-details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .image-preview {
      width: 60%;
      height: 100%;
      background-color: black;
      position: relative;

      .image-options {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .option-icon {
          color: white;
          font-size: 35px;
          &:hover {
            cursor: pointer;
          }
        }
        .zoom {
          display: flex;
          column-gap: 50px;
        }
      }
      .image {
        width: 95%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        overflow: scroll;
        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: 0.5s;
        }
      }
    }
    .image-details-container {
      width: 40%;
      height: 100%;
      .image-details-title {
        text-align: center;
        padding: 10px;
        background-color: $hovercolor;
        font-weight: 600;
        color: white;
        font-size: 16px;
      }
      .image-details {
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        height: 100%;
        overflow: scroll;
        .title {
          font-weight: 600;
        }
        .categories{
          display: flex;
          flex-wrap: wrap;
          row-gap: 10px;
          column-gap: 20px;
          .category{
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius:20px;
            color: black;
            font-weight: 600;
            background-color: rgb(197, 193, 193);
          }
        }
      }
    }
  }
}



@media only screen and (max-width:990px) {
  .show-image-container{
    height: 100%;
    .image-preview-and-details-container{
      flex-direction: column;
      .image-preview{
        width: 100%;
        height: 50%;
        .image-options{
          background-color: black;
          z-index: 9999;
        }
        .image{
width: 95%;
height: 95%;
        }
      }
      .image-details-container{
        width: 100%;
height: 50%;
padding-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width:400px) {
  .show-image-container{
    .image-preview-and-details-container{
      .image-preview{
        .image{
          width: 300px;
        }
      }
    }
  }
}