$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  position: relative;
  margin-top: 20px;


  .arrows {
    width: 95%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: $primarycolor;
      transition: 0.5s;
      background-color: white;
      padding: 10px;
      border-radius: 50%;
      box-shadow: 0 0 3px #d3d3d3;
      position: relative;
      z-index: 1;

      &:hover {
        color: white;
        background-color: $primarycolor;
        cursor: pointer;
      }
    }
  }

  .carousel-images {
    width: 95%;
    height: 100%;
    overflow-x: hidden;

    .carousel {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: black;
      transition: 0.6s;
      border-radius: 4px;

      .carousel-img {
        min-width: 100%;
        min-height: 100%;
        border-radius: 4px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 4px;
          background-color: black;
        }
      }
    }
  }
}

@media only screen and (max-width:1000px) {}