* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  position: relative;
  margin-top: 20px;
}
.carousel-container .arrows {
  width: 95%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-container .arrows span {
  color: #fe5631;
  transition: 0.5s;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 3px #d3d3d3;
  position: relative;
  z-index: 1;
}
.carousel-container .arrows span:hover {
  color: white;
  background-color: #fe5631;
  cursor: pointer;
}
.carousel-container .carousel-images {
  width: 95%;
  height: 100%;
  overflow-x: hidden;
}
.carousel-container .carousel-images .carousel {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 0.6s;
  border-radius: 4px;
}
.carousel-container .carousel-images .carousel .carousel-img {
  min-width: 100%;
  min-height: 100%;
  border-radius: 4px;
}
.carousel-container .carousel-images .carousel .carousel-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
  background-color: black;
}/*# sourceMappingURL=Carousel.css.map */