$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.Property-req-container {
  p {
    margin: 0;
  }

  .properties-featured-properties-container {
    .titleanddesc {
      row-gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 35px;
      }
      .desc {
        font-size: 17px;
        color: rgb(90, 90, 90);
        width: 800px;
        text-align: center;
      }
    }
    .no-product-found {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 400px;
      p {
        margin: 0;
        color: rgb(123, 122, 122);
        font-size: 25px;
        font-weight: 500;
        font-variant: small-caps;
      }
    }
    .Featured-properties-container {
      overflow-y: hidden;
      margin-top: 50px;
      .Ffeatured-properties {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        transition: 1s;

        .Featured-properties-property {
          border-radius: 5px;
          width: 420px;
          height: 670px;
          border: 1px solid lightgray;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .upper {
            position: relative;
            padding: 10px;
            min-height: 350px;

            .tag {
              background-color: $hovercolor;
              border-radius: 5px;
              font-weight: 500;
              width: 120px;
              text-align: center;
              font-size: 16px;
              letter-spacing: 0.7px;
              color: white;
              padding: 5px;
              position: absolute;
              margin-left: 10px;
              margin-top: 10px;
              transition: 0.5s;
            }
            #interior-tag {
              background-color: #0000ff;
            }
            #construction-tag {
              width: 150px;
            }
            .price {
              font-weight: 500;
              // border-radius: 50%;
              width: 120px;
              height: 40px;
              background-color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 18px;
              color: $primarycolor;
              letter-spacing: 0.5px;
              position: absolute;
              right: 20px;
              bottom: 20px;
              z-index: 1;
              box-shadow: 0 0 2px rgb(209, 207, 207);
              transition: 0.5s;
              border: none;
              border-radius: 4px;
            }
            .upper-img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              object-fit: cover;
            }
            .sold-out-img {
              width: 70px;
              position: absolute;
              right: 20px;
              top: 15px;
            }
          }

          .middle {
            padding: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            justify-content: space-between;
            padding-bottom: 15px;
            width: 100%;
            height: 320px;
            .address {
              color: $primarycolor;
              font-size: 16px;
              font-weight: 500;
              width: 100%;
              display: flex;
              column-gap: 10px;
              justify-content: left;
              align-items: baseline;
            }

            .property-title {
              font-size: 22px;
              font-weight: bolder;
              width: 100%;
            }
            .apartmentandsize {
              width: 100%;
              font-weight: 500;
            }
            .other-details {
              display: flex;
              column-gap: 7px;
              flex-wrap: wrap;
              width: 400px;
              align-items: center;
              .dtl {
                // display: flex;
                // column-gap: 5px;
                // flex-wrap: wrap;

                // span{
                //   color: rgb(107, 106, 106);
                // }
                width: 120px;

                p {
                  color: rgb(107, 106, 106);
                  font-size: 13.5px;
                  font-weight: 500;
                  text-align: center;
                  width: 120px;
                }
              }
              .border {
                background-color: lightgray;
                width: 1px;
                height: 40px;
              }
            }
            border-bottom: 1px solid lightgray;
          }

          .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .rating {
              display: flex;
              column-gap: 20px;

              align-items: center;
              .stars {
                color: rgb(248, 180, 42);
                span {
                  font-size: 22px;
                }
              }
              .rating-name {
                font-size: 17px;
                color: rgb(107, 105, 105);
                position: relative;
                bottom: 2px;
                font-weight: 500;
              }
            }
          }
          &:hover {
            .tag,
            #interior-tag {
              background-color: $primarycolor;
            }
            .price {
              background-color: $primarycolor;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1345px) {
  .Property-req-container {
    .properties-featured-properties-container {
      .Featured-properties-container {
        .Ffeatured-properties {
          .Featured-properties-property {
            .upper {
              img {
                min-width: 350px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Property-req-container {
    .properties-featured-properties-container {
      .Featured-properties-container {
        .Ffeatured-properties {
          .featured-properties-property {
            .upper {
              img {
                width: 400px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .Property-req-container {
    .properties-featured-properties-container {
      .titleanddesc {
        .desc {
          width: 500px;
        }
      }
      .Featured-properties-container {
        .Ffeatured-properties {
          .featured-properties-property {
            .upper {
              img {
                width: 320px;
              }
            }

            .bottom {
              flex-direction: column;
              justify-content: left;
              align-items: flex-start;
              row-gap: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .Property-req-container {
    .properties-featured-properties-container {
      .Featured-properties-container {
        .Ffeatured-properties {
          .Featured-properties-property {
            width: 100%;
            height: 785px;
            .upper {
              width: 100%;
              img {
                min-width: 95%;
              }
            }
            .middle {
              .address {
                flex-direction: column;
                align-items: flex-start;
                .addrss {
                  width: 100%;
                }
                .title {
                  width: 100%;
                }
              }
              .other-details {
                width: 95%;
                row-gap: 10px;
              }
            }
            .bottom {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              row-gap: 10px;
            }
          }
        }
      }
    }
  }
}
