.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container a {
  background-color: #fe5631;
  padding: 18px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  transition: 0.4s;
  border: none;
  text-decoration: none;
}
.button-container a:hover {
  cursor: pointer;
  background-color: #1dc295;
}/*# sourceMappingURL=Button.css.map */