$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

.button-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  a{
    background-color: $primarycolor;
   padding: 18px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
   transition: .4s;
   border: none;
   text-decoration: none;
   &:hover{
     cursor: pointer;
     background-color: $hovercolor;
   }
  }
}
