* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.howwework-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.howwework-container p {
  margin: 0;
}
.howwework-container .title {
  font-size: 35px;
  text-align: center;
}
.howwework-container .arrows {
  width: 95%;
  position: absolute;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.howwework-container .arrows i {
  padding: 13px;
  font-size: 14px;
  color: #fe5631;
  box-shadow: 0 0 1px rgb(180, 177, 177);
  border-radius: 50%;
  position: relative;
  pointer-events: auto;
  background-color: white;
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}
.howwework-container .arrows i:hover {
  cursor: pointer;
  color: white;
  background-color: #fe5631;
}
.howwework-container .arrows #left {
  right: 0;
}
.howwework-container .arrows #right {
  left: 0;
}
.howwework-container .alltestimonials {
  width: 95%;
  overflow-x: hidden;
  overflow: hidden;
}
.howwework-container .alltestimonials .Testimonials {
  display: flex;
}
.howwework-container .alltestimonials .Testimonials .Testimonial {
  background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Home/HowWeWork/coverImage.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 50px;
  min-width: 100%;
  border-radius: 10px;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
  transition: all 1.5s;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside i {
  font-size: 40px;
  color: white;
  transition: 0.5s;
  position: relative;
  transition: 0.5s;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside .heading {
  color: white;
  font-size: 30px;
  text-decoration: underline;
  letter-spacing: 1px;
  text-decoration-color: #fe5631;
  font-variant: small-caps;
  position: relative;
  transition: 0.5s;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside .reviews {
  position: relative;
  transition: 0.5s;
  margin-top: 50px;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside .review {
  margin-top: 20px;
  font-size: 500;
  font-size: 20px;
  color: white;
  transition: 0.5s;
  position: relative;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside .author {
  margin-top: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
  transition: 0.5s;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside .author img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside .author .about-author p {
  font-size: 16px;
  color: white;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .leftside .author .about-author .author-name {
  font-size: 20px;
  font-weight: 500;
}
.howwework-container .alltestimonials .Testimonials .Testimonial .rightside img {
  width: 400px;
  height: 450px;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.howwework-container:hover .arrows i {
  opacity: 1;
}
.howwework-container:hover .arrows #left {
  right: 20px;
}
.howwework-container:hover .arrows #right {
  left: 20px;
}

@media only screen and (max-width: 1275px) {
  .howwework-container .alltestimonials .Testimonials .Testimonial .leftside .review {
    font-size: 23px;
  }
  .howwework-container .alltestimonials .Testimonials .Testimonial .rightside img {
    width: 350px;
    height: 330px;
  }
}
@media only screen and (max-width: 1070px) {
  .howwework-container .alltestimonials .Testimonials .Testimonial .leftside .review {
    font-size: 20px;
    line-height: 1.5;
  }
  .howwework-container .alltestimonials .Testimonials .Testimonial .rightside img {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 890px) {
  .howwework-container .arrows {
    width: 100%;
    top: 30%;
  }
  .howwework-container .arrows i {
    opacity: 1;
  }
  .howwework-container .alltestimonials .Testimonials .Testimonial {
    padding: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    row-gap: 15px;
  }
  .howwework-container .alltestimonials .Testimonials .Testimonial .leftside .review {
    font-size: 16.5px;
  }
  .howwework-container .alltestimonials .Testimonials .Testimonial .rightside img {
    min-width: 100%;
  }
  .howwework-container:hover .arrows #left {
    right: 0;
  }
  .howwework-container:hover .arrows #right {
    left: 0;
  }
}/*# sourceMappingURL=Howwework.css.map */