$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.howwework-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  p {
    margin: 0;
  }
  .title {
    font-size: 35px;
    text-align: center;
  }
  .arrows {
    width: 95%;
    position: absolute;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    i {
      padding: 13px;
      font-size: 14px;
      color: $primarycolor;
      box-shadow: 0 0 1px rgb(180, 177, 177);
      border-radius: 50%;
      position: relative;
      pointer-events: auto;
      background-color: white;
      transition: 0.5s;
      opacity: 0;
      z-index: 1;
      &:hover {
        cursor: pointer;
        color: white;
        background-color: $primarycolor;
      }
    }
    #left {
      right: 0;
    }
    #right {
      left: 0;
    }
  }
  .alltestimonials {
    width: 95%;
    overflow-x: hidden;
    overflow: hidden;
    .Testimonials {
      display: flex;
      .Testimonial {
        background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Home/HowWeWork/coverImage.jpg");
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        padding: 50px;
        min-width: 100%;
        border-radius: 10px;

        .leftside {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content:flex-start;
          i {
            font-size: 40px;
            color: white;
            transition: 0.5s;
            position: relative;
            transition: 0.5s;
          }
          .heading {
            color: white;
            font-size: 30px;
            text-decoration: underline;
            letter-spacing: 1px;
            text-decoration-color: $primarycolor;
            font-variant: small-caps;
            position: relative;
            transition: 0.5s;
           
          }
          .reviews {
            position: relative;
            transition: 0.5s;
            margin-top: 50px;
          }
          .review {
            margin-top: 20px;
            font-size: 500;
            font-size: 20px;
            color: white;
            transition: 0.5s;
            position: relative;
          }
          .author {
            margin-top: 20px;
            display: flex;
            align-items: center;
            column-gap: 20px;
            position: relative;
            transition: 0.5s;
            img {
              width: 70px;
              height: 70px;
              border-radius: 50%;
            }
            .about-author {
              p {
                font-size: 16px;
                color: white;
              }
              .author-name {
                font-size: 20px;
                font-weight: 500;
              }
            }
          }
          opacity: 1;
          transition: all 1.5s;
        }
        .rightside {
          img {
            width: 400px;
            height: 450px;
            border-radius: 10px;
            transition: 0.5s;
            opacity: 1;
            position: relative;
            object-fit: cover;
          }
        }
      }
    }
  }

  &:hover {
    .arrows {
      i {
        opacity: 1;
      }
      #left {
        right: 20px;
      }
      #right {
        left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1275px) {
  .howwework-container {
    .alltestimonials {
      .Testimonials {
        .Testimonial {
          .leftside {
            .review {
              font-size: 23px;
            }
          }
          .rightside {
            img {
              width: 350px;
              height: 330px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1070px) {
  .howwework-container {
    .alltestimonials {
      .Testimonials {
        .Testimonial {
          .leftside {
            .review {
              font-size: 20px;
              line-height: 1.5;
            }
          }
          .rightside {
            img {
              width: 300px;
              height: 300px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 890px) {
  .howwework-container {
    .arrows {
      width: 100%;
      top: 30%;
      i {
        opacity: 1;
      }
    }
    .alltestimonials {
      .Testimonials {
        .Testimonial {
          padding: 10px;
          flex-direction: column-reverse;
          justify-content: center;
          row-gap: 15px;
          .leftside {
            .review {
              font-size: 16.5px;
            }
          }
          .rightside {
            img {
              min-width: 100%;
            }
          }
        }
      }
    }
    &:hover {
      .arrows {
        #left {
          right: 0;
        }
        #right {
          left: 0;
        }
      }
    }
  }
}
