$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.companies-container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .motto-line {
    h1 {
      text-align: center;
      font-size: 40px;
   
    }
  }
  .companies-logos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    .company-logo {
      box-shadow: 3px 3px 3px lightgrey;
      padding: 25px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 5px;
      margin: 3px;
      border: none;
      outline: none;
      img {
        width: 200px;
        height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .companies-container {
    .companies-logos {
      grid-template-columns: auto auto auto auto;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .companies-container {
    .companies-logos {
      grid-template-columns: auto auto auto;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .companies-container {
    .companies-logos {
      grid-template-columns: auto auto;
    }
  }
}

@media only screen and (max-width: 800px) {
  .companies-container {
    .companies-logos {
      grid-template-columns: auto auto;
      .company-logo {
        img {
          width: 100px;
          height: 50px;
        }
      }
    }
  }
}
