$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.property-options-container {
  margin-top: 100px;
  width: 100%;
  background-color: #f2fbfc;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 100px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid lightgray;
  p {
    margin: 0;
  }

  .property-options {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    justify-content: center;
    align-content: center;
    row-gap: 20px;

    .optionn {
      width: 450px;
      height: auto;
      background-color: white;
      border-radius: 8px;
      padding: 25px;
      box-shadow: 0 0 2px rgb(238, 238, 238);

      transition: all 0.7s;
      position: relative;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 400px;
        height: 200px;
      }

      p {
        line-height: 1.5;
        font-size: 16.5px;
        color: rgb(88, 88, 88);
        font-weight: 490;
        text-align: center;
      }
      .button {
        margin-top: 20px;
      }

      &:hover {
        bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .property-options-container {
    .property-options {
      .optionn {
        width: 320px;
        img {
          width: 270px;
          height: 150px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .property-options-container {
    .property-options {
      .optionn {
        width: auto;
        img {
          width: 470px;
          height: auto;
        }
        p {
          width: 470px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .property-options-container {
    padding-left: 10px;
    padding-right: 10px;
    .property-options {
    
      .optionn {
        min-width: 95%;
        img {
          width: 100%;
          height: auto;
        }
        h2 {
          text-align: left;
        }
        p {
          width: 100%;
          text-align: left;
        }
       
      }
    }
  }
}
