$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

.sign-in-required-modall {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(164, 164, 164);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    h1 {
        color: $primarycolor;
        text-align:center;
    }

    a {
        padding: 10px;
        border-radius: 50px;
        background-color: $hovercolor ;
        font-weight: 600;
        font-size: 16px;
        color: white;
        text-decoration: none;

        &:hover {
            opacity: 0.6;
        }
    }
}

@media only screen and (max-width:700px) {
    .sign-in-required-modall{
        width: 95%;
        
    }
}