.sign-in-required-modall {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(164, 164, 164);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.sign-in-required-modall h1 {
  color: #fe5631;
  text-align: center;
}
.sign-in-required-modall a {
  padding: 10px;
  border-radius: 50px;
  background-color: #1dc295;
  font-weight: 600;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.sign-in-required-modall a:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 700px) {
  .sign-in-required-modall {
    width: 95%;
  }
}/*# sourceMappingURL=SignInRequired.css.map */