* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.post-property-requirements-container .title {
  font-size: 35px;
  text-align: center;
}
.post-property-requirements-container .post-property-requirements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-property-requirements-container .post-property-requirements .property-requirements {
  width: 1200px;
  box-shadow: 0 0 2px lightgray;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-title {
  font-size: 20.5px;
  font-weight: 500;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #fe5631;
  text-align: center;
  padding: 10px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-desc {
  margin: 0;
  font-size: 16px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .service-inputs-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .property-condition-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container {
  display: flex;
  justify-content: left;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .input-title {
  font-size: 16px;
  font-weight: 500;
  width: 555px;
  text-align: left;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .text-input {
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
  width: 550px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .text-input:hover {
  border-color: #fe5631;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .text-area {
  width: 40%;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
  height: 200px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .text-area:hover {
  border-color: #fe5631;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container #pincode {
  width: 20%;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container {
  list-style-type: none;
  width: 300px;
  margin: 0;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container .heading {
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container .heading p {
  margin: 0;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container .heading span {
  color: #fe5631;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container .heading:hover {
  cursor: pointer;
  border-color: #fe5631;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container ::-webkit-scrollbar {
  width: 6px;
  background-color: lightgray;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container ::-webkit-scrollbar-thumb {
  width: 6;
  border-radius: 10px;
  background-color: rgb(66, 66, 66);
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container .select-box-list {
  position: absolute;
  list-style-type: none;
  background-color: rgb(245, 242, 242);
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: 0.2s;
  pointer-events: none;
  max-height: 300px;
  overflow-y: scroll;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container .select-box-list li {
  width: 100%;
  padding: 6px;
  transition: 0.5s;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .selectbox-container .select-box-list li:hover {
  cursor: pointer;
  background-color: #fe5631;
  color: white;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .radios {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  width: 550px;
}
.post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .radios .radio {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  flex-direction: row-reverse;
}
.post-property-requirements-container .post-property-requirements .post-property-req-btn {
  padding: 10px;
  border-radius: 3px;
  background-color: #fe5631;
  border: none;
  transition: 0.5s;
  font-size: 16.5px;
  letter-spacing: 1px;
  color: white;
  margin-top: 20px;
}
.post-property-requirements-container .post-property-requirements .post-property-req-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}

@media only screen and (max-width: 1300px) {
  .post-property-requirements-container .post-property-requirements .property-requirements {
    width: 900px;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .input-title {
    width: 450px;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .text-input {
    width: 400px;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .radios {
    width: 400px;
  }
}
@media only screen and (max-width: 950px) {
  .post-property-requirements-container .post-property-requirements .property-requirements {
    width: 700px;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .input-title {
    width: 350px;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .text-input {
    width: 300px;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .radios {
    width: 200px;
  }
}
@media only screen and (max-width: 750px) {
  .post-property-requirements-container .post-property-requirements .property-requirements {
    width: 95%;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement {
    row-gap: 20px;
    width: 100%;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .input-title {
    width: 90%;
    text-align: left;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .text-input {
    width: 90%;
  }
  .post-property-requirements-container .post-property-requirements .property-requirements .requirement .requirement-details .input-container .radios {
    width: 90%;
    row-gap: 10px;
    margin-top: 10px;
  }
}/*# sourceMappingURL=Renew.css.map */