* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.service-professionalss-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.service-professionalss-container p {
  margin: 0;
}
.service-professionalss-container .title {
  text-align: center;
  font-size: 40px;
}
.service-professionalss-container .description {
  margin-top: 19px;
  width: 700px;
  text-align: center;
  font-size: 17.5px;
  line-height: 1.6;
  font-weight: 450;
  color: rgb(63, 63, 63);
}
.service-professionalss-container:hover .arrows i {
  opacity: 1;
}
.service-professionalss-container:hover .arrows #left-arrow {
  right: 10px;
}
.service-professionalss-container:hover .arrows #right-arrow {
  left: 10px;
}
.service-professionalss-container .arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 250px;
  transition: 0.6s;
  pointer-events: none;
  z-index: 1;
}
.service-professionalss-container .arrows i {
  pointer-events: auto;
  color: #fe5631;
  position: relative;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 2px lightgray;
  padding: 15px;
  font-size: 15px;
  font-weight: bolder;
  transition: 0.5s;
  opacity: 0;
}
.service-professionalss-container .arrows i:hover {
  color: white;
  background-color: #fe5631;
  cursor: pointer;
}
.service-professionalss-container .arrows #left-arrow {
  right: 0;
}
.service-professionalss-container .arrows #right-arrow {
  left: 0;
}
.service-professionalss-container .service-professionals {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.service-professionalss-container .service-professionals .properties {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  transition: 0.5s;
}
.service-professionalss-container .service-professionals .properties .agent {
  width: 445px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.service-professionalss-container .service-professionals .properties .agent .upper {
  padding: 5px;
  line-height: 1.9;
  position: relative;
}
.service-professionalss-container .service-professionals .properties .agent .upper .prime-membership-logo-container {
  width: 20%;
  height: 20%;
}
.service-professionalss-container .service-professionals .properties .agent .upper .prime-membership-logo-container .prime-membership-logo {
  position: absolute;
  right: 2%;
  top: 5px;
  width: 140px;
  height: 60px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons {
  height: 375px;
  overflow: hidden;
  background-color: rgb(236, 233, 233);
  border-radius: 10px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons img {
  width: 432px;
  border-radius: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 20px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a {
  color: rgb(32, 28, 45);
  transition: 0.2s;
  position: relative;
  bottom: 0;
  text-decoration: none;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: white;
  background-color: rgb(32, 28, 45);
  border-radius: 50%;
  transition: 0.6s;
  position: relative;
  bottom: 0;
  opacity: 0;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a i:hover {
  color: #fe5631;
  background-color: white;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a #insta {
  transition-delay: 0.1s;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a #twt {
  transition-delay: 0.6s;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a #pin {
  transition-delay: 0.3s;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a #quora {
  transition-delay: 0.4s;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a #linkedin {
  transition-delay: 0.2s;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a #reddit {
  transition-delay: 0.5s;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a #youtube {
  transition-delay: 0.7s;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a:hover {
  bottom: 5px;
  color: white;
}
.service-professionalss-container .service-professionals .properties .agent .upper .imgandicons:hover .social-icons i {
  opacity: 1;
  bottom: 80px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details {
  padding-left: 10px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .addressandmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .addressandmail .address {
  font-size: 16px;
  color: #fe5631;
  font-weight: 500;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .addressandmail a {
  text-decoration: none;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .addressandmail a #mail-icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fe5631;
  background-color: rgb(255, 234, 229);
  transition: 0.4s;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .addressandmail a:hover #mail-icon {
  color: white;
  background-color: #fe5631;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .name {
  font-size: 22px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .properties {
  color: rgb(148, 147, 147);
  font-weight: 500;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .profession {
  font-size: 16px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .address {
  color: #fe5631;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .address .left-side {
  color: black;
  font-size: 16.5px;
  font-weight: bold;
}
.service-professionalss-container .service-professionals .properties .agent .upper .details .address .right-side {
  color: rgb(87, 87, 87);
}
.service-professionalss-container .service-professionals .properties .agent .upper .rating {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  margin-top: 10px;
  align-items: center;
}
.service-professionalss-container .service-professionals .properties .agent .upper .rating i {
  color: rgb(248, 180, 42);
  font-size: 14px;
}
.service-professionalss-container .service-professionals .properties .agent .upper .rating p {
  color: rgb(116, 114, 114);
}
.service-professionalss-container .service-professionals .properties .agent .upper .verified-img {
  width: 70px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.service-professionalss-container .service-professionals .properties .agent .telandbtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid lightgray;
}
.service-professionalss-container .service-professionals .properties .agent .telandbtn .tel {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: black;
  font-size: 17px;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
}
.service-professionalss-container .service-professionals .properties .agent .telandbtn .tel:hover {
  color: #fe5631;
}
.service-professionalss-container .service-professionals .properties .agent .telandbtn .tel i {
  color: rgb(65, 64, 64);
  font-size: 12px;
}
.service-professionalss-container .viewallapartment {
  margin-top: 20px;
}

@media only screen and (max-width: 1430px) {
  .service-professionalss-container .service-professionals .properties .agent {
    width: 400px;
    height: auto;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons {
    height: 330px;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons img {
    width: 375px;
  }
}
@media only screen and (max-width: 1260px) {
  .service-professionalss-container .service-professionals .properties .agent {
    width: 320px;
    height: auto;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons {
    height: 275px;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons img {
    width: 310px;
  }
  .service-professionalss-container .service-professionals .properties .agent .telandbtn {
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1060px) {
  .service-professionalss-container .service-professionals .properties .agent {
    width: 400px;
    height: auto;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons {
    height: 340px;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons img {
    width: 390px;
  }
  .service-professionalss-container .service-professionals .properties .agent .telandbtn {
    flex-direction: row;
    row-gap: 20px;
    align-items: center;
  }
}
@media only screen and (max-width: 870px) {
  .service-professionalss-container .service-professionals .properties .agent {
    width: 400px;
    height: auto;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .social-icons a i {
    opacity: 1;
    bottom: 80px;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .social-icons a:hover {
    bottom: 0;
  }
  .service-professionalss-container .service-professionals .properties .agent .telandbtn {
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (max-width: 500px) {
  .service-professionalss-container:hover .arrows #left-arrow {
    right: 0;
  }
  .service-professionalss-container:hover .arrows #right-arrow {
    left: 0;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a {
    bottom: 80px;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a i {
    opacity: 1;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons .social-icons a:hover {
    bottom: 0;
  }
  .service-professionalss-container .service-professionals .properties .agent .upper .imgandicons:hover .social-icons i {
    opacity: 1;
    bottom: 0;
  }
  .service-professionalss-container .service-professionals .properties .agent .telandbtn {
    flex-direction: column;
    align-items: flex-start;
  }
}/*# sourceMappingURL=ServiceProfessionals.css.map */