$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.service-professionalss-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 100%;

  p {
    margin: 0;
  }

  .title {
    text-align: center;
    font-size: 40px;
  }

  .description {
    margin-top: 19px;
    width: 700px;
    text-align: center;
    font-size: 17.5px;
    line-height: 1.6;
    font-weight: 450;
    color: rgb(63, 63, 63);
  }

  &:hover {
    .arrows {
      i {
        opacity: 1;
      }

      #left-arrow {
        right: 10px;
      }

      #right-arrow {
        left: 10px;
      }
    }
  }

  .arrows {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 250px;

    transition: 0.6s;
    pointer-events: none;

    z-index: 1;

    i {
      pointer-events: auto;
      color: $primarycolor;
      position: relative;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 0 2px lightgray;
      padding: 15px;
      font-size: 15px;
      font-weight: bolder;
      transition: 0.5s;
      opacity: 0;

      &:hover {
        color: white;
        background-color: $primarycolor;
        cursor: pointer;
      }
    }

    #left-arrow {
      right: 0;
    }

    #right-arrow {
      left: 0;
    }
  }

  .service-professionals {
    overflow: hidden;
    position: relative;
    width: 100%;

    .properties {
      display: flex;
      column-gap: 20px;
      transition: 0.5s;

      //use
      .agent {
        width: 445px;
        height: auto;
        border: 1px solid lightgray;
        border-radius: 5px;

        .upper {
          padding: 5px;
          line-height: 1.9;
          position: relative;

          .imgandicons {
            height: 375px;
            overflow: hidden;
            background-color: rgb(236, 233, 233);
            border-radius: 10px;

            img {
              width: 432px;
              border-radius: 10px;
              height: 100%;
              object-fit: cover;
            }

            .social-icons {
              display: flex;
              column-gap: 10px;
              padding: 20px;

              a {
                color: rgb(32, 28, 45);
                transition: 0.2s;
                position: relative;
                bottom: 0;
                text-decoration: none;

                i {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 35px;
                  height: 35px;
                  color: white;
                  background-color: rgb(32, 28, 45);
                  border-radius: 50%;
                  transition: 0.6s;
                  position: relative;
                  bottom: 0;
                  opacity: 0;

                  &:hover {
                    color: $primarycolor;
                    background-color: white;
                  }
                }

                #insta {
                  transition-delay: 0.1s;
                }

                #twt {
                  transition-delay: 0.6s;
                }

                #pin {
                  transition-delay: 0.3s;
                }

                #quora {
                  transition-delay: 0.4s;
                }

                #linkedin {
                  transition-delay: 0.2s;
                }

                #reddit {
                  transition-delay: 0.5s;
                }

                #youtube {
                  transition-delay: 0.7s;
                }

                &:hover {
                  bottom: 5px;
                  color: white;
                }
              }
            }

            &:hover {
              .social-icons {
                i {
                  opacity: 1;
                  bottom: 80px;
                }
              }
            }
          }

          .details {
            padding-left: 10px;

            .addressandmail {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 5px;

              .address {
                font-size: 16px;
                color: $primarycolor;
                font-weight: 500;
              }

              a {
                text-decoration: none;

                #mail-icon {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  color: $primarycolor;
                  background-color: rgb(255, 234, 229);
                  transition: 0.4s;
                }

                &:hover {
                  #mail-icon {
                    color: white;
                    background-color: $primarycolor;
                  }
                }
              }
            }

            .name {
              font-size: 22px;
            }

            .properties {
              color: rgb(148, 147, 147);
              font-weight: 500;
            }

            .profession {
              font-size: 16px;
            }

            .address {
              color: $primarycolor;
              font-size: 16px;
              font-weight: 500;
              display: flex;
              justify-content: left;
              flex-wrap: wrap;
              align-items: center;
              column-gap: 10px;

              .left-side {
                color: black;
                font-size: 16.5px;
                font-weight: bold;
              }

              .right-side {
                color: rgb(87, 87, 87);
              }
            }
          }

          .rating {
            display: flex;
            column-gap: 7px;
            margin-top: 10px;
            align-items: center;

            i {
              color: rgb(248, 180, 42);
              font-size: 14px;
            }

            p {
              color: rgb(116, 114, 114);
            }


          }

          .verified-img {
            width: 70px;
            height: 80px;
            object-fit: contain;
            position: absolute;
            bottom: -0px;
            right: 0px;
          }
        }

        .telandbtn {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          margin-top: 10px;
          border-top: 1px solid lightgray;

          .tel {
            display: flex;
            column-gap: 5px;
            color: black;
            font-size: 17px;
            align-items: center;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
              color: $primarycolor;
            }

            i {
              color: rgb(65, 64, 64);
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .viewallapartment {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1430px) {
  .service-professionalss-container {
    .service-professionals {
      .properties {
        .agent {
          width: 400px;
          height: auto;

          .upper {
            .imgandicons {
              height: 330px;

              img {
                width: 375px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1260px) {
  .service-professionalss-container {
    .service-professionals {
      .properties {
        .agent {
          width: 320px;
          height: auto;

          .upper {
            .imgandicons {
              height: 275px;

              img {
                width: 310px;
              }
            }
          }

          .telandbtn {
            flex-direction: column;
            row-gap: 20px;
            align-items: flex-start;
            padding-left: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1060px) {
  .service-professionalss-container {
    .service-professionals {
      .properties {
        .agent {
          width: 400px;
          height: auto;

          .upper {
            .imgandicons {
              height: 340px;

              img {
                width: 390px;
              }
            }
          }

          .telandbtn {
            flex-direction: row;
            row-gap: 20px;
            align-items: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 870px) {
  .service-professionalss-container {
    .service-professionals {
      .properties {
        .agent {
          width: 400px;
          height: auto;

          .upper {
            .social-icons {
              a {
                i {
                  opacity: 1;
                  bottom: 80px;
                }

                &:hover {
                  bottom: 0;
                }
              }
            }
          }

          .telandbtn {
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .service-professionalss-container {

    &:hover {
      .arrows {
        #left-arrow {
          right: 0;
        }

        #right-arrow {
          left: 0;
        }
      }
    }

    .service-professionals {
      .properties {
        .agent {
          .upper {
            .imgandicons {
              .social-icons {
                a {
                  bottom: 80px;

                  i {
                    opacity: 1;
                  }

                  &:hover {
                    bottom: 0;
                  }
                }
              }

              &:hover {
                .social-icons {
                  i {
                    opacity: 1;
                    bottom: 0;
                  }
                }
              }
            }
          }

          .telandbtn {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}