$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.project-images-carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  .arrowss {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    display: flex;
    transform: translateY(50%);
    justify-content: space-between;
    z-index: 99999;
    span {
      color: $primarycolor;
      background-color: white;
      border-radius: 50%;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: 0.3s;
      opacity: 0;
      width: 50px;
      height: 50px;
      &:hover {
        color: white;
        background-color: $primarycolor;
        cursor: pointer;
      }
    }
    #left-icn {
      left: 10px;
    }
    #right-icn {
      right: 10px;
    }
  }
  .project-images-carousel {
    width: 100%;
    transition: 0.5s;
    display: flex;
    .img-dtl {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      img {
        height: 400px;

        width: 100%;
        object-fit: contain;
        background-color: black;
        border-radius: 3px;
      }
      .dtl {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        .lbl-input {
          display: flex;
          width: 100%;
          label {
            min-width: 150px;
            font-weight: 500;
            font-size: 15.5px;
          }
          .input,
          .category {
            font-size: 15.5px;
            font-weight: 500;
            color: rgb(107, 106, 106);
          }
          .multi-inputs {
            display: flex;
            column-gap: 20px;
            flex-wrap: wrap;
            row-gap: 15px;
            .category {
              background-color: $hovercolor;
              color: white;
              padding: 3px;
              padding-left: 10px;
              padding-right: 10px;
              border-radius: 50px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  &:hover {
    .arrowss {
      span {
        opacity: 1;
      }
      #left-icn {
        left: 0;
      }
      #right-icn {
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .project-images-carousel-container {
    .arrowss {
      span {
        opacity: 1;
        font-size: 20px;
        width: 40px;
        height: 40px;
      }
      #left-icn {
        left: 0;
      }
      #right-icn {
        right: 0;
      }
    }
    .project-images-carousel{
      .img-dtl{
        .dtl{
          row-gap: 10px;
          .lbl-input{
            flex-direction: column;
            row-gap: 5px;
            .multi-inputs{

            }
          }
        }
      }
    }
  }
}
