* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.project-images-carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.project-images-carousel-container .arrowss {
  position: absolute;
  top: 0;
  width: 100%;
  height: 400px;
  display: flex;
  transform: translateY(50%);
  justify-content: space-between;
  z-index: 99999;
}
.project-images-carousel-container .arrowss span {
  color: #fe5631;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
  opacity: 0;
  width: 50px;
  height: 50px;
}
.project-images-carousel-container .arrowss span:hover {
  color: white;
  background-color: #fe5631;
  cursor: pointer;
}
.project-images-carousel-container .arrowss #left-icn {
  left: 10px;
}
.project-images-carousel-container .arrowss #right-icn {
  right: 10px;
}
.project-images-carousel-container .project-images-carousel {
  width: 100%;
  transition: 0.5s;
  display: flex;
}
.project-images-carousel-container .project-images-carousel .img-dtl {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.project-images-carousel-container .project-images-carousel .img-dtl img {
  height: 400px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: black;
  border-radius: 3px;
}
.project-images-carousel-container .project-images-carousel .img-dtl .dtl {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.project-images-carousel-container .project-images-carousel .img-dtl .dtl .lbl-input {
  display: flex;
  width: 100%;
}
.project-images-carousel-container .project-images-carousel .img-dtl .dtl .lbl-input label {
  min-width: 150px;
  font-weight: 500;
  font-size: 15.5px;
}
.project-images-carousel-container .project-images-carousel .img-dtl .dtl .lbl-input .input,
.project-images-carousel-container .project-images-carousel .img-dtl .dtl .lbl-input .category {
  font-size: 15.5px;
  font-weight: 500;
  color: rgb(107, 106, 106);
}
.project-images-carousel-container .project-images-carousel .img-dtl .dtl .lbl-input .multi-inputs {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 15px;
}
.project-images-carousel-container .project-images-carousel .img-dtl .dtl .lbl-input .multi-inputs .category {
  background-color: #1dc295;
  color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  font-size: 15px;
}
.project-images-carousel-container:hover .arrowss span {
  opacity: 1;
}
.project-images-carousel-container:hover .arrowss #left-icn {
  left: 0;
}
.project-images-carousel-container:hover .arrowss #right-icn {
  right: 0;
}

@media only screen and (max-width: 800px) {
  .project-images-carousel-container .arrowss span {
    opacity: 1;
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
  .project-images-carousel-container .arrowss #left-icn {
    left: 0;
  }
  .project-images-carousel-container .arrowss #right-icn {
    right: 0;
  }
  .project-images-carousel-container .project-images-carousel .img-dtl .dtl {
    row-gap: 10px;
  }
  .project-images-carousel-container .project-images-carousel .img-dtl .dtl .lbl-input {
    flex-direction: column;
    row-gap: 5px;
  }
}/*# sourceMappingURL=ProjectImagesCarousel.css.map */