$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.footer-container {
  margin-top: 300px;
  background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Footer/coverImage.jpg");

  .footer-links {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-left: 5px;

    .logoandabout {


      width: 280px;

      span {
        display: flex;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        h1 {
          margin-top: 8px;
          color: white;
          font-size: 32px;
        }
      }

      .description {
        margin-top: 15px;
        width: auto;
        text-align: left;
        color: white;
        font-size: 15px;
        line-height: 1.7;
      }

      .social-icons {
        margin-top: 15px;

        a {
          margin-right: 10px;

          i {
            padding: 12px;
            background-color: rgb(90, 87, 100);
            color: white;
            border-radius: 50%;
            border: none;
            transition: 0.4s;
            position: relative;
            bottom: 0;

            &:hover {
              color: $primarycolor;
              background-color: white;
              bottom: 5px;
            }
          }
        }
      }
    }

    .lists {
      margin-top: 10px;
      display: flex;
      column-gap: 50px;

      ul {
        line-height: 2.5;
        list-style: none;

        li {
          a {
            font-size: 14px;
            color: white;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
              color: $primarycolor;
            }
          }
        }
      }
    }

    .links {
      width: auto;


      h1 {
        font-size: 32px;
        color: white;
      }
    }

    #contact-links {


      ul {
        li {
          a {
            font-size: 16px;
          }

          #time {
            pointer-events: none;
          }

          i {
            color: $primarycolor;
            font-size: 19px;
          }
        }
      }
    }

    .newsletter {



      input::-webkit-input-placeholder {
        color: white;
        transition: all 0.4s;
        opacity: 1;
      }

      input:focus::-webkit-input-placeholder {
        opacity: 0;
      }

      h1 {
        color: white;
      }

      div {
        caret-color: white;
        width: 250px;

        input {
          padding: 25px;
          background-color: rgb(90, 87, 100);
          border-radius: 10px;
          border: none;
          font-size: 16.5px;
          outline: none;
          width: 300px;
          color: white;
        }

        i {
          color: white;
          background-color: $primarycolor;
          border-radius: 50%;
          padding: 18px;
          font-size: 21px;
          position: relative;
          left: 235px;
          bottom: 65px;
        }
      }

      p {
        position: relative;
        bottom: 30px;
        line-height: 1.5;
        color: white;
        font-size: 16px;
        width: 280px;
      }

      .app-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        .app-icn {
          color: $primarycolor;
          font-size: 40px;
          text-decoration: none;
          transition: .3s;
          &:hover{
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1470px) {
  .footer-container {
    .footer-links {
      .logoandabout {
        width: 200px;
      }

      .newsletter {
        div {
          input {
            width: 250px;
          }

          i {
            left: 190px;
          }
        }
      }

      #contact-links {
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 1270px) {
  .footer-container {
    .footer-links {
      column-gap: 20px;

      #contact-links {
        width: 250px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .footer-container {
    .footer-links {
      .newsletter {
        div {
          width: 200px;

          input {
            width: 200px;
          }

          i {
            left: 140px;
          }
        }

        p {
          width: 200px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .footer-container {
    .footer-links {
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 20px;

      .logoandabout {
        width: 350px;
      }

      .newsletter {
        div {
          input {
            width: 300px;
          }

          i {
            left: 235px;
          }
        }

        p {
          width: 300px;
        }
      }

      #contact-links {
        width: 350px;
      }
    }
  }
}

@media only screen and (max-width: 730px) {
  .footer-container {
    .footer-links {
      grid-template-columns: auto;

      #explore-links {

        .lists {
          column-gap: 0;
          flex-direction: column;

          ul {
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
          }
        }
      }
    }
  }
}