* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-container {
  margin-top: 300px;
  background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Footer/coverImage.jpg");
}
.footer-container .footer-links {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-left: 5px;
}
.footer-container .footer-links .logoandabout {
  width: 280px;
}
.footer-container .footer-links .logoandabout span {
  display: flex;
}
.footer-container .footer-links .logoandabout span img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.footer-container .footer-links .logoandabout span h1 {
  margin-top: 8px;
  color: white;
  font-size: 32px;
}
.footer-container .footer-links .logoandabout .description {
  margin-top: 15px;
  width: auto;
  text-align: left;
  color: white;
  font-size: 15px;
  line-height: 1.7;
}
.footer-container .footer-links .logoandabout .social-icons {
  margin-top: 15px;
}
.footer-container .footer-links .logoandabout .social-icons a {
  margin-right: 10px;
}
.footer-container .footer-links .logoandabout .social-icons a i {
  padding: 12px;
  background-color: rgb(90, 87, 100);
  color: white;
  border-radius: 50%;
  border: none;
  transition: 0.4s;
  position: relative;
  bottom: 0;
}
.footer-container .footer-links .logoandabout .social-icons a i:hover {
  color: #fe5631;
  background-color: white;
  bottom: 5px;
}
.footer-container .footer-links .lists {
  margin-top: 10px;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.footer-container .footer-links .lists ul {
  line-height: 2.5;
  list-style: none;
}
.footer-container .footer-links .lists ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.footer-container .footer-links .lists ul li a:hover {
  color: #fe5631;
}
.footer-container .footer-links .links {
  width: auto;
}
.footer-container .footer-links .links h1 {
  font-size: 32px;
  color: white;
}
.footer-container .footer-links #contact-links ul li a {
  font-size: 16px;
}
.footer-container .footer-links #contact-links ul li #time {
  pointer-events: none;
}
.footer-container .footer-links #contact-links ul li i {
  color: #fe5631;
  font-size: 19px;
}
.footer-container .footer-links .newsletter input::-webkit-input-placeholder {
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}
.footer-container .footer-links .newsletter input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.footer-container .footer-links .newsletter h1 {
  color: white;
}
.footer-container .footer-links .newsletter div {
  caret-color: white;
  width: 250px;
}
.footer-container .footer-links .newsletter div input {
  padding: 25px;
  background-color: rgb(90, 87, 100);
  border-radius: 10px;
  border: none;
  font-size: 16.5px;
  outline: none;
  width: 300px;
  color: white;
}
.footer-container .footer-links .newsletter div i {
  color: white;
  background-color: #fe5631;
  border-radius: 50%;
  padding: 18px;
  font-size: 21px;
  position: relative;
  left: 235px;
  bottom: 65px;
}
.footer-container .footer-links .newsletter p {
  position: relative;
  bottom: 30px;
  line-height: 1.5;
  color: white;
  font-size: 16px;
  width: 280px;
}
.footer-container .footer-links .newsletter .app-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-container .footer-links .newsletter .app-icons .app-icn {
  color: #fe5631;
  font-size: 40px;
  text-decoration: none;
  transition: 0.3s;
}
.footer-container .footer-links .newsletter .app-icons .app-icn:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media only screen and (max-width: 1470px) {
  .footer-container .footer-links .logoandabout {
    width: 200px;
  }
  .footer-container .footer-links .newsletter div input {
    width: 250px;
  }
  .footer-container .footer-links .newsletter div i {
    left: 190px;
  }
  .footer-container .footer-links #contact-links {
    width: 300px;
  }
}
@media only screen and (max-width: 1270px) {
  .footer-container .footer-links {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .footer-container .footer-links #contact-links {
    width: 250px;
  }
}
@media only screen and (max-width: 1100px) {
  .footer-container .footer-links .newsletter div {
    width: 200px;
  }
  .footer-container .footer-links .newsletter div input {
    width: 200px;
  }
  .footer-container .footer-links .newsletter div i {
    left: 140px;
  }
  .footer-container .footer-links .newsletter p {
    width: 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .footer-container .footer-links {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
  }
  .footer-container .footer-links .logoandabout {
    width: 350px;
  }
  .footer-container .footer-links .newsletter div input {
    width: 300px;
  }
  .footer-container .footer-links .newsletter div i {
    left: 235px;
  }
  .footer-container .footer-links .newsletter p {
    width: 300px;
  }
  .footer-container .footer-links #contact-links {
    width: 350px;
  }
}
@media only screen and (max-width: 730px) {
  .footer-container .footer-links {
    grid-template-columns: auto;
  }
  .footer-container .footer-links #explore-links .lists {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: column;
  }
  .footer-container .footer-links #explore-links .lists ul {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}/*# sourceMappingURL=Footer.css.map */