* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.agents-container p {
  margin: 0;
  padding: 0;
}
.agents-container img {
  box-shadow: none;
}
.agents-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.agents-container .header .title {
  font-size: 35px;
  text-align: center;
}
.agents-container .header .description {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  width: 700px;
}
.agents-container .header .searchbox-container {
  margin-top: 10px;
  width: 300px;
}
.agents-container .all-agents {
  margin-top: 0px;
  overflow: hidden;
}
.agents-container .all-agents .agents {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  transition: 1s;
  -moz-column-gap: 25px;
       column-gap: 25px;
  justify-content: center;
}
.agents-container .all-agents .agents .agent {
  width: 445px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: relative;
}
.agents-container .all-agents .agents .agent .upper {
  padding: 5px;
  line-height: 1.9;
}
.agents-container .all-agents .agents .agent .upper .imgandicons {
  height: 375px;
  overflow: hidden;
  border-radius: 10px;
}
.agents-container .all-agents .agents .agent .upper .imgandicons img {
  width: 432px;
  border-radius: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: none;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 20px;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a {
  color: rgb(32, 28, 45);
  transition: 0.2s;
  position: relative;
  bottom: 0;
  text-decoration: none;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: white;
  background-color: rgb(32, 28, 45);
  border-radius: 50%;
  transition: 0.6s;
  position: relative;
  bottom: 0;
  opacity: 0;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a i:hover {
  color: #fe5631;
  background-color: white;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a #insta {
  transition-delay: 0.1s;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a #twt {
  transition-delay: 0.6s;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a #pin {
  transition-delay: 0.3s;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a #quora {
  transition-delay: 0.4s;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a #linkedin {
  transition-delay: 0.2s;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a #reddit {
  transition-delay: 0.5s;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a #youtube {
  transition-delay: 0.7s;
}
.agents-container .all-agents .agents .agent .upper .imgandicons .social-icons a:hover {
  bottom: 5px;
  color: white;
}
.agents-container .all-agents .agents .agent .upper .imgandicons:hover .social-icons i {
  opacity: 1;
  bottom: 80px;
}
.agents-container .all-agents .agents .agent .upper .details {
  padding-left: 10px;
  position: relative;
}
.agents-container .all-agents .agents .agent .upper .details .addressandmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.agents-container .all-agents .agents .agent .upper .details .addressandmail .address {
  font-size: 16px;
  color: #fe5631;
  font-weight: 500;
}
.agents-container .all-agents .agents .agent .upper .details .addressandmail a {
  text-decoration: none;
}
.agents-container .all-agents .agents .agent .upper .details .addressandmail a #mail-icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(10, 216, 10);
  transition: 0.4s;
}
.agents-container .all-agents .agents .agent .upper .details .addressandmail a:hover #mail-icon {
  opacity: 0.5;
}
.agents-container .all-agents .agents .agent .upper .details .name {
  font-size: 22px;
}
.agents-container .all-agents .agents .agent .upper .details .properties {
  color: rgb(148, 147, 147);
  font-weight: 500;
}
.agents-container .all-agents .agents .agent .upper .details .profession {
  font-size: 16px;
}
.agents-container .all-agents .agents .agent .upper .details .address {
  color: #fe5631;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.agents-container .all-agents .agents .agent .upper .details .address .left-side {
  color: black;
  font-size: 16.5px;
  font-weight: bold;
}
.agents-container .all-agents .agents .agent .upper .details .address .right-side {
  color: rgb(87, 87, 87);
}
.agents-container .all-agents .agents .agent .upper .rating {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  margin-top: 10px;
  align-items: center;
}
.agents-container .all-agents .agents .agent .upper .rating i {
  color: rgb(248, 180, 42);
  font-size: 14px;
}
.agents-container .all-agents .agents .agent .upper .rating p {
  color: rgb(116, 114, 114);
}
.agents-container .all-agents .agents .agent .telandbtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid lightgray;
}
.agents-container .all-agents .agents .agent .telandbtn .tel {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: black;
  font-size: 17px;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
}
.agents-container .all-agents .agents .agent .telandbtn .tel:hover {
  color: #fe5631;
}
.agents-container .all-agents .agents .agent .telandbtn .tel i {
  color: rgb(65, 64, 64);
  font-size: 12px;
}
.agents-container .verified-img {
  width: 70px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: -10px;
  right: 0px;
}
.agents-container .agent {
  width: 445px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: relative;
}
.agents-container .agent .upper {
  padding: 5px;
  line-height: 1.9;
}
.agents-container .agent .upper .prime-membership-logo-container {
  width: 20%;
  height: 20%;
}
.agents-container .agent .upper .prime-membership-logo-container .prime-membership-logo {
  position: absolute;
  right: 1%;
  top: 1px;
  width: 160px;
  height: 80px;
}
.agents-container .agent .upper .imgandicons {
  height: 375px;
  overflow: hidden;
  border-radius: 10px;
}
.agents-container .agent .upper .imgandicons img {
  width: 432px;
  border-radius: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.agents-container .agent .upper .imgandicons .social-icons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 20px;
}
.agents-container .agent .upper .imgandicons .social-icons a {
  color: rgb(32, 28, 45);
  transition: 0.2s;
  position: relative;
  bottom: 0;
  text-decoration: none;
}
.agents-container .agent .upper .imgandicons .social-icons a i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: white;
  background-color: rgb(32, 28, 45);
  border-radius: 50%;
  transition: 0.6s;
  position: relative;
  bottom: 0;
  opacity: 0;
}
.agents-container .agent .upper .imgandicons .social-icons a i:hover {
  color: #fe5631;
  background-color: white;
}
.agents-container .agent .upper .imgandicons .social-icons a #insta {
  transition-delay: 0.1s;
}
.agents-container .agent .upper .imgandicons .social-icons a #twt {
  transition-delay: 0.6s;
}
.agents-container .agent .upper .imgandicons .social-icons a #pin {
  transition-delay: 0.3s;
}
.agents-container .agent .upper .imgandicons .social-icons a #quora {
  transition-delay: 0.4s;
}
.agents-container .agent .upper .imgandicons .social-icons a #linkedin {
  transition-delay: 0.2s;
}
.agents-container .agent .upper .imgandicons .social-icons a #reddit {
  transition-delay: 0.5s;
}
.agents-container .agent .upper .imgandicons .social-icons a #youtube {
  transition-delay: 0.7s;
}
.agents-container .agent .upper .imgandicons .social-icons a:hover {
  bottom: 5px;
  color: white;
}
.agents-container .agent .upper .imgandicons:hover .social-icons i {
  opacity: 1;
  bottom: 80px;
}
.agents-container .agent .upper .details {
  padding-left: 10px;
  position: relative;
}
.agents-container .agent .upper .details .addressandmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.agents-container .agent .upper .details .addressandmail .address {
  font-size: 16px;
  color: #fe5631;
  font-weight: 500;
}
.agents-container .agent .upper .details .addressandmail a {
  text-decoration: none;
}
.agents-container .agent .upper .details .addressandmail a #mail-icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(10, 216, 10);
  transition: 0.4s;
}
.agents-container .agent .upper .details .addressandmail a:hover #mail-icon {
  opacity: 0.5;
}
.agents-container .agent .upper .details .name {
  font-size: 22px;
}
.agents-container .agent .upper .details .properties {
  color: rgb(148, 147, 147);
  font-weight: 500;
}
.agents-container .agent .upper .details .profession {
  font-size: 16px;
}
.agents-container .agent .upper .details .address {
  color: #fe5631;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.agents-container .agent .upper .details .address .left-side {
  color: black;
  font-size: 16.5px;
  font-weight: bold;
}
.agents-container .agent .upper .details .address .right-side {
  color: rgb(87, 87, 87);
}
.agents-container .agent .upper .rating {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  margin-top: 10px;
  align-items: center;
}
.agents-container .agent .upper .rating i {
  color: rgb(248, 180, 42);
  font-size: 14px;
}
.agents-container .agent .upper .rating p {
  color: rgb(116, 114, 114);
}
.agents-container .agent .telandbtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid lightgray;
}
.agents-container .agent .telandbtn .tel {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: black;
  font-size: 17px;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
}
.agents-container .agent .telandbtn .tel:hover {
  color: #fe5631;
}
.agents-container .agent .telandbtn .tel i {
  color: rgb(65, 64, 64);
  font-size: 12px;
}

@media only screen and (max-width: 1410px) {
  .agents-container .agent {
    width: 400px;
    height: auto;
  }
  .agents-container .agent .upper .imgandicons {
    height: 330px;
  }
  .agents-container .agent .upper .imgandicons img {
    width: 375px;
  }
}
@media only screen and (max-width: 1280px) {
  .agents-container .agent {
    width: 320px;
    height: auto;
  }
  .agents-container .agent .upper .imgandicons {
    height: 275px;
  }
  .agents-container .agent .upper .imgandicons img {
    width: 310px;
  }
  .agents-container .agent .telandbtn {
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .agents-container .agent {
    width: 400px;
    height: auto;
  }
  .agents-container .agent .upper .imgandicons {
    height: 340px;
  }
  .agents-container .agent .upper .imgandicons img {
    width: 390px;
  }
  .agents-container .agent .telandbtn {
    flex-direction: row;
    row-gap: 20px;
    align-items: center;
  }
}
@media only screen and (max-width: 855px) {
  .agents-container .header .description {
    width: 620px;
  }
  .agents-container .agent {
    width: 300px;
    height: auto;
  }
  .agents-container .agent .upper .imgandicons {
    height: 260px;
  }
  .agents-container .agent .upper .imgandicons img {
    width: 290px;
  }
  .agents-container .agent .telandbtn {
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 650px) {
  .agents-container .agent {
    width: 95%;
    height: auto;
  }
  .agents-container .agent .upper .social-icons a i {
    opacity: 1;
    bottom: 80px;
  }
  .agents-container .agent .upper .social-icons a:hover {
    bottom: 0;
  }
  .agents-container .agent .telandbtn {
    flex-direction: row;
    align-items: center;
  }
}/*# sourceMappingURL=SP.css.map */