$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.agents-container {
  p {
    margin: 0;
    padding: 0;
  }
  img {
    box-shadow: none;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .title {
      font-size: 35px;
      text-align: center;
    }
    .description {
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
      width: 700px;
    }
  }

  .all-agents {
    margin-top: 0px;
    overflow: hidden;
    .agents {
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      transition: 1s;
      column-gap: 25px;
      justify-content: center;
      .agent {
        width: 445px;
        height: auto;
        border: 1px solid lightgray;
        border-radius: 5px;
        position: relative;
        .upper {
          padding: 5px;
          line-height: 1.9;

          .imgandicons {
            height: 375px;
            overflow: hidden;
            // background-color: rgb(236, 233, 233);
            border-radius: 10px;
            img {
              width: 432px;
              border-radius: 10px;
              height: 100%;
              object-fit: cover;
              box-shadow: none;
            }
            .social-icons {
              display: flex;
              column-gap: 10px;
              padding: 20px;
              a {
                color: rgb(32, 28, 45);
                transition: 0.2s;
                position: relative;
                bottom: 0;
                text-decoration: none;
                i {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 35px;
                  height: 35px;
                  color: white;
                  background-color: rgb(32, 28, 45);
                  border-radius: 50%;
                  transition: 0.6s;
                  position: relative;
                  bottom: 0;
                  opacity: 0;
                  &:hover {
                    color: $primarycolor;
                    background-color: white;
                  }
                }

                #insta {
                  transition-delay: 0.1s;
                }
                #twt {
                  transition-delay: 0.6s;
                }
                #pin {
                  transition-delay: 0.3s;
                }
                #quora {
                  transition-delay: 0.4s;
                }
                #linkedin {
                  transition-delay: 0.2s;
                }
                #reddit {
                  transition-delay: 0.5s;
                }
                #youtube {
                  transition-delay: 0.7s;
                }
                &:hover {
                  bottom: 5px;
                  color: white;
                }
              }
            }
            &:hover {
              .social-icons {
                i {
                  opacity: 1;
                  bottom: 80px;
                }
              }
            }
          }
          .details {
            padding-left: 10px;
            position: relative;
            .addressandmail {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 5px;
              .address {
                font-size: 16px;
                color: $primarycolor;
                font-weight: 500;
              }
              a {
                text-decoration: none;

                #mail-icon {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  color: rgb(10, 216, 10);
                  // background-color: red;
                  transition: 0.4s;
                }
                &:hover {
                  #mail-icon {
                    opacity: 0.5;
                  }
                }
              }
            }
            .name {
              font-size: 22px;
            }
            .properties {
              color: rgb(148, 147, 147);
              font-weight: 500;
            }
            .profession {
              font-size: 16px;
            }
            .address {
              color: $primarycolor;
              font-size: 16px;
              font-weight: 500;
              display: flex;
              justify-content: left;
              flex-wrap: wrap;
              align-items: center;
              column-gap: 10px;
              .left-side {
                color: black;
                font-size: 16.5px;
                font-weight: bold;
              }
              .right-side {
                color: rgb(87, 87, 87);
              }
            }
          }

          .rating {
            display: flex;
            column-gap: 7px;
            margin-top: 10px;
            align-items: center;
            i {
              color: rgb(248, 180, 42);
              font-size: 14px;
            }
            p {
              color: rgb(116, 114, 114);
            }
          }
        }
        .telandbtn {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          margin-top: 10px;
          border-top: 1px solid lightgray;
          .tel {
            display: flex;
            column-gap: 5px;
            color: black;
            font-size: 17px;
            align-items: center;
            text-decoration: none;
            transition: 0.5s;
            &:hover {
              color: $primarycolor;
            }
            i {
              color: rgb(65, 64, 64);
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .verified-img {
    width: 70px;
    height: 80px;
    object-fit: contain;
    position: absolute;
    bottom: -10px;
    right: 0px;
  }
  .agent {
    width: 445px;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
    .upper {
      padding: 5px;
      line-height: 1.9;
      .imgandicons {
        height: 375px;
        overflow: hidden;
        // background-color: rgb(236, 233, 233);
        border-radius: 10px;
        img {
          width: 432px;
          border-radius: 10px;
          height: 100%;
          object-fit: cover;
        }
        .social-icons {
          display: flex;
          column-gap: 10px;
          padding: 20px;
          a {
            color: rgb(32, 28, 45);
            transition: 0.2s;
            position: relative;
            bottom: 0;
            text-decoration: none;
            i {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 35px;
              height: 35px;
              color: white;
              background-color: rgb(32, 28, 45);
              border-radius: 50%;
              transition: 0.6s;
              position: relative;
              bottom: 0;
              opacity: 0;
              &:hover {
                color: $primarycolor;
                background-color: white;
              }
            }

            #insta {
              transition-delay: 0.1s;
            }
            #twt {
              transition-delay: 0.6s;
            }
            #pin {
              transition-delay: 0.3s;
            }
            #quora {
              transition-delay: 0.4s;
            }
            #linkedin {
              transition-delay: 0.2s;
            }
            #reddit {
              transition-delay: 0.5s;
            }
            #youtube {
              transition-delay: 0.7s;
            }
            &:hover {
              bottom: 5px;
              color: white;
            }
          }
        }
        &:hover {
          .social-icons {
            i {
              opacity: 1;
              bottom: 80px;
            }
          }
        }
      }
      .details {
        padding-left: 10px;
        position: relative;
        .addressandmail {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5px;
          .address {
            font-size: 16px;
            color: $primarycolor;
            font-weight: 500;
          }
          a {
            text-decoration: none;

            #mail-icon {
              width: 40px;
              height: 40px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              color: rgb(10, 216, 10);
              // background-color: red;
              transition: 0.4s;
            }
            &:hover {
              #mail-icon {
                opacity: 0.5;
              }
            }
          }
        }
        .name {
          font-size: 22px;
        }
        .properties {
          color: rgb(148, 147, 147);
          font-weight: 500;
        }
        .profession {
          font-size: 16px;
        }
        .address {
          color: $primarycolor;
          font-size: 16px;
          font-weight: 500;
          display: flex;
          justify-content: left;
          flex-wrap: wrap;
          align-items: center;
          column-gap: 10px;
          .left-side {
            color: black;
            font-size: 16.5px;
            font-weight: bold;
          }
          .right-side {
            color: rgb(87, 87, 87);
          }
        }
      }

      .rating {
        display: flex;
        column-gap: 7px;
        margin-top: 10px;
        align-items: center;
        i {
          color: rgb(248, 180, 42);
          font-size: 14px;
        }
        p {
          color: rgb(116, 114, 114);
        }
      }
    }
    .telandbtn {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-top: 10px;
      border-top: 1px solid lightgray;
      .tel {
        display: flex;
        column-gap: 5px;
        color: black;
        font-size: 17px;
        align-items: center;
        text-decoration: none;
        transition: 0.5s;
        &:hover {
          color: $primarycolor;
        }
        i {
          color: rgb(65, 64, 64);
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1410px) {
  .agents-container {
    .all-agents {
    
    }
    .agent {
      width: 400px;
      height: auto;
      .upper {
        .imgandicons {
          height: 330px;
          img {
            width: 375px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .agents-container {
    .all-agents {
      .agents {
       
      }
    }
    .agent {
      width: 320px;
      height: auto;
      .upper {
        .imgandicons {
          height: 275px;
          img {
            width: 310px;
          }
        }
      }
      .telandbtn {
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
        padding-left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .agents-container {
    .all-agents {
   
    }
    .agent {
      width: 400px;
      height: auto;
      .upper {
        .imgandicons {
          height: 340px;
          img {
            width: 390px;
          }
        }
      }
      .telandbtn {
        flex-direction: row;
        row-gap: 20px;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 855px) {
  .agents-container {
    .header {
      .description {
        width: 620px;
      }
    }
    .all-agents {
     
    }
    .agent {
      width: 300px;
      height: auto;
      .upper {
        .imgandicons {
          height: 260px;
          img {
            width: 290px;
          }
        }
      }
      .telandbtn {
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .agents-container {
    .all-agents {
     
    }
    .agent {
      width: 95%;
      height: auto;
      .upper {
        .social-icons {
          a {
            i {
              opacity: 1;
              bottom: 80px;
            }
            &:hover {
              bottom: 0;
            }
          }
        }
      }
      .telandbtn {
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
