* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.invoice-containerr {
  padding: 20px;
  display: none;
  min-width: 1800px;
}
.invoice-containerr p {
  font-size: 17px;
}
.invoice-containerr .upper {
  font-size: 17px;
}
.invoice-containerr .upper b {
  color: #fe5631;
}
.invoice-containerr .upper:nth-child(2) {
  margin-top: 5px;
}
.invoice-containerr .table {
  border-collapse: collapse;
  min-width: 100%;
}
.invoice-containerr .table td {
  min-width: 150px;
  padding: 5px;
  border: 1px solid lightgray;
  border-collapse: collapse;
}
.invoice-containerr .table .main-headings td {
  text-align: center;
}
.invoice-containerr img {
  width: 150px;
}/*# sourceMappingURL=LeadsInvoice.css.map */