$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.invoice-containerr {
  padding: 20px;
  display: none;
  min-width: 1800px;
  p {
    font-size: 17px;
  }
  .upper {
    font-size: 17px;
    b {
      color: $primarycolor;
    }
    &:nth-child(2) {
      margin-top: 5px;
    }
  }
  .table {
    border-collapse: collapse;
    min-width: 100%;
    td {
      min-width: 150px;
      padding: 5px;
      border: 1px solid lightgray;
      border-collapse: collapse;
    }
    .main-headings {
      td {
        text-align: center;
      }
    }
  }
  img {
    width: 150px;
  }
}
