$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
  height: 100vh;
}

.slides-and-details-container {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s;
  display: flex;

  p {
    margin: 0;
    padding: 0;
  }

  .slides-container {
    width: 70%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 100px;

    .slides-upper {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      align-items: center;

      i {
        color: white;
        font-size: 35px;

        &:hover {
          cursor: pointer;
          color: rgb(206, 205, 205);
        }
      }

      .zoom {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
      }
    }

    .arrow-and-slides {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .arrows {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 900px;
        transform: translateY(-50%);

        i {
          color: $primarycolor;
          background-color: white;
          border-radius: 50%;
          padding: 18px;
          padding-left: 20px;
          padding-right: 20px;
          transition: 0.3s;

          &:hover {
            cursor: pointer;
            color: white;
            background-color: $primarycolor;
          }
        }
      }

      .slides {
        overflow: hidden;
        width: 700px;

        .slide-images {
          display: flex;
          transition: 0.6s;
background-color: red;
          img {
            border-radius: 3px;
            transition: 0.5s;
            transform: scale(1);
            width: 100%;
            object-fit: contain;
            background-color: black;
            height: 400px;
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
   display: none;
  }
  .img-details-container {
    width: 30%;
    height: 100%;
background-color: white;
z-index: 99999999;
overflow-y: scroll;

    .heading {
      font-size: 25px;
      padding: 10px;
      letter-spacing: 0.2px;
      text-align: center;
      background-color: $hovercolor;
      color: white;
    }

    ::-webkit-scrollbar {
      width: 1px;
      background: lightgray;
    }

    ::-webkit-scrollbar-thumb {
      background: black;
    }

    .details-container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      .details {
        display: flex;
        transition: 0.4s;

        .detail-list {
          min-width: 100%;

          .detail {
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            row-gap: 10px;

            h3 {
              font-size: 20px;
              text-align: center;
            }

            .title {
              color: black;
              font-size: 16px;
              font-weight: 500;
            }

            .categories {
              display: flex;
              column-gap: 20px;
              flex-wrap: wrap;

              .category {
                border-radius: 50px;
                background-color: rgb(235, 231, 231);
                color: rgb(77, 75, 75);
                padding: 3px;
                padding-left: 10px;
                padding-right: 10px;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  .slides-and-details-container {
    .slides-container {
      padding-bottom: 150px;

      .arrow-and-slides {
        .arrows {
          width: 700px;

          i {
            padding: 12px;
            padding-left: 14px;
            padding-right: 14px;
          }
        }

        .slides {
          width: 600px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1060px) {
  .slides-and-details-container {
    .slides-container {
      .arrow-and-slides {
        .arrows {
          width: 600px;
        }

        .slides {
          width: 450px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .slides-and-details-container {
    flex-direction: column;

    .slides-container {
      width: 100%;
      padding-bottom: 20px;

      .arrow-and-slides {
        .arrows {
          width: 100%;
          z-index: 1;
        }

        .slides {
          width: 550px;
        }
      }
    }

    .img-details-container {
      width: 100%;
    }
  }
}