* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

.slides-and-details-container {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s;
  display: flex;
}
.slides-and-details-container p {
  margin: 0;
  padding: 0;
}
.slides-and-details-container .slides-container {
  width: 70%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 100px;
}
.slides-and-details-container .slides-container .slides-upper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.slides-and-details-container .slides-container .slides-upper i {
  color: white;
  font-size: 35px;
}
.slides-and-details-container .slides-container .slides-upper i:hover {
  cursor: pointer;
  color: rgb(206, 205, 205);
}
.slides-and-details-container .slides-container .slides-upper .zoom {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.slides-and-details-container .slides-container .arrow-and-slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slides-and-details-container .slides-container .arrow-and-slides .arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 900px;
  transform: translateY(-50%);
}
.slides-and-details-container .slides-container .arrow-and-slides .arrows i {
  color: #fe5631;
  background-color: white;
  border-radius: 50%;
  padding: 18px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}
.slides-and-details-container .slides-container .arrow-and-slides .arrows i:hover {
  cursor: pointer;
  color: white;
  background-color: #fe5631;
}
.slides-and-details-container .slides-container .arrow-and-slides .slides {
  overflow: hidden;
  width: 700px;
}
.slides-and-details-container .slides-container .arrow-and-slides .slides .slide-images {
  display: flex;
  transition: 0.6s;
  background-color: red;
}
.slides-and-details-container .slides-container .arrow-and-slides .slides .slide-images img {
  border-radius: 3px;
  transition: 0.5s;
  transform: scale(1);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: black;
  height: 400px;
}
.slides-and-details-container ::-webkit-scrollbar {
  display: none;
}
.slides-and-details-container .img-details-container {
  width: 30%;
  height: 100%;
  background-color: white;
  z-index: 99999999;
  overflow-y: scroll;
}
.slides-and-details-container .img-details-container .heading {
  font-size: 25px;
  padding: 10px;
  letter-spacing: 0.2px;
  text-align: center;
  background-color: #1dc295;
  color: white;
}
.slides-and-details-container .img-details-container ::-webkit-scrollbar {
  width: 1px;
  background: lightgray;
}
.slides-and-details-container .img-details-container ::-webkit-scrollbar-thumb {
  background: black;
}
.slides-and-details-container .img-details-container .details-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.slides-and-details-container .img-details-container .details-container .details {
  display: flex;
  transition: 0.4s;
}
.slides-and-details-container .img-details-container .details-container .details .detail-list {
  min-width: 100%;
}
.slides-and-details-container .img-details-container .details-container .details .detail-list .detail {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  row-gap: 10px;
}
.slides-and-details-container .img-details-container .details-container .details .detail-list .detail h3 {
  font-size: 20px;
  text-align: center;
}
.slides-and-details-container .img-details-container .details-container .details .detail-list .detail .title {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.slides-and-details-container .img-details-container .details-container .details .detail-list .detail .categories {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
}
.slides-and-details-container .img-details-container .details-container .details .detail-list .detail .categories .category {
  border-radius: 50px;
  background-color: rgb(235, 231, 231);
  color: rgb(77, 75, 75);
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

@media only screen and (max-width: 1350px) {
  .slides-and-details-container .slides-container {
    padding-bottom: 150px;
  }
  .slides-and-details-container .slides-container .arrow-and-slides .arrows {
    width: 700px;
  }
  .slides-and-details-container .slides-container .arrow-and-slides .arrows i {
    padding: 12px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .slides-and-details-container .slides-container .arrow-and-slides .slides {
    width: 600px;
  }
}
@media only screen and (max-width: 1060px) {
  .slides-and-details-container .slides-container .arrow-and-slides .arrows {
    width: 600px;
  }
  .slides-and-details-container .slides-container .arrow-and-slides .slides {
    width: 450px;
  }
}
@media only screen and (max-width: 900px) {
  .slides-and-details-container {
    flex-direction: column;
  }
  .slides-and-details-container .slides-container {
    width: 100%;
    padding-bottom: 20px;
  }
  .slides-and-details-container .slides-container .arrow-and-slides .arrows {
    width: 100%;
    z-index: 1;
  }
  .slides-and-details-container .slides-container .arrow-and-slides .slides {
    width: 550px;
  }
  .slides-and-details-container .img-details-container {
    width: 100%;
  }
}/*# sourceMappingURL=Slides.css.map */