$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.profile-page-container,
.transactions-container {
  margin-top: 50px;
  display: flex;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    margin: 0;
  }
  .profile-tabs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p {
      font-size: 16px;
      font-variant: small-caps;
      letter-spacing: 1.5px;
      font-weight: 500;

      color: black;
      transition: 0.3s;
      background-color: rgb(233, 232, 232);
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
      &:hover {
        cursor: pointer;
        color: rgb(119, 118, 118);
      }
    }
    .overview {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      color: white;
      background-color: $hovercolor;
    }
    .overview,
    .upload,
    .transaction {
      border-right: 2px solid white;
    }
    .analytics {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.transactions-container {
  .profile-tabs-container {
    .transaction {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      color: white;
      background-color: $hovercolor;
    }
  }
}

@media only screen and (max-width: 500px) {
  .profile-page-container {
    ::-webkit-scrollbar {
      visibility: hidden;
    }
    ::-webkit-scrollbar-thumb {
      visibility: hidden;
    }
    .profile-tabs-container {
      width: 98%;
      justify-content: left;
      flex-wrap: unset;
      overflow-x: scroll;
      align-items: center;
      p {
        font-size: 14.5px;
        padding-left: 5px;
        padding-right: 5px;
        min-width: fit-content;
      }
    }
    #transaction-tabs {
      justify-content: center;
    }
  }
}
