$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  column-gap: 20px;

  .video {
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 50px rgb(175, 175, 175);
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 350px;
    .video-heading{
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: white;
        letter-spacing: 1px;
    }
    iframe{
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }
  }
}

@media only screen and (max-width:1400px) {
 
  .video-container{
    .video{
      iframe{
        width: 500px;
      }
    }
  }
}

@media only screen and (max-width:1300px) {
 
  .video-container{
    justify-content: center;
    column-gap: 20px;
    .video{
      iframe{
        width: 450px;
        height: 300px;
      }
    }
  }
}

@media only screen and (max-width:1000px) {
 
  .video-container{
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    .video{
      width: 98%;
      iframe{
       width: 100%;
        height: 300px;
      }
    }
  }
}