$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.facilities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 254, 254);
 width: 100%;
 padding-top: 60px;
 padding-bottom: 60px;
  margin-top: 50px;
  .title {
    font-size: 35px;
    text-align: center;
  }
  .description {
    font-size: 17px;
    text-align: center;
    color: rgb(110, 109, 109);
    line-height: 1.6;
    width: 800px;
    margin-top: 15px;
  }
  .facilites {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    margin-top: 20px;
    width: 1400px;
    .facility {
      display: flex;
      justify-content: left;
      column-gap: 20px;
      width: 400px;
      align-items: center;
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 3px rgb(229, 226, 226);
      transition: 0.5s;
      position: relative;
      bottom: 0;
      .img {
        padding: 10px;
        border-radius: 50%;
        background-color: rgb(247, 247, 247);
        img {
          width: 35px;
          height: 30px;
        }
      }
      .facility-name {
        font-size: 22px;
        letter-spacing: 0.5px;
      }
      &:hover {
        bottom: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .facilities-container {
    .facilites {
      width: 1200px;
      .facility {
        width: 355px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .facilities-container {
    .facilites {
      width: 1100px;
      .facility {
        width: 320px;
        .facility-name{
            font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
    .facilities-container {
      .facilites {
        width: 720px;
        .facility {
          width: 340px;
          .facility-name{
              font-size: 18px;
          }
        }
      }
    }
  }