* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.service-details-container .service-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-details-container .service-details .details {
  margin-top: 50px;
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-details-container .service-details .details p {
  font-size: 16.5px;
  line-height: 2;
  text-align: left;
  color: rgb(105, 103, 103);
}
.service-details-container .service-details .details .first {
  display: flex;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  align-items: center;
}
.service-details-container .service-details .details .first .titleanddescription {
  line-height: 4;
}
.service-details-container .service-details .details .first .titleanddescription .title {
  font-size: 28px;
}
.service-details-container .service-details .details .first .image img {
  width: 600px;
  height: 500px;
  border-radius: 10px;
}
.service-details-container .service-details .details .second {
  line-height: 3;
}
.service-details-container .service-details .details .second ::-webkit-scrollbar {
  visibility: hidden;
}
.service-details-container .service-details .details .second ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  list-style: none;
  margin-top: 10px;
  height: 200px;
  overflow-y: scroll;
}
.service-details-container .service-details .details .second ul li {
  color: rgb(105, 103, 103);
}
.service-details-container .service-details .details .second ul li i {
  color: #fe5631;
  background-color: rgb(250, 245, 245);
  padding: 10px;
  font-size: 10px;
  transition: 0.4s;
  border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
}
.service-details-container .service-details .details .second ul li:hover i {
  background-color: #fe5631;
  color: white;
}
.service-details-container .service-details .details .third .description {
  margin-top: 20px;
}
.service-details-container .service-details .details .third .images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
.service-details-container .service-details .details .third .images img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

@media only screen and (max-width: 1400px) {
  .service-details-container .service-details .details {
    width: 1100px;
  }
  .service-details-container .service-details .details .first .titleanddescription {
    line-height: 2;
  }
  .service-details-container .service-details .details .first .image img {
    width: 400px;
    height: 400px;
  }
  .service-details-container .service-details .details .third .images img {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (max-width: 1100px) {
  .service-details-container .service-details .details {
    width: 1000px;
  }
  .service-details-container .service-details .details .first .titleanddescription {
    line-height: 2;
  }
  .service-details-container .service-details .details .first .image img {
    width: 300px;
    height: 300px;
  }
  .service-details-container .service-details .details .third .images img {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (max-width: 1050px) {
  .service-details-container .service-details .details ::-webkit-scrollbar {
    visibility: visible;
  }
  .service-details-container .service-details .details ::-webkit-scrollbar {
    width: 5px;
    background-color: lightgrey;
  }
  .service-details-container .service-details .details ::-webkit-scrollbar-thumb {
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
  }
  .service-details-container .service-details .details .first {
    flex-direction: column;
  }
}/*# sourceMappingURL=ServiceDetails.css.map */