$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.service-details-container {
  .service-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    .details {
      margin-top: 50px;
      width: 1300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 16.5px;
        line-height: 2;
        text-align: left;
        color: rgb(105, 103, 103);
      }
      .first {
        display: flex;
        justify-content: center;
        column-gap: 60px;
        align-items: center;
        .titleanddescription {
          line-height: 4;
          .title {
            font-size: 28px;
          }
        }
        .image {
          img {
            width: 600px;
            height: 500px;
            border-radius: 10px;
          }
        }
      }
      .second {
        line-height: 3;
        ::-webkit-scrollbar{
            visibility: hidden;
        }
        
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 800px;
          list-style: none;
          margin-top: 10px;
        
          height: 200px;
          overflow-y: scroll;
          li {
            color: rgb(105, 103, 103);
            i {
              color: $primarycolor;
              background-color: rgb(250, 245, 245);
              padding: 10px;
              font-size: 10px;
              transition: 0.4s;
              border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
            }
            &:hover {
              i {
                background-color: $primarycolor;
                color: white;
              }
            }
          }
        }
      }
      .third {
        .description {
          margin-top: 20px;
        }
        .images {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          column-gap: 20px;
          row-gap: 20px;
          img {
            width: 400px;
            height: 300px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .service-details-container {
    .service-details {
      .details {
        width: 1100px;
        .first {
          .titleanddescription {
            line-height: 2;
          }
          .image {
            img {
              width: 400px;
              height: 400px;
            }
          }
        }
        .third {
          .images {
            img {
              width: 300px;
              height: 200px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
    .service-details-container {
        .service-details {
          .details {
            width: 1000px;
            .first {
              .titleanddescription {
                line-height: 2;
              }
              .image {
                img {
                  width: 300px;
                  height: 300px;
                }
              }
            }
            .third {
              .images {
                img {
                  width: 300px;
                  height: 200px;
                }
              }
            }
          }
        }
      }
}

@media only screen and (max-width: 1050px) {
    
    .service-details-container{
        .service-details{
            .details{
                ::-webkit-scrollbar{
visibility: visible;                }
                ::-webkit-scrollbar{
                    width: 5px;
                    background-color: lightgrey;
                }
                ::-webkit-scrollbar-thumb{
                    background-color: rgb(65, 65, 65);
                    border-radius: 10px;
                }
                .first{
                    flex-direction: column;
                }
            }
        }
    }
}