$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.property-req-container {
  p {
    margin: 0;
  }
  .property-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .arrows {
      display: flex;
      justify-content: space-between;
      width: 1380px;
      transition: 0.6s;
      opacity: 0;
      position: relative;
      z-index: 1;
      top: 200px;
      i {
        color: $primarycolor;
        transition: 0.5s;
        background-color: white;
        padding: 13px;
        border-radius: 50%;
        box-shadow: 0 0 3px lightgray;
        position: relative;
        &:hover {
          color: white;
          background-color: $primarycolor;
          cursor: pointer;
        }
      }
      #left {
        right: 0;
      }
      #right {
        left: 0;
      }
    }
    .property-details-gallery-container {
      width: 1386px;
      overflow: hidden;
      position: relative;
      .gallery {
        max-height: 500px;
        display: flex;
        column-gap: 20px;
        transition: 0.6s;
        position: relative;
        img {
          width: 683px;
          height: 423px;
          border-radius: 5px;
        }
      }
      #sold-imgg {
        width: 400px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: none;
        // border-radius: 50%;

      }
    }

    .Details {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 50px;
      .property {
        width: 900px;
        h2 {
          font-size: 25px;
        }
        .about {
          border-radius: 10px;
          border: 1px solid lightgrey;
          line-height: 2;
          padding: 20px;
          position: relative;
          .tagsandprice {
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 1.5;
            .tags {
              display: flex;
              column-gap: 20px;

              p {
                border-radius: 5px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: white;
                font-size: 15.5px;
                letter-spacing: 0.2px;
              }
              .featured {
                background-color: $hovercolor;
              }
              .rent {
                background-color: $primarycolor;
              }
            }
            .price-container {
              .price {
                padding: 20px;
                border-radius: 5px;
                background-color: $primarycolor;
                color: white;
                font-size: 15.5px;
                padding-top: 5px;
                padding-bottom: 5px;
              }
            }
          }
          .address {
            font-size: 20px;
          }
          .title {
            font-size: 20px;
          }
          .titleid {
            font-size: 22px;
            color: $primarycolor;
          }
          .typeandsize {
            display: flex;
            column-gap: 5px;
            align-items: center;
            .type {
              font-size: 15.5px;
              color: rgb(83, 83, 83);
              font-weight: 500;
            }
            .size {
              font-size: 15.5px;
              font-weight: 400;
            }
          }
          .otherdetailsandrating {
            display: flex;
            justify-content: space-between;
            .other-details {
              font-size: 15.5px;
              letter-spacing: 0.5px;
              display: flex;
              align-items: center;
              column-gap: 10px;
              p {
                font-size: 15.5px;
                font-weight: 500;
                color: rgb(99, 99, 99);
              }
            }
            .rating {
              display: flex;
              justify-content: center;
              align-items: center;
              column-gap: 5px;
              i {
                color: #f8b42a;
              }
              p {
                font-size: 15.5px;
                font-weight: 500;
                color: grey;
                margin: 0;
              }
            }
          }
          #sold-imgg-about{
            position: absolute;
            background-color: none;
            right: 0;
            bottom: 0;
            width: 200px;
            height: 200px;
            top: 50%;
            transform: translate(-50% , -50%);
          }
        }
        .description-container {
          border-radius: 10px;
          border: 1px solid lightgrey;
          padding: 20px;
          line-height: 2;

          .description {
            line-height: 1.5;
            .detail {
              display: flex;
              align-items: center;
              justify-content: left;
              p {
                font-size: 15.5px;
                color: black;
              }
              .title {
                font-weight: 500;
                width: 200px;
              }
              .input {
                color: rgb(103, 102, 102);
                font-size: 15.5px;
                font-weight: 500;
              }
            }
          }
        }
        .overview-container {
          border-radius: 10px;
          border: 1px solid lightgrey;
          padding: 20px;
          .overview {
            display: flex;
            justify-content: left;
            padding-top: 10px;
            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 15px;
              box-shadow: 0 0 5px rgb(233, 233, 233);
              border-radius: 10px;
              border: none;
              i {
                color: #c4c4c4;
                font-size: 25px;
              }
              p {
                text-align: center;
                color: rgb(94, 94, 94);
                font-size: 15.5px;
                margin-top: 7px;
              }
              .detail {
                color: black;
              }
            }
          }
        }

        .address-container {
          border-radius: 10px;
          border: 1px solid lightgrey;
          padding: 20px;
          .title {
            font-weight: 500;
            font-size: 16px;
          }
          .addresss {
            display: flex;
            justify-content: left;
            column-gap: 40px;
            padding-top: 10px;
            padding-left: 20px;
            div {
              min-width: 100%;
              ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                line-height: 2;

                li {
                  font-size: 15.5px;
                  color: rgb(112, 110, 110);
                }
              }
              .address-items {
                columns: 2;
                display: flex;
                flex-wrap: wrap;
                li {
                  color: rgb(91, 90, 90);
                  width: 200px;
                  font-size: 15.5px;
                  text-align: left;
                }
                .head {
                  color: black;
                  font-weight: 500;
                  width: 500px;
                }
              }
            }
          }
        }
        .features-container {
          border-radius: 10px;
          border: 1px solid lightgrey;
          padding: 20px;
          ::-webkit-scrollbar {
            visibility: hidden;
          }
          .title {
            font-weight: 500;
            font-size: 16px;
          }
          .features {
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            padding-top: 10px;
            row-gap: 20px;
            .item {
              background-color: $hovercolor;
              border-radius: 40px;
              padding: 5px;
              padding-left: 10px;
              padding-right: 10px;
              font-weight: 500;
              color: white;
            }
            ul {
              list-style: none;
              line-height: 3.5;
              display: flex;
              row-gap: 20px;
              flex-wrap: wrap;
              column-gap: 20px;
              li {
                font-size: 15.5px;
                text-align: center;
                border: 1px solid lightgray;
                // i {
                //   padding: 10px;
                //   border-radius: 50%;
                //   color: rgb(29, 194, 149);
                //   background-color: rgb(229, 255, 248);
                //   transition: 0.4s;
                // }
                &:hover {
                  i {
                    color: white;
                    background-color: $primarycolor;
                  }
                }
              }
            }
          }
        }

        .floorplan-container {
          border-radius: 10px;
          border: 1px solid lightgrey;
          padding: 20px;

          .title-and-detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .details {
              color: rgb(99, 99, 99);
              font-size: 15.5px;
              letter-spacing: 0.5px;
            }
          }
          .image {
            margin-top: 20px;
            background-color: rgb(243, 247, 253);
            padding: 30px;
            border-radius: 6px;
          }
        }
        .video-container {
          border-radius: 10px;
          border: 1px solid lightgrey;
          padding: 20px;
          iframe {
            border: none;
            border-radius: 5px;
            margin-top: 10px;
          }
        }
      }
      .contact-or-share {
        width: 450px;
        .shareanddownload {
          display: flex;
          justify-content: center;
          column-gap: 20px;
          padding: 20px;
          background-color: rgb(243, 247, 253);
          border-radius: 10px;
          .add-to-cart {
            .add-to-cart-btn {
              padding: 15px;
              border-radius: 5px;
              background-color: $secondarycolor;
              transition: 0.4s;
              color: white;
              font-weight: 500;
              letter-spacing: 0.5x;
              border: none;

              &:hover {
                cursor: pointer;
                background-color: $hovercolor;
              }
            }
          }
        }
        .contact {
          .dealer-details {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 20px;
            background-color: rgb(32, 28, 45);
            padding-top: 20px;
            padding-bottom: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            img {
              width: 80px;
              height: 80px;
              border-radius: 50%;
            }
            .dealer-name {
              h3 {
                color: white;
              }
              a {
                color: $primarycolor;
                text-decoration: underline;
                text-decoration-color: $primarycolor;
                i {
                  color: $primarycolor;
                }
              }
            }
          }
          .request-submitted {
            font-size: 22px;
            color: $hovercolor;
            margin-top: 20px;
            font-weight: 700;
            text-align: center;
          }
          .form {
            display: flex;
            flex-direction: column;
            justify-content: left;
            border-radius: 10px;
            border: 1px solid rgb(225, 225, 225);
            padding: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            line-height: 2;
            label {
              font-size: 15.5px;
              font-weight: 500;
            }
            input {
              border-radius: 8px;
              border: 1px solid white;
              outline: none;
              padding: 20px;
              background-color: rgb(242, 243, 245);
              transition: 0.4s;
              color: #8a798d;
              font-size: 15.5px;
              &:focus {
                border-color: $primarycolor;
              }
            }
            .txtarea {
              background-color: rgb(242, 243, 245);
              border-radius: 8px;
              border: 1px solid white;
              outline: none;
              transition: 0.4s;
              padding: 20px;
              color: #8a798d;
              font-size: 15.5px;
              &:focus {
                border-color: $primarycolor;
              }
            }
            .submit-btn {
              width: 150px;
              padding: 15px;
              border-radius: 5px;
              background-color: $primarycolor;
              transition: 0.4s;

              border: none;
              color: white;
              font-size: 15.5px;
              &:hover {
                cursor: pointer;
                background-color: $hovercolor;
              }
            }
          }
        }
        .suggestions-container {
          background-color: rgb(243, 247, 253);
          padding: 20px;
          border-radius: 10px;
          .suggestions {
            .suggestion {
              display: flex;
              justify-content: left;
              align-items: center;
              column-gap: 20px;
              background-color: white;
              border: 1px solid rgb(225, 225, 225);
              padding: 10px;
              border-radius: 10px;
              margin-top: 15px;
              img {
                width: 80px;
                height: 80px;
                border-radius: 10px;
              }
              .detail {
                line-height: 1.5;
                .address {
                  color: rgb(107, 107, 107);
                  i {
                    color: $primarycolor;
                  }
                }
                .for-and-price {
                  display: flex;
                  width: 280px;
                  column-gap: 10px;
                  justify-content: left;
                  align-items: center;
                  .for {
                    font-size: 12px;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: rgb(229, 255, 248);
                    transition: 0.4s;
                    color: rgb(29, 194, 149);
                    &:hover {
                      background-color: $primarycolor;
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }
        .tagcloud {
          padding: 20px;
          border-radius: 10px;
          border: 1px solid rgb(225, 225, 225);
          .tags {
            padding: 10px;
            margin-top: 10px;
            ul {
              list-style-type: none;
              display: flex;
              flex-wrap: wrap;
              column-gap: 20px;
              row-gap: 10px;
              li {
                padding: 10px;
                background-color: $hovercolor;
                border-radius: 3px;
                transition: 0.5s;
                a {
                  text-decoration: none;
                  color: white;
                }
                &:hover {
                  background-color: $primarycolor;
                }
              }
            }
          }
        }

        .topproperties-container {
          padding: 20px;
          border-radius: 10px;
          border: 1px solid rgb(225, 225, 225);
          overflow: hidden;

          .titleanddots {
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
              box-shadow: 0 0 3px lightgray;
              color: $primarycolor;
              opacity: 0.5;
              border-radius: 50%;
              margin-left: 15px;
              transition: 0.3s;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .properties-container {
            overflow: hidden;
            .properties {
              display: flex;
              width: 450px;

              column-gap: 40px;
              transition: all 1s;
              .property {
                width: 410px;
                height: 420px;
                padding-top: 20px;

                .details {
                  padding: 20px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  width: 410px;
                  height: 399px;
                  border-radius: 10px;
                  background-repeat: no-repeat;
                  div {
                    line-height: 1.8;
                  }
                  p {
                    color: white;
                    margin: 0;
                    padding: 0;
                  }
                  h2 {
                    color: white;
                    margin: 0;
                  }
                  .price {
                    font-weight: bold;
                  }
                  .tag {
                    background-color: $hovercolor;
                    padding: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: white;
                    width: 100px;
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-align: center;
                    transition: 0.5s;
                    border-radius: 5px;
                    &:hover {
                      background-color: $primarycolor;
                    }
                  }
                  .other-details-container {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 15px;
                    align-items: center;
                    p {
                      color: white;
                      font-size: 10px;
                      font-weight: 500;
                      letter-spacing: 0.5px;
                    }
                  }
                }
              }
            }
          }
          .bottom-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            i {
              box-shadow: 0 0 3px lightgray;
              color: $primarycolor;
              opacity: 0.5;
              border-radius: 50%;
              margin-left: 15px;
              transition: 0.3s;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &:hover {
      .arrows {
        opacity: 1;
        #left {
          right: 10px;
        }
        #right {
          left: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .property-req-container {
    .property-details {
      .arrows {
        width: 1200px;
      }
      .property-details-gallery-container {
        width: 1200px;
        .gallery {
          img {
            width: 590px;
            height: 400px;
          }
        }
      }
      .Details {
        .property {
          width: 700px;
          .floorplan-container {
            .image {
              img {
                width: 600px;
              }
            }
          }
        }
      }
    }
  }
 
}

@media only screen and (max-width: 1300px) {
  .property-req-container {
    .property-details {
      .arrows {
        width: 1000px;
        top: 150px;
      }
      .property-details-gallery-container {
        width: 1000px;
        .gallery {
          img {
            width: 490px;
            height: auto;
          }
        }
      }
      .Details {
        .property {
          width: 600px;
          .floorplan-container {
            .image {
              img {
                width: 500px;
              }
            }
          }
        }
        .contact-or-share {
          width: 350px;
          .shareanddownload {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
          }
          .suggestions-container {
            .suggestions {
              .suggestion {
                .detail {
                  .for-and-price {
                    width: 180px;
                  }
                }
              }
            }
          }
          .topproperties-container {
            .properties-container {
              .properties {
                width: 350px;
                .property {
                  width: 310px;

                  .details {
                    width: 310px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1090px) {
  .property-req-container {
    .property-details {
      .arrows {
        width: 800px;
      }
      .property-details-gallery-container {
        width: 800px;
        .gallery {
          img {
            width: 390px;
            height: auto;
          }
        }
      }
      .Details {
        grid-template-columns: auto;
        .property {
          width: 800px;
          .overview-container {
            .overview {
              flex-wrap: wrap;
              column-gap: 20px;
              row-gap: 20px;
              div {
                width: 150px;
              }
            }
          }
          .address-container {
            .address {
              flex-wrap: wrap;
              div {
                column-gap: 50px;
                ul {
                  li {
                    width: 150px;
                  }
                }
              }
            }
          }
          .floorplan-container {
            .title-and-detail {
              justify-content: left;
              flex-direction: column;
              align-items: flex-start;
              .details {
                margin-top: 10px;
              }
            }
          }
        }
        .contact-or-share {
          width: 800px;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .property-req-container {
    .property-details {
      margin-top: 20px;
      .arrows {
        opacity: 1;
      }
      .Details {
        .property {
          .about {
            .otherdetailsandrating {
              flex-direction: column;
              justify-content: left;
              .rating {
                justify-content: left;
              }
            }
          }
          .video-container {
            .video {
              display: flex;
              height: 400px;
              align-items: center;
              .play-icon {
                padding: 0;
              }
            }
          }
          .address-container {
            .address {
              div {
                .address-items {
                  li {
                    width: 95%;
                  }
                }
              }
            }
          }
        }
      }
      &:hover {
        .arrows {
          #left {
            right: 0;
          }
          #right {
            left: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .property-req-container {
    .property-details {
      .Details {
        .property {
          .about {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            .tagsandprice {
              flex-direction: column;
              row-gap: 15px;
            }
            .address-container {
              .address {
                div {
                  .address-items {
                    .head {
                      width: 90%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
