$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.reviews-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
  h1{
    margin: 0;
  }
  .title {
    font-size: 35px;
    text-align: center;
  }
  .description {
    margin-top: 0px;
    width: 600px;
    font-size: 16.5px;
    color: rgb(104, 103, 103);
    text-align: center;
  }
  .allreviews-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    position: relative;

    .arrows {
      width: 1340px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      pointer-events: none;
      z-index: 1;
      i {
        padding: 12px;
        box-shadow: 0 0 5px lightgray;
        border-radius: 50%;
        font-size: 14px;
        color: $primarycolor;
        position: relative;
        background-color: white;
        pointer-events: auto;
        transition: 0.4s;
        opacity: 0;
        z-index: 2;
        &:hover {
          cursor: pointer;
          color: white;
          background-color: $primarycolor;
        }
      }
      #left {
        right: 0px;
      }
      #right {
        left: 0px;
      }
    }
    .allreviews {
      overflow-x: hidden;
      width: 1340px;

      .reviews {
        display: flex;
        column-gap: 40px;
        padding: 10px;
        transition: 0.7s;
       
        .review {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          box-shadow: 0 0 10px rgb(236, 234, 234);
          border-radius: 10px;
          padding: 10px;
          min-width: 300px;
          img {
            width: 100%;
            height: 250px;
            border-radius: 10px;
            object-fit: cover;
          }
          .customer-name {
            height: 50px;
            margin-top: 10px;
          }
          .customer-profession {
            color: black;
            font-size: 15px;
            height: 70px;
          }
          ::-webkit-scrollbar{
            width: 4px;
            background-color: lightgray;
            visibility: hidden;
            border-radius: 10px;
          }
          ::-webkit-scrollbar-thumb{
            width: 4px;
            background-color: gray;
            border-radius: 10px;
          }
          .customer-review {
            line-height: 1.5;
            font-size: 15.5px;
            color: rgb(95, 93, 93);
            height: 250px;
            overflow-y: scroll;
            text-align: left;
          }
          .rating {
            display: flex;
            column-gap: 6px;
            margin-top: 20px;
            i {
              font-size: 14px;
              color: rgb(248, 180, 42);
            }
          }
        }
      }
    }
    &:hover {
      .arrows {
        i {
          opacity: 1;
        }
        #left {
          right: 20px;
        }
        #right {
          left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1410px) {
  .reviews-container {
    .allreviews-container {
      .arrows {
        width: 1200px;
      }
      .allreviews {
        width: 1200px;
        .reviews {
          column-gap: 50px;
          .review {
            min-width: 360px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1275px) {
  .reviews-container {
    .allreviews-container {
      .arrows {
        width: 1000px;
      }
      .allreviews {
        width: 1000px;
        .reviews {
          column-gap: 20px;
          .review {
            min-width: 313px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1070px) {
  .reviews-container {
    .allreviews-container {
      .arrows {
        width: 700px;
      }
      .allreviews {
        width: 700px;
        .reviews {
          column-gap: 20px;
          .review {
            min-width: 330px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .reviews-container {
    .allreviews-container {
      .arrows{
        top: 35%;
        width: 100%;
        i{
          opacity: 1;
        }
        #left {
          right: 0;
        }
        #right {
          left: 0;
        }
      }
      .allreviews {
        .reviews {
          column-gap: 30px;
        }
      }
      &:hover {
        .arrows {
          i {
            opacity: 1;
          }
          #left {
            right: 0;
          }
          #right {
            left: 0;
          }
        }
      }
    }
  }
}
