* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.reviews-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews-container p {
  margin: 0;
}
.reviews-container h1 {
  margin: 0;
}
.reviews-container .title {
  font-size: 35px;
  text-align: center;
}
.reviews-container .description {
  margin-top: 0px;
  width: 600px;
  font-size: 16.5px;
  color: rgb(104, 103, 103);
  text-align: center;
}
.reviews-container .allreviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.reviews-container .allreviews-container .arrows {
  width: 1340px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
}
.reviews-container .allreviews-container .arrows i {
  padding: 12px;
  box-shadow: 0 0 5px lightgray;
  border-radius: 50%;
  font-size: 14px;
  color: #fe5631;
  position: relative;
  background-color: white;
  pointer-events: auto;
  transition: 0.4s;
  opacity: 0;
  z-index: 2;
}
.reviews-container .allreviews-container .arrows i:hover {
  cursor: pointer;
  color: white;
  background-color: #fe5631;
}
.reviews-container .allreviews-container .arrows #left {
  right: 0px;
}
.reviews-container .allreviews-container .arrows #right {
  left: 0px;
}
.reviews-container .allreviews-container .allreviews {
  overflow-x: hidden;
  width: 1340px;
}
.reviews-container .allreviews-container .allreviews .reviews {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 10px;
  transition: 0.7s;
}
.reviews-container .allreviews-container .allreviews .reviews .review {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 10px rgb(236, 234, 234);
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
}
.reviews-container .allreviews-container .allreviews .reviews .review img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-container .allreviews-container .allreviews .reviews .review .customer-name {
  height: 50px;
  margin-top: 10px;
}
.reviews-container .allreviews-container .allreviews .reviews .review .customer-profession {
  color: black;
  font-size: 15px;
  height: 70px;
}
.reviews-container .allreviews-container .allreviews .reviews .review ::-webkit-scrollbar {
  width: 4px;
  background-color: lightgray;
  visibility: hidden;
  border-radius: 10px;
}
.reviews-container .allreviews-container .allreviews .reviews .review ::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: gray;
  border-radius: 10px;
}
.reviews-container .allreviews-container .allreviews .reviews .review .customer-review {
  line-height: 1.5;
  font-size: 15.5px;
  color: rgb(95, 93, 93);
  height: 250px;
  overflow-y: scroll;
  text-align: left;
}
.reviews-container .allreviews-container .allreviews .reviews .review .rating {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin-top: 20px;
}
.reviews-container .allreviews-container .allreviews .reviews .review .rating i {
  font-size: 14px;
  color: rgb(248, 180, 42);
}
.reviews-container .allreviews-container:hover .arrows i {
  opacity: 1;
}
.reviews-container .allreviews-container:hover .arrows #left {
  right: 20px;
}
.reviews-container .allreviews-container:hover .arrows #right {
  left: 20px;
}

@media only screen and (max-width: 1410px) {
  .reviews-container .allreviews-container .arrows {
    width: 1200px;
  }
  .reviews-container .allreviews-container .allreviews {
    width: 1200px;
  }
  .reviews-container .allreviews-container .allreviews .reviews {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .reviews-container .allreviews-container .allreviews .reviews .review {
    min-width: 360px;
  }
}
@media only screen and (max-width: 1275px) {
  .reviews-container .allreviews-container .arrows {
    width: 1000px;
  }
  .reviews-container .allreviews-container .allreviews {
    width: 1000px;
  }
  .reviews-container .allreviews-container .allreviews .reviews {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .reviews-container .allreviews-container .allreviews .reviews .review {
    min-width: 313px;
  }
}
@media only screen and (max-width: 1070px) {
  .reviews-container .allreviews-container .arrows {
    width: 700px;
  }
  .reviews-container .allreviews-container .allreviews {
    width: 700px;
  }
  .reviews-container .allreviews-container .allreviews .reviews {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .reviews-container .allreviews-container .allreviews .reviews .review {
    min-width: 330px;
  }
}
@media only screen and (max-width: 780px) {
  .reviews-container .allreviews-container .arrows {
    top: 35%;
    width: 100%;
  }
  .reviews-container .allreviews-container .arrows i {
    opacity: 1;
  }
  .reviews-container .allreviews-container .arrows #left {
    right: 0;
  }
  .reviews-container .allreviews-container .arrows #right {
    left: 0;
  }
  .reviews-container .allreviews-container .allreviews .reviews {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .reviews-container .allreviews-container:hover .arrows i {
    opacity: 1;
  }
  .reviews-container .allreviews-container:hover .arrows #left {
    right: 0;
  }
  .reviews-container .allreviews-container:hover .arrows #right {
    left: 0;
  }
}/*# sourceMappingURL=Reviews.css.map */