$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.profile-overview-container {
  .profile-overview {
    .profile-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      
      fieldset {
        border: 1px solid lightgray;
        border-radius: 3px;

        legend {
          width: auto;
          margin-left: 10px;
          text-align: left;
          font-weight: 600;
          color: white;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 2px;
          font-variant: small-caps;
          letter-spacing: 1.5px;
          background-color: $hovercolor;
          font-size: 18px;
        }
        .profile-detail-table {
          width: 1400px;
          border: none;
          .sub-title {
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            margin-top: 20px;
            margin-left: 20px;
            padding-bottom: 20px;
            text-align: left;
            font-variant: small-caps;
            text-decoration-color: $primarycolor;
          }
          tr {
            display: flex;
            flex-wrap: wrap;
            border: none;
            td {
              padding: 15px;
              padding-top: 10px;
              padding-bottom: 10px;
              width: 450px;
              border: none;
              display: flex;
              font-size: 16px;
              align-items: center;

              .profile-detail-list {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                row-gap: 15px;
                column-gap: 30px;
                padding-left: 5px;
                li {
                  color: black;
                  display: flex;
                  column-gap: 4px;
                  align-items: baseline;
                  width: 200px;
                  i {
                    padding: 6px;
                    border-radius: 50%;
                    color: rgb(29, 194, 149);
                    background-color: rgb(229, 255, 248);
                    transition: 0.4s;
                    font-size: 12px;
                  }
                }
              }
            }
            #fullwidth {
              width: 100%;
            }
            .small-inputs {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              .small-input {
                width: 82%;
              }
              .title {
                text-align: left;
                width: 18%;
              }
            }
            .title {
              font-weight: 500;
              font-size: 16px;
              letter-spacing: 0.5px;
              background: none;
              text-align: left;
              width: 250px;
            }
          }
          .small-inputs {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .small-input {
              width: 82%;
            }
            .title {
              text-align: left;
              width: 18%;
            }
          }
          .sub-categories {
            padding-left: 30px;
          }
          #sub-categories {
            padding-left: 60px;
          }

          .titles-and-list,#titles-and-list {
            display: flex;
            align-items: baseline;
            .title {
              width: 18%;
            }
            .profile-detail-list-container{
              width: 82%;
            }
          }
          
        }
      }

      .profile-detail-title {
        text-align: center;
        font-size: 18px;
        text-decoration: underline;
        text-decoration-color: $primarycolor;
        font-weight: 500;
      }

      ::-webkit-scrollbar {
        width: 6px;
        background-color: black;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        width: 6px;
        background-color: lightgray;
        border-radius: 10px;
      }
      .branches-array {
        height: 500px;
        overflow-y: scroll;
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        fieldset {
          
          .profile-detail-table {
            width: 1200px;
            tr {
              td {
                width: 300px;
              }
              .small-inputs {
                .small-input {
                  width: 80%;
                }
                .title {
                  text-align: left;
                  width: 20%;
                }
              }
            }
            .small-inputs {
              .small-input {
                width: 80%;
              }
              .title {
                text-align: left;
                width: 20%;
              }
            }
            .titles-and-list,#titles-and-list{
              .title {
                width: 20%;
              }
              .profile-detail-list-container {
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        fieldset {
          .profile-detail-table {
            width: 1000px;
            tr {
              td {
                width: 250px;
              }
              .small-inputs {
                .small-input {
                  width: 75%;
                }
                .title {
                  text-align: left;
                  width: 25%;
                }
              }
            }
            .small-inputs {
              .small-input {
                width: 75%;
              }
              .title {
                text-align: left;
                width: 25%;
              }
            }
            .titles-and-list,#titles-and-list {
              .title {
                width: 25%;
              }
              .profile-detail-list-container {
                width: 75%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        fieldset {
          .profile-detail-table {
            width: 800px;
            tr {
              td {
                width: 400px;
              }
              .small-inputs {
                .small-input {
                  width: 70%;
                }
                .title {
                  text-align: left;
                  width: 30%;
                }
              }
            }
            .small-inputs {
              .small-input {
                width: 70%;
              }
              .title {
                text-align: left;
                width: 30%;
              }
            }
            .titles-and-list,#titles-and-list {
              .title {
                width: 30%;
              }
              .profile-detail-list-container {
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        fieldset {
          .profile-detail-table {
            width: 600px;
            tr {
              td {
                width: 300px;
              }
              .small-inputs {
                .small-input {
                  width: 100%;
                }
                .title {
                  text-align: left;
                  width: 100%;
                }
              }
            }
            .small-inputs {
              .small-input {
                width: 100%;
              }
              .title {
                text-align: left;
                width: 100%;
              }
            }
            .titles-and-list,#titles-and-list {
              .title {
                width: 100%;
              }
              .profile-detail-list-container {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        fieldset {
          width: 95%;
          .profile-detail-table {
            width: 100%;
            .sub-title {
              text-align: center;
            }
            tr {
              td {
                width: 100%;
                .profile-detail-list {
                  display: block;
                  li {
                    margin-top: 10px;
                    width: 90%;
                  }
                }
              }
              .small-inputs {
                .title {
                  width: 100%;
                }
              }
            }
            .small-inputs {
              .small-input {
                width: 100%;
              }
              .title {
                text-align: left;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
