* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mypostedproperty-transaction-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.mypostedproperty-transaction-table-container .transaction-table {
  width: 90%;
  overflow-x: scroll;
  display: flex;
  align-items: flex-start;
}
.mypostedproperty-transaction-table-container .transaction-table table {
  padding: 10px;
  border-collapse: collapse;
}
.mypostedproperty-transaction-table-container .transaction-table table tr {
  width: 100%;
  border-collapse: collapse;
}
.mypostedproperty-transaction-table-container .transaction-table table tr th {
  font-size: 16.3px;
  padding: 5px;
  border: 1px solid lightgray;
  min-width: 120px;
}
.mypostedproperty-transaction-table-container .transaction-table table tr td {
  font-size: 16.3px;
  padding: 5px;
  border: 1px solid lightgray;
  text-align: center;
  min-width: 120px;
}
.mypostedproperty-transaction-table-container .transaction-table table .transaction-data td {
  font-size: 14px;
  font-weight: 500;
}
.mypostedproperty-transaction-table-container .transaction-table table .transaction-data td span {
  color: #1dc295;
  transition: 0.4s;
}
.mypostedproperty-transaction-table-container .transaction-table table .transaction-data td span:hover {
  cursor: pointer;
  color: #fe5631;
}/*# sourceMappingURL=MyPostedProperty.css.map */