$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.mypostedproperty-transaction-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  .transaction-table {
   width: 90%;
   overflow-x: scroll;
   display: flex;
  align-items: flex-start;
    table {
      padding: 10px;
      border-collapse: collapse;

      tr {
        width: 100%;
        border-collapse: collapse;
        th {
          font-size: 16.3px;
          padding: 5px;
          border: 1px solid lightgray;
          min-width: 120px;
        }
        td {
          font-size: 16.3px;
          padding: 5px;
          border: 1px solid lightgray;
          text-align: center;
          min-width: 120px;
        }
      }
      .transaction-data {
        td {
          font-size: 14px;
          font-weight: 500;
          span {
            color: $hovercolor;
            transition: 0.4s;
            &:hover {
              cursor: pointer;
              color: $primarycolor;
            }
          }
        }
      }
    }
  }
}

