* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.gallery-container p {
  margin: 0;
  padding: 0;
}
.gallery-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.gallery-container .header .title {
  font-size: 35px;
  text-align: center;
}
.gallery-container .header .description {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  width: 700px;
}
.gallery-container .gallery {
  margin-top: 50px;
  height: 1925px;
  overflow-y: hidden;
}
.gallery-container .gallery .images {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
  transition: 1s;
}
.gallery-container .pagination-container .pagination .img {
  width: 450px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}
.gallery-container .pagination-container .pagination .img img {
  width: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: black;
  height: 300px;
  border-radius: 10px;
  transition: 0.5s;
}
.gallery-container .pagination-container .pagination .img img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media only screen and (max-width: 1430px) {
  .gallery-container .gallery {
    height: 1805px;
  }
  .gallery-container .gallery .images {
    row-gap: 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .gallery-container .gallery .images .img {
    width: 400px;
    height: 280px;
  }
  .gallery-container .gallery .images .img img {
    width: 400px;
    height: 280px;
  }
  .gallery-container .pagination-container .pagination .img {
    width: 450px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
  }
  .gallery-container .pagination-container .pagination .img img {
    width: 450px;
    -o-object-fit: contain;
       object-fit: contain;
    background-color: black;
    height: 300px;
    border-radius: 10px;
    transition: 0.5s;
  }
  .gallery-container .pagination-container .pagination .img img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
@media only screen and (max-width: 1285px) {
  .gallery-container .gallery {
    height: 1625px;
  }
  .gallery-container .gallery .images {
    row-gap: 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .gallery-container .gallery .images .img {
    width: 350px;
    height: 250px;
  }
  .gallery-container .gallery .images .img img {
    width: 350px;
    height: 250px;
  }
}
@media only screen and (max-width: 1120px) {
  .gallery-container .gallery {
    height: 3350px;
  }
  .gallery-container .gallery .images {
    row-gap: 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .gallery-container .gallery .images .img {
    width: 450px;
    height: 350px;
  }
  .gallery-container .gallery .images .img img {
    width: 450px;
    height: 350px;
  }
}
@media only screen and (max-width: 950px) {
  .gallery-container .header .description {
    width: 620px;
  }
  .gallery-container .gallery {
    height: 2450px;
  }
  .gallery-container .gallery .images {
    row-gap: 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .gallery-container .gallery .images .img {
    width: 350px;
    height: 250px;
  }
  .gallery-container .gallery .images .img img {
    width: 350px;
    height: 250px;
  }
}
@media only screen and (max-width: 740px) {
  .gallery-container .gallery {
    height: 2000px;
  }
  .gallery-container .gallery .images {
    row-gap: 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .gallery-container .gallery .images .img {
    width: 300px;
    height: 200px;
  }
  .gallery-container .gallery .images .img img {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (max-width: 650px) {
  .gallery-container .gallery {
    height: 6725px;
  }
  .gallery-container .gallery .images {
    row-gap: 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .gallery-container .gallery .images .img {
    width: 95%;
    height: 350px;
  }
  .gallery-container .gallery .images .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
}/*# sourceMappingURL=Gallery.css.map */