$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.gallery-container {
  p {
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .title {
      font-size: 35px;
      text-align: center;
    }

    .description {
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
      width: 700px;
    }
  }

  .gallery-slides {
    // position: fixed;
    // top: 0;
    // left: 0;
    // min-width: 100vw;
    // min-height: 100vh;
    // z-index: -1;
    // pointer-events: none;
  }

  .gallery {
    margin-top: 50px;
    height: 1925px;
    overflow-y: hidden;

    .images {
      display: flex;
      flex-wrap: wrap;
      row-gap: 25px;
      justify-content: center;
      column-gap: 25px;
      align-items: center;
      transition: 1s;

      
    }
  }
  .pagination-container{
    .pagination{
      .img {
        width: 450px;
        height: 300px;
        overflow: hidden;
        border-radius: 10px;
  
        img {
          width: 450px;
          object-fit: contain;
          background-color: black;
          height: 300px;
          border-radius: 10px;
          transition: 0.5s;
  
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1430px) {
  .gallery-container {
    .gallery {
      height: 1805px;

      .images {
        row-gap: 25px;
        column-gap: 25px;

        .img {
          width: 400px;
          height: 280px;

          img {
            width: 400px;
            height: 280px;
          }
        }
      }
    }
    .pagination-container{
      .pagination{
        .img {
          width: 450px;
          height: 300px;
          overflow: hidden;
          border-radius: 10px;
    
          img {
            width: 450px;
            object-fit: contain;
            background-color: black;
            height: 300px;
            border-radius: 10px;
            transition: 0.5s;
    
            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1285px) {
  .gallery-container {
    .gallery {
      height: 1625px;

      .images {
        row-gap: 25px;
        column-gap: 25px;

        .img {
          width: 350px;
          height: 250px;

          img {
            width: 350px;
            height: 250px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1120px) {
  .gallery-container {
    .gallery {
      height: 3350px;

      .images {
        row-gap: 25px;
        column-gap: 25px;

        .img {
          width: 450px;
          height: 350px;

          img {
            width: 450px;
            height: 350px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .gallery-container {
    .header {
      .description {
        width: 620px;
      }
    }

    .gallery {
      height: 2450px;

      .images {
        row-gap: 25px;
        column-gap: 25px;

        .img {
          width: 350px;
          height: 250px;

          img {
            width: 350px;
            height: 250px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .gallery-container {
    .gallery {
      height: 2000px;

      .images {
        row-gap: 25px;
        column-gap: 25px;

        .img {
          width: 300px;
          height: 200px;

          img {
            width: 300px;
            height: 200px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .gallery-container {
    .gallery {

      height: 6725px;

      .images {
        row-gap: 25px;
        column-gap: 25px;

        .img {
          width: 95%;
          height: 350px;

          img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
          }
        }
      }
    }
  }
}