$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.featured-properties-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  border-bottom: 1px solid lightgray;
position: relative;
  .title {
    text-align: center;
    font-size: 40px;
  }
  .descriptionn {
    margin-top: 19px;
    width: 100%;
    text-align: center;
    font-size: 17.5px;
    line-height: 1.6;
    font-weight: 450;
    color: rgb(63, 63, 63);
  }
  &:hover {
    .arrowss {
      i {
        opacity: 1;
      }
      #left-arrow {
        right: 10px;
      }
      #right-arrow {
        left: 10px;
      }
    }
  }
  .arrowss {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transition: 0.6s;
    pointer-events: none;
    z-index: 12;
    transform: translateY(-50%);
    i {
      pointer-events: auto;
      color: $primarycolor;
      position: relative;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 0 2px lightgray;
      padding: 15px;
      font-size: 15px;
      font-weight: bolder;
      transition: 0.5s;
      opacity: 0;
      &:hover {
        color: white;
        background-color: $primarycolor;
        cursor: pointer;
      }
    }
  }

  .featured-properties {
    overflow-x: hidden;

    .properties {
      display: flex;
      column-gap: 20px;
      transition: 0.5s;

      //use
      .featured-properties-property {
        border-radius: 5px;

        border: 1px solid lightgray;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .upper {
          position: relative;
          padding: 10px;
          .tag {
            background-color: $hovercolor;
            border-radius: 5px;
            font-weight: 500;
            width: 120px;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0.7px;
            color: white;
            padding: 5px;
            position: absolute;
            margin-left: 10px;
            margin-top: 10px;
            transition: 0.5s;
            
          }
          #interior-tag {
            background-color: #0000ff;
            z-index: 999;
          }
          #construction-tag {
            width: 150px;
          }
          .price {
            font-weight: 500;
            // border-radius: 50%;
            width: 120px;
            height: 40px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: $primarycolor;
            letter-spacing: 0.5px;
            position: absolute;
            right: 20px;
            bottom: 20px;
            z-index: 1;
            box-shadow: 0 0 2px rgb(209, 207, 207);
            transition: 0.5s;
            border: none;
            border-radius: 5px;
          }
          img {
            width: 400px;
            border-radius: 10px;
          }
        }

        .middle {
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content:space-around;
          height: 100%;    
          width: 400px;       
           .address {
             color: $primarycolor;
             font-size: 16px;
             font-weight: 500;
             display: flex;
             justify-content: left;
             flex-wrap: wrap;
             align-items: center;
             column-gap: 10px;
             .left-side{
               color: black;
               font-size: 16.5px;
               font-weight: bold;
             }
             .right-side{
               color: rgb(87, 87, 87);
             }
           }
           .property-title {
             font-size: 22px;
             font-weight: bolder;
           }
           .apartmentandsize{
             font-weight: 500;
           }
           .other-detailss-container {
             display: flex;
             column-gap: 15px;
             flex-wrap: wrap;
             width: 400px;
             align-items: center;
             p {
               color: rgb(107, 106, 106);
               font-size: 14px;
               text-align: center;
               font-weight: 500;
               width: 110px;
             }
             .border{
              width: 1px;
               height: 40px;
               background-color:darkgray;
             }
           }
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;

          border-top: 1px solid lightgray;
          .rating {
            display: flex;
            column-gap: 20px;

            align-items: center;
            .stars {
              color: rgb(248, 180, 42);
              span {
                font-size: 22px;
              }
            }
            .rating-name {
              font-size: 17px;
              color: rgb(107, 105, 105);
              position: relative;
              bottom: 2px;
              font-weight: 500;
            }
            .verified-icon{
              object-fit: contain;
            }
          }
        }
        &:hover {
          .tag,
          #interior-tag {
            background-color: $primarycolor;
          }
          .price {
            background-color: $primarycolor;
            color: white;
          }
        }
      }
    }
  }
  .viewallapartment {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1430px) {
  .featured-properties-container {
    .featured-properties {
      .properties {
        .featured-properties-property {
          height: 610px;
          .upper {
            img {
              width: 350px;
            }
          }
          .middle {
            .other-details-container {
              width: 350px;
              column-gap: 5px;
              div {
                width: 105px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1260px) {
  .featured-properties-container {
    .featured-properties {
      .properties {
        .featured-properties-property {
          height: 650px;
          .upper {
            img {
              width: 400px;
            }
          }
          .middle {
            .other-details-container {
              width: 400px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1060px) {
  .featured-properties-container {
    .featured-properties {
      .properties {
        .featured-properties-property {
          height: 620px;
          .upper {
            img {
              width: 320px;
            }
          }
          .middle {
            .other-details-container {
              row-gap: 10px;
              width: 320px;
             
            }
          }
          .bottom {
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            row-gap: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 870px) {
  .featured-properties-container {
    .arrowss {
      top: 40%;
      i {
        opacity: 1;
      }
    }
    &:hover {
      .arrowss {
        #left-arrow {
          right: 0;
        }
        #right-arrow {
          left: 0;
        }
      }
    }

    .featured-properties {
      .properties {
        .featured-properties-property {
          height: 695px;
          .upper {
            // img {
            //   min-width: 100%;
            //   height: 300px;
            // }
          }
          .middle {
            .other-details-container {
              width: 100%;
            
            }
          }
          .bottom {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
