* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.featured-properties-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.featured-properties-container .title {
  text-align: center;
  font-size: 40px;
}
.featured-properties-container .descriptionn {
  margin-top: 19px;
  width: 100%;
  text-align: center;
  font-size: 17.5px;
  line-height: 1.6;
  font-weight: 450;
  color: rgb(63, 63, 63);
}
.featured-properties-container:hover .arrowss i {
  opacity: 1;
}
.featured-properties-container:hover .arrowss #left-arrow {
  right: 10px;
}
.featured-properties-container:hover .arrowss #right-arrow {
  left: 10px;
}
.featured-properties-container .arrowss {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transition: 0.6s;
  pointer-events: none;
  z-index: 12;
  transform: translateY(-50%);
}
.featured-properties-container .arrowss i {
  pointer-events: auto;
  color: #fe5631;
  position: relative;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 2px lightgray;
  padding: 15px;
  font-size: 15px;
  font-weight: bolder;
  transition: 0.5s;
  opacity: 0;
}
.featured-properties-container .arrowss i:hover {
  color: white;
  background-color: #fe5631;
  cursor: pointer;
}
.featured-properties-container .featured-properties {
  overflow-x: hidden;
}
.featured-properties-container .featured-properties .properties {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  transition: 0.5s;
}
.featured-properties-container .featured-properties .properties .featured-properties-property {
  border-radius: 5px;
  border: 1px solid lightgray;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .upper {
  position: relative;
  padding: 10px;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .upper .prime-project-container {
  width: 20%;
  height: 20%;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .upper .prime-project-container .prime-project-logo {
  position: absolute;
  right: 5%;
  top: 10px;
  width: 120px;
  height: 65px;
}

.featured-properties-container .featured-properties .properties .featured-properties-property .upper .tag {
  background-color: #1dc295;
  border-radius: 5px;
  font-weight: 500;
  width: 120px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.7px;
  color: white;
  padding: 5px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.5s;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .upper #interior-tag {
  background-color: #0000ff;
  z-index: 999;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .upper #construction-tag {
  width: 150px;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .upper .price {
  font-weight: 500;
  width: 120px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fe5631;
  letter-spacing: 0.5px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  box-shadow: 0 0 2px rgb(209, 207, 207);
  transition: 0.5s;
  border: none;
  border-radius: 5px;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .upper img {
  width: 400px;
  border-radius: 10px;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 400px;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle .address {
  color: #fe5631;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle .address .left-side {
  color: black;
  font-size: 16.5px;
  font-weight: bold;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle .address .right-side {
  color: rgb(87, 87, 87);
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle .property-title {
  font-size: 22px;
  font-weight: bolder;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle .apartmentandsize {
  font-weight: 500;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle .other-detailss-container {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-wrap: wrap;
  width: 400px;
  align-items: center;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle .other-detailss-container p {
  color: rgb(107, 106, 106);
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  width: 110px;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .middle .other-detailss-container .border {
  width: 1px;
  height: 40px;
  background-color: darkgray;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .bottom .rating {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .bottom .rating .stars {
  color: rgb(248, 180, 42);
}
.featured-properties-container .featured-properties .properties .featured-properties-property .bottom .rating .stars span {
  font-size: 22px;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .bottom .rating .rating-name {
  font-size: 17px;
  color: rgb(107, 105, 105);
  position: relative;
  bottom: 2px;
  font-weight: 500;
}
.featured-properties-container .featured-properties .properties .featured-properties-property .bottom .rating .verified-icon {
  -o-object-fit: contain;
     object-fit: contain;
}
.featured-properties-container .featured-properties .properties .featured-properties-property:hover .tag,
.featured-properties-container .featured-properties .properties .featured-properties-property:hover #interior-tag {
  background-color: #fe5631;
}
.featured-properties-container .featured-properties .properties .featured-properties-property:hover .price {
  background-color: #fe5631;
  color: white;
}
.featured-properties-container .viewallapartment {
  margin-top: 20px;
}

@media only screen and (max-width: 1430px) {
  .featured-properties-container .featured-properties .properties .featured-properties-property {
    height: 610px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .upper img {
    width: 350px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .middle .other-details-container {
    width: 350px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .middle .other-details-container div {
    width: 105px;
  }
}
@media only screen and (max-width: 1260px) {
  .featured-properties-container .featured-properties .properties .featured-properties-property {
    height: 650px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .upper img {
    width: 400px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .middle .other-details-container {
    width: 400px;
  }
}
@media only screen and (max-width: 1060px) {
  .featured-properties-container .featured-properties .properties .featured-properties-property {
    height: 620px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .upper img {
    width: 320px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .middle .other-details-container {
    row-gap: 10px;
    width: 320px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .bottom {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    row-gap: 10px;
  }
}
@media only screen and (max-width: 870px) {
  .featured-properties-container .arrowss {
    top: 40%;
  }
  .featured-properties-container .arrowss i {
    opacity: 1;
  }
  .featured-properties-container:hover .arrowss #left-arrow {
    right: 0;
  }
  .featured-properties-container:hover .arrowss #right-arrow {
    left: 0;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property {
    height: 695px;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .middle .other-details-container {
    width: 100%;
  }
  .featured-properties-container .featured-properties .properties .featured-properties-property .bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=FeaturedProperties.css.map */