$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

body {
  font-family: $primaryfont;
}

h1,
p {
  margin: 0;
}

.plan-breakdown-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(125, 123, 123, 0.5);
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  .title {
    text-align: center;
  }

  .plan-breakdown {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 80%;
    background-color: white;

    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(101, 100, 100);
    overflow-x: scroll;
    position: relative;

    #close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;

      &:hover {
        cursor: pointer;
      }
    }

    .amounttobepaid {
      font-size: 17px;
      margin-top: 10px;
      text-align: center;
    }

    // .proceed {
    //   background-color: $primarycolor;
    //   padding: 10px;
    //   border-radius: 3px;
    //   border: none;
    //   outline: none;
    //   font-weight: 600;
    //   color: white;
    //   font-size: 16px;
    //   letter-spacing: 1px;
    //   width: 200px;
    //   position: absolute;
    //   bottom: 10px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   &:hover {
    //     cursor: pointer;
    //   }
    // }
    .plan-breakdown-details {
      .plan-title-and-price {
        display: flex;
        justify-content: left;
        column-gap: 30px;
        align-items: center;
      }

      .title {
        font-size: 35px;
        font-weight: bolder;
        color: $primarycolor;
      }

      .pricing {
        color: $hovercolor;
        font-size: 25px;
        font-weight: bolder;
      }

      .features-title {
        color: black;
        font-size: 26px;
        font-weight: 600;
      }

      .features-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .features {
          display: flex;
          justify-content: left;
          align-items: flex-start;
          flex-direction: column;
          margin-top: 10px;
          row-gap: 20px;
          background-color: rgb(243, 240, 240);
          padding: 20px;
          border-radius: 5px;
          width: 45%;

          .feature {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            color: rgb(72, 71, 71);
            font-weight: 600;

            #dot {
              color: $hovercolor;
              font-size: 12px;
            }
          }
        }

        .billing-details {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .fee-and-taxes {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            width: 100%;

            h3 {
              text-align: center;
              width: 100%;
              font-size: 18px;
            }

            .fee {
              display: flex;
              justify-content: space-between;
              padding: 3px;
              width: 100%;
              border-bottom: 1px solid lightgray;

              .title,
              .amount {
                font-size: 15px;
                font-weight: 600;
              }

              .title {
                color: black;
                text-align: left;
              }

              .amount {
                color: rgb(93, 92, 92);
                font-weight: normal;
              }
            }
          }

          .proceed {
            margin-left: 30px;
            // background-color: $primarycolor;
            padding: 10px;
            border-radius: 3px;
            border: none;
            outline: none;
            font-weight: 600;
            color: white;
            font-size: 16px;
            letter-spacing: 1px;
            width: 200px;
            margin-top: 10px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    table {
      border-collapse: collapse;
      border: 1px solid lightgray;

      tr {
        border: 1px solid lightgray;

        th,
        td {
          padding: 10px;
          min-width: 100px;
          border: 1px solid lightgray;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .plan-breakdown-container {
    .plan-breakdown {
      width: 100%;
      top: 0;
      left: 0;
      transform: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .plan-breakdown-container {
    .plan-breakdown {
      height: 100%;
      overflow-y: scroll;

      .plan-breakdown-details {
        .features-container {
          flex-direction: column;
          row-gap: 10px;
          justify-content: left;
          align-items: flex-start;

          .features {
            width: 100%;
          }

          .billing-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 100%;

            .fee-and-taxes {
              min-width: 100%;
            }

            .proceed {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .plan-breakdown-container {
    .plan-breakdown {
      height: 100%;
      overflow-y: scroll;

      #close {
        position: fixed;
        top: 10;
        right: 10;
      }

      .plan-breakdown-details {
        .plan-title-and-price {
          flex-direction: column;
          align-items: flex-start;
        }

        .features-container {
          .billing-details {
            position: relative;
            // background-color: red;
            padding-bottom: 50px;

            .proceed {
              position: fixed;
              bottom: 10px;
            }
          }
        }
      }
    }
  }
}