$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.newproperties-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  border-bottom: 1px solid lightgray;

  p{
    margin: 0;
  }
  a{
    margin: 0;
  }
  h1 {
    text-align: center;
    font-size: 40px;
  }
  
  p {
    width: 700px;
    text-align: center;
    font-size: 17px;
    color: rgb(53, 53, 53);
  }
  .new-properties {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    justify-content: center;
    column-gap: 20px;
    
    .new-added-property {
      border-radius: 5px;
      border: 1px solid rgb(226, 225, 225);
      display: grid;
      grid-template-columns: auto auto;
      justify-content:center;
      column-gap: 30px;
      width: 670px;
      height: 260px;
     position: relative;
     bottom: 0px;
     transition: .5s;
      .imageandtype {
        pointer-events: none;
        .for{
          background-color: $hovercolor;
          color: white;
          width: 50px;
          font-size: 15px;
          padding: 5px;
          border-radius: 3.5px;
          position: relative;
          top: 20px;
          left: 20px;
          z-index: 1;
          transition: .5s;
          letter-spacing: .7px;
        }
        .price{
          position: absolute;
        bottom: 0;
          font-weight: 500;
          font-size: 20px;
          display: flex;
          z-index: 1;
          color: white;
          font-size: 15px;
          padding-top: 30px;
          width: 300px;
          height: 80px;
          padding-left: 30px;
          background: linear-gradient(to bottom , transparent , rgb(46, 46, 46) 100%);
          h3{
            font-size: 25px;
            position: relative;
            bottom: 10px;
          }
        }
        img{
          width: 300px;
          height: 250px;
          position: relative;
          bottom: 25px;
          border-radius: 5px;
        }
      }
      .details{
        width: 330px;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 2;
        pointer-events: none;
        p{
          text-align: left;
        }
        h2{
          pointer-events: auto;
          transition: .5s;
          cursor: pointer;
          &:hover{
            color: $primarycolor;
          }
        }
        .address{
          color: $primarycolor;
          font-weight: 500;
          font-size: 15.5px;
          width: 300px;
        }
        .otherdetails{
          color: rgb(99, 99, 99);
          font-size: 17px;
          
        }
        .rating{
          border-top: 1px solid rgb(211, 211, 211);
          display: flex;
          column-gap: 5px;
          justify-content: space-between;
          margin-top: 13px;
          padding-top: 23px;
          i{
            color: #F8B42A;
            font-size: 14px;
          }
          p{
            position: relative;
            bottom: 10px;
            color: rgb(117, 117, 117);
            font-weight: 500;
            letter-spacing: .5px;
          
          }
        }
      }
      &:hover{
        .imageandtype{
          .for{
            background-color: $primarycolor;
          }
        }
        bottom: 5px;
      }
    }
  }
}



@media only screen and (max-width:1450px) {
  .newproperties-container{
    .new-properties{
      grid-template-columns: auto;
    }
  }
}

@media only screen and (max-width:800px){
  .newproperties-container{
    
    .new-properties{
      
      .new-added-property{
        
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .imageandtype{
          img{
            height: auto;
          }
          .price{
            bottom: 254px;
            
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
        .details{
        
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
  }
}