* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.newproperties-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  border-bottom: 1px solid lightgray;
}
.newproperties-container p {
  margin: 0;
}
.newproperties-container a {
  margin: 0;
}
.newproperties-container h1 {
  text-align: center;
  font-size: 40px;
}
.newproperties-container p {
  width: 700px;
  text-align: center;
  font-size: 17px;
  color: rgb(53, 53, 53);
}
.newproperties-container .new-properties {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.newproperties-container .new-properties .new-added-property {
  border-radius: 5px;
  border: 1px solid rgb(226, 225, 225);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 670px;
  height: 260px;
  position: relative;
  bottom: 0px;
  transition: 0.5s;
}
.newproperties-container .new-properties .new-added-property .imageandtype {
  pointer-events: none;
}
.newproperties-container .new-properties .new-added-property .imageandtype .for {
  background-color: #1dc295;
  color: white;
  width: 50px;
  font-size: 15px;
  padding: 5px;
  border-radius: 3.5px;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 1;
  transition: 0.5s;
  letter-spacing: 0.7px;
}
.newproperties-container .new-properties .new-added-property .imageandtype .price {
  position: absolute;
  bottom: 0;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  z-index: 1;
  color: white;
  font-size: 15px;
  padding-top: 30px;
  width: 300px;
  height: 80px;
  padding-left: 30px;
  background: linear-gradient(to bottom, transparent, rgb(46, 46, 46) 100%);
}
.newproperties-container .new-properties .new-added-property .imageandtype .price h3 {
  font-size: 25px;
  position: relative;
  bottom: 10px;
}
.newproperties-container .new-properties .new-added-property .imageandtype img {
  width: 300px;
  height: 250px;
  position: relative;
  bottom: 25px;
  border-radius: 5px;
}
.newproperties-container .new-properties .new-added-property .details {
  width: 330px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2;
  pointer-events: none;
}
.newproperties-container .new-properties .new-added-property .details p {
  text-align: left;
}
.newproperties-container .new-properties .new-added-property .details h2 {
  pointer-events: auto;
  transition: 0.5s;
  cursor: pointer;
}
.newproperties-container .new-properties .new-added-property .details h2:hover {
  color: #fe5631;
}
.newproperties-container .new-properties .new-added-property .details .address {
  color: #fe5631;
  font-weight: 500;
  font-size: 15.5px;
  width: 300px;
}
.newproperties-container .new-properties .new-added-property .details .otherdetails {
  color: rgb(99, 99, 99);
  font-size: 17px;
}
.newproperties-container .new-properties .new-added-property .details .rating {
  border-top: 1px solid rgb(211, 211, 211);
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  justify-content: space-between;
  margin-top: 13px;
  padding-top: 23px;
}
.newproperties-container .new-properties .new-added-property .details .rating i {
  color: #F8B42A;
  font-size: 14px;
}
.newproperties-container .new-properties .new-added-property .details .rating p {
  position: relative;
  bottom: 10px;
  color: rgb(117, 117, 117);
  font-weight: 500;
  letter-spacing: 0.5px;
}
.newproperties-container .new-properties .new-added-property:hover {
  bottom: 5px;
}
.newproperties-container .new-properties .new-added-property:hover .imageandtype .for {
  background-color: #fe5631;
}

@media only screen and (max-width: 1450px) {
  .newproperties-container .new-properties {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 800px) {
  .newproperties-container .new-properties .new-added-property {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newproperties-container .new-properties .new-added-property .imageandtype img {
    height: auto;
  }
  .newproperties-container .new-properties .new-added-property .imageandtype .price {
    bottom: 254px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .newproperties-container .new-properties .new-added-property .details {
    padding-left: 25px;
    padding-right: 25px;
  }
}/*# sourceMappingURL=NewProperties.css.map */