$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.comingsoon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .comingsoon {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;
    width: 750px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 5px rgb(228, 226, 226);
    background: linear-gradient(to bottom , white , rgb(245, 245, 245) 100%);
   
   
    .title {
      font-size: 40px;
    }
    .desc {
      font-size: 30px;
      font-weight: 600;
    }
    .time-left {
        display: flex;
        justify-content: space-around;
        column-gap: 10px;
      div{
        
        background-color: $primarycolor;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        p{
          color: white;
          font-size: 16px;
        }
        .number{
          font-size: 35px;
        }
        
      }
    }
    .subscribe{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      width: 700px;
      background-color: white;
      padding: 20px;
      position: relative;
      left: 0;
      right: 0;
      transition: .1s;
      ::-webkit-input-placeholder{
        opacity: 1;
        transition: .5s;
        
      }
      input:focus::-webkit-input-placeholder{
        opacity: 0;
        
      }
    

      input{
        padding: 20px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 600;
        border: none;
        outline: none;
        background-color: #EEEEEE;
        transition: .5s;
        border: 1px solid white;
        &:focus{
          border-color: $primarycolor;
        }
      }
      button{
        padding: 20px;
        border: none;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        background-color: $primarycolor;
        transition: .5s;
        &:hover{
          cursor: pointer;
          background-color:$hovercolor;
        }
      }
      .onsubscribe{
        font-size: 17px;
        text-align: center;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width:850px) {
  
  .comingsoon-container{
    .comingsoon{
      width: 500px;
      .time-left{
        div{
          width: 90px;
          height: 90px;
          p{
            font-size: 12px;
          }
          .number{
            font-size: 25px;
          }
        }
      }
      .subscribe{
        width: 450px;
      }
    }
  }
} 