* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.comingsoon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comingsoon-container .comingsoon {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  width: 750px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 5px rgb(228, 226, 226);
  background: linear-gradient(to bottom, white, rgb(245, 245, 245) 100%);
}
.comingsoon-container .comingsoon .title {
  font-size: 40px;
}
.comingsoon-container .comingsoon .desc {
  font-size: 30px;
  font-weight: 600;
}
.comingsoon-container .comingsoon .time-left {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.comingsoon-container .comingsoon .time-left div {
  background-color: #fe5631;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}
.comingsoon-container .comingsoon .time-left div p {
  color: white;
  font-size: 16px;
}
.comingsoon-container .comingsoon .time-left div .number {
  font-size: 35px;
}
.comingsoon-container .comingsoon .subscribe {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 700px;
  background-color: white;
  padding: 20px;
  position: relative;
  left: 0;
  right: 0;
  transition: 0.1s;
}
.comingsoon-container .comingsoon .subscribe ::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.comingsoon-container .comingsoon .subscribe input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.comingsoon-container .comingsoon .subscribe input {
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #EEEEEE;
  transition: 0.5s;
  border: 1px solid white;
}
.comingsoon-container .comingsoon .subscribe input:focus {
  border-color: #fe5631;
}
.comingsoon-container .comingsoon .subscribe button {
  padding: 20px;
  border: none;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #fe5631;
  transition: 0.5s;
}
.comingsoon-container .comingsoon .subscribe button:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.comingsoon-container .comingsoon .subscribe .onsubscribe {
  font-size: 17px;
  text-align: center;
}
.comingsoon-container .comingsoon .subscribe:hover {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .comingsoon-container .comingsoon {
    width: 500px;
  }
  .comingsoon-container .comingsoon .time-left div {
    width: 90px;
    height: 90px;
  }
  .comingsoon-container .comingsoon .time-left div p {
    font-size: 12px;
  }
  .comingsoon-container .comingsoon .time-left div .number {
    font-size: 25px;
  }
  .comingsoon-container .comingsoon .subscribe {
    width: 450px;
  }
}/*# sourceMappingURL=Comingsoon.css.map */