$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.articleandblog-container {
  background-color: rgb(247, 247, 247);
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
    font-size: 40px;
  }
  .description {
    text-align: center;
    font-size: 17.5px;
    color: rgb(54, 54, 54);
    width: 700px;
    margin-top: 20px;
    line-height: 1.7;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .articles {
    width: 1360px;
    display: flex;
    column-gap: 35px;
    overflow-x: scroll;
    margin-top: 30px;
    scroll-behavior: smooth;
    transition: all 1s;
    .article {
      border: 1px solid rgb(225, 225, 225);
      border-radius: 10px;
      width: 430px;
      .article-img {
        width: 410px;
        height: auto;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
      }
      .type {
        display: inline-block;
        margin-top: 15px;
        background-color: $hovercolor;
        color: white;
        border-radius: 5px;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        letter-spacing: 0.3px;
        transition: 0.5s;
        margin-left: 10px;
      }
      .heading {
        margin-top: 15px;
        margin-left: 10px;
      }

      .author-and-date {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        width: 430px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid rgb(225, 225, 225);
        .author {
          display: flex;
          .author-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          .author-name {
            position: relative;
            top: 20px;
            font-size: 16.5px;
          }
        }
        .date {
          position: relative;
          top: 20px;
          i {
            color: $primarycolor;
          }
        }
      }
      &:hover {
        .type {
          background-color: $primarycolor;
        }
      }
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    i {
      color: $primarycolor;
      background-color: $primarycolor;
      border-radius: 50%;
      transition: all 0.3s;
     
      &:hover {
        cursor: pointer;
      }
    }
    #first-dot {
      opacity: 1;
      padding: 2px;
    }
    #last-dot {
      opacity: 0.5;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 1450px) {
  .articleandblog-container {
    .articles {
      width: 1120px;
      .article {
        width: 350px;
        height: 450px;
        .heading {
          font-size: 20px;
        }
        .article-img {
          width: 330px;
        }
        .author-and-date {
          width: 350px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .articleandblog-container {
    .articles {
      width: 840px;
      .article {
        width: 400px;
        height: 480px;
        .heading {
          font-size: 20px;
        }
        .article-img {
          width: 380px;
        }
        .author-and-date {
          width: 400px;
        }
      }
    }
  }
}

@media only screen and (max-width: 880px) {
    .articleandblog-container{
        .articles{
            .article{
                height: auto;
                .author-and-date{
                  .author{
                    .author-name{
                      font-size: 15px;
                    }
                  }
                }
            }
        }
    }
}
