* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.articleandblog-container {
  background-color: rgb(247, 247, 247);
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.articleandblog-container .title {
  text-align: center;
  font-size: 40px;
}
.articleandblog-container .description {
  text-align: center;
  font-size: 17.5px;
  color: rgb(54, 54, 54);
  width: 700px;
  margin-top: 20px;
  line-height: 1.7;
}
.articleandblog-container ::-webkit-scrollbar {
  display: none;
}
.articleandblog-container .articles {
  width: 1360px;
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  overflow-x: scroll;
  margin-top: 30px;
  scroll-behavior: smooth;
  transition: all 1s;
}
.articleandblog-container .articles .article {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  width: 430px;
}
.articleandblog-container .articles .article .article-img {
  width: 410px;
  height: auto;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.articleandblog-container .articles .article .type {
  display: inline-block;
  margin-top: 15px;
  background-color: #1dc295;
  color: white;
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  letter-spacing: 0.3px;
  transition: 0.5s;
  margin-left: 10px;
}
.articleandblog-container .articles .article .heading {
  margin-top: 15px;
  margin-left: 10px;
}
.articleandblog-container .articles .article .author-and-date {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 430px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgb(225, 225, 225);
}
.articleandblog-container .articles .article .author-and-date .author {
  display: flex;
}
.articleandblog-container .articles .article .author-and-date .author .author-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.articleandblog-container .articles .article .author-and-date .author .author-name {
  position: relative;
  top: 20px;
  font-size: 16.5px;
}
.articleandblog-container .articles .article .author-and-date .date {
  position: relative;
  top: 20px;
}
.articleandblog-container .articles .article .author-and-date .date i {
  color: #fe5631;
}
.articleandblog-container .articles .article:hover .type {
  background-color: #fe5631;
}
.articleandblog-container .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.articleandblog-container .dots i {
  color: #fe5631;
  background-color: #fe5631;
  border-radius: 50%;
  transition: all 0.3s;
}
.articleandblog-container .dots i:hover {
  cursor: pointer;
}
.articleandblog-container .dots #first-dot {
  opacity: 1;
  padding: 2px;
}
.articleandblog-container .dots #last-dot {
  opacity: 0.5;
  padding: 0;
}

@media only screen and (max-width: 1450px) {
  .articleandblog-container .articles {
    width: 1120px;
  }
  .articleandblog-container .articles .article {
    width: 350px;
    height: 450px;
  }
  .articleandblog-container .articles .article .heading {
    font-size: 20px;
  }
  .articleandblog-container .articles .article .article-img {
    width: 330px;
  }
  .articleandblog-container .articles .article .author-and-date {
    width: 350px;
  }
}
@media only screen and (max-width: 1150px) {
  .articleandblog-container .articles {
    width: 840px;
  }
  .articleandblog-container .articles .article {
    width: 400px;
    height: 480px;
  }
  .articleandblog-container .articles .article .heading {
    font-size: 20px;
  }
  .articleandblog-container .articles .article .article-img {
    width: 380px;
  }
  .articleandblog-container .articles .article .author-and-date {
    width: 400px;
  }
}
@media only screen and (max-width: 880px) {
  .articleandblog-container .articles .article {
    height: auto;
  }
  .articleandblog-container .articles .article .author-and-date .author .author-name {
    font-size: 15px;
  }
}/*# sourceMappingURL=ArticleandBlogs.css.map */