* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.po-profile-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.po-profile-container .po-profile {
  position: relative;
}
.po-profile-container .po-profile .edit-poo-btn {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: #fe5631;
  color: white;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  position: sticky;
  left: 100%;
  top: 100px;
  z-index: 1;
}
.po-profile-container .po-profile .edit-poo-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.po-profile-container .profile-tabss-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.po-profile-container .profile-tabss-container p {
  font-size: 16px;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: black;
  transition: 0.3s;
  background-color: rgb(233, 232, 232);
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.po-profile-container .profile-tabss-container p:hover {
  cursor: pointer;
  color: rgb(119, 118, 118);
}
.po-profile-container .profile-tabss-container .overview {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  background-color: #1dc295;
}
.po-profile-container .profile-tabss-container .overview,
.po-profile-container .profile-tabss-container .upload,
.po-profile-container .profile-tabss-container .transaction {
  border-right: 2px solid white;
}
.po-profile-container .profile-tabss-container .analytics {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media only screen and (max-width: 500px) {
  ::-webkit-scrollbar {
    visibility: hidden;
  }
  ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }
  .po-profile-container ::-webkit-scrollbar {
    visibility: hidden;
  }
  .po-profile-container ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }
  .po-profile-container .profile-tabss-container {
    display: flex;
    width: 98%;
    justify-content: left;
    flex-wrap: unset;
    overflow-x: scroll;
    align-items: center;
  }
  .po-profile-container .profile-tabss-container p {
    font-size: 14.5px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}/*# sourceMappingURL=PO_MyProfile.css.map */