* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-container .subscription {
  background-color: #1dc295;
  padding: 10px;
  border-radius: 3px;
}
.nav-container .subscription p {
  color: white;
  font-weight: bold;
}/*# sourceMappingURL=Nav.css.map */