$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.post-property-requirements-container {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .title {
      font-size: 35px;
      text-align: center;
    }

    .description {
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
      width: 700px;
    }
  }
  .post-property-requirements {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .property-requirements {
      width: 1200px;
      box-shadow: 0 0 2px lightgray;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .requirement {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .requirement-title {
          font-size: 20.5px;
          font-weight: 500;
          margin: 0;
          text-decoration: underline;
          text-decoration-color: $primarycolor;
          text-align: center;
          padding: 10px;
        }
        .requirement-desc {
          margin: 0;
          font-size: 16px;
        }
        .requirement-details {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
        
          .service-inputs-container {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
          }
          .property-condition-inputs{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
          }
          .input-container {
            display: flex;
            justify-content: left;
            column-gap: 20px;
            align-items: center;

            .input-title {
              font-size: 16px;
              font-weight: 500;
              width: 555px;
              text-align: left;
            }
            .text-input {
              padding: 6px;
              border: 1px solid lightgray;
              border-radius: 3px;
              outline: none;
              transition: 0.5s;
              width: 550px;
              &:hover {
                border-color: $primarycolor;
              }
            }
            .text-area {
              width: 40%;
              border: 1px solid lightgray;
              border-radius: 3px;
              outline: none;
              transition: 0.5s;
              height: 200px;
              &:hover {
                border-color: $primarycolor;
              }
            }
            #pincode {
              width: 20%;
            }
            .selectbox-container {
              list-style-type: none;
              width: 300px;
              margin: 0;
              .heading {
                padding: 6px;
                border: 1px solid lightgray;
                border-radius: 3px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.5s;
                p {
                  margin: 0;
                }
                span {
                  color: $primarycolor;
                }
                &:hover {
                  cursor: pointer;
                  border-color: $primarycolor;
                }
              }
              ::-webkit-scrollbar {
                width: 6px;
                background-color: lightgray;
              }
              ::-webkit-scrollbar-thumb {
                width: 6;
                border-radius: 10px;
                background-color: rgb(66, 66, 66);
              }
              .select-box-list {
                position: absolute;
                list-style-type: none;
                background-color: rgb(245, 242, 242);
                width: 300px;
                opacity: 0;
                visibility: hidden;
                transform: scale(0.5);
                transition: 0.2s;
                pointer-events: none;
                max-height: 300px;
                overflow-y: scroll;

                li {
                  width: 100%;
                  padding: 6px;
                  transition: 0.5s;
                  &:hover {
                    cursor: pointer;
                    background-color: $primarycolor;
                    color: white;
                  }
                }
              }
            }
            .radios {
              display: flex;
              column-gap: 20px;
              flex-wrap: wrap;
              align-items: center;
              width: 550px;
              .radio {
                display: flex;
                column-gap: 10px;
                align-items: center;
               flex-direction: row-reverse;
              }
            }
          }
        }
      }
    }
    .post-property-req-btn{
        padding: 10px;
        border-radius: 3px;
        background-color: $primarycolor;
        border: none;
        transition: .5s;
        
        font-size: 16.5px;
        letter-spacing: 1px;
        color: white;
        margin-top: 20px;
        &:hover{
            cursor: pointer;
            background-color: $hovercolor;
        }
    }
  }

}

@media only screen and (max-width:1300px) {
 
  .post-property-requirements-container{
    .post-property-requirements{
      .property-requirements{
        width: 900px;
        .requirement{
          .requirement-details{
            .input-container{
              .input-title{
                width:450px ;
              }
              .text-input{
                width: 400px;
              }
              .radios{
                width: 400px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:950px) {

  .post-property-requirements-container{
    .post-property-requirements{
      .property-requirements{
        width: 700px;
        .requirement{
          .requirement-details{
            .input-container{
              .input-title{
                width:350px ;
              }
              .text-input{
                width: 300px;
              }
              .radios{
                width: 200px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:750px) {

  .post-property-requirements-container{
    .post-property-requirements{
      .property-requirements{
        width: 95%;
       
        .requirement{
          row-gap: 20px;
          .requirement-details{
            .input-container{
              flex-direction: column;
              justify-content: left;
              align-items: flex-start;
              .input-title{
                width:90% ;
                text-align: left;
              }
              .text-input{
                width: 90%;
              }
              .radios{
                width: 90%;
                row-gap: 10px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}