* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.achievements-container {
  background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Home/OurAchievements/coverImage.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.achievements-container p {
  margin: 0;
}
.achievements-container .title {
  font-size: 35px;
  text-align: center;
}
.achievements-container .description {
  font-size: 17px;
  text-align: center;
  margin-top: 15px;
  width: 800px;
}
.achievements-container .achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 180px;
       column-gap: 180px;
  align-items: center;
  margin-top: 70px;
}
.achievements-container .achievements .achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  align-items: center;
}
.achievements-container .achievements .achievement .numbers {
  font-size: 40px;
}
.achievements-container .achievements .achievement .name {
  font-size: 16px;
  color: gray;
}/*# sourceMappingURL=Achievements.css.map */