$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.achievements-container {
  background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Home/OurAchievements/coverImage.jpg");
 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    margin: 0;
  }
  .title {
    font-size: 35px;
    text-align: center;
  }
  .description {
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
    width: 800px;
  }
  .achievements{
    display: flex;
  flex-wrap: wrap;
  justify-content:center;
  column-gap: 180px;
  align-items: center;
  margin-top: 70px;
    .achievement{
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 15px;
      align-items: center;
      
      .numbers{
        font-size: 40px;
      }
      .name{
        font-size: 16px;
        color: gray;
      }
    }
  }
}
