$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.feature-agents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(247, 247, 247);
  .title {
    font-size: 35px;
    text-align: center;
  }
  .description {
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
    width: 700px;
  }
  .feature-agents {
    width: 1400px;
    overflow: hidden;
    margin-top: 20px;

    .arrows {
      display: flex;
      justify-content: space-between;

      pointer-events: none;
      opacity: 0;
      position: relative;
      top: 250px;
      transition: 0.6s;
      z-index: 2;
      i {
        pointer-events: auto;
        padding: 15px;
        font-size: 16px;
        border-radius: 50%;
        background-color: white;
        color: $primarycolor;
        transition: 0.4s;
        position: relative;

        &:hover {
          cursor: pointer;
          color: white;
          background-color: $primarycolor;
        }
      }
      #left {
        right: -30px;
      }
      #right {
        left: -30px;
      }
    }
    .agents {
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      transition: 1s;
      column-gap: 25px;

      .agent {
        width: 445px;
        height: auto;
        border: 1px solid lightgray;
        border-radius: 5px;
        .upper {
          padding: 5px;
          line-height: 1.9;
          .imgandicons {
            height: 375px;
            overflow: hidden;

            img {
              width: 425px;
              border-radius: 10px;
            }
            .social-icons {
              display: flex;
              column-gap: 10px;
              padding: 20px;
              a {
                color: rgb(32, 28, 45);
                transition: 0.2s;
                position: relative;
                bottom: 0;
                text-decoration: none;
                i {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 35px;
                  height: 35px;
                  color: white;
                  background-color: rgb(32, 28, 45);
                  border-radius: 50%;
                  transition: 0.6s;
                  position: relative;
                  bottom: 0;
                  opacity: 0;
                  &:hover {
                    color: $primarycolor;
                    background-color: white;
                  }
                }

                #insta {
                  transition-delay: 0.1s;
                }
                #twt {
                  transition-delay: 0.2s;
                }
                #pin {
                  transition-delay: 0.3s;
                }
                &:hover {
                  bottom: 5px;
                  color: white;
                }
              }
            }
            &:hover {
              .social-icons {
                i {
                  opacity: 1;
                  bottom: 80px;
                }
              }
            }
          }
          .details {
            padding-left: 10px;
            .addressandmail {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 5px;
              .address {
                font-size: 16px;
                color: $primarycolor;
                font-weight: 500;
              }
              a {
                text-decoration: none;

                #mail-icon {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  color: $primarycolor;
                  background-color: rgb(255, 234, 229);
                  transition: 0.4s;
                }
                &:hover {
                  #mail-icon {
                    color: white;
                    background-color: $primarycolor;
                  }
                }
              }
            }
            .name {
              font-size: 22px;
            }
            .properties {
              color: rgb(148, 147, 147);
              font-weight: 500;
            }
          }

          .rating {
            display: flex;
            column-gap: 7px;
            margin-top: 10px;
            align-items: center;
            i {
              color: rgb(248, 180, 42);
              font-size: 14px;
            }
            p {
              color: rgb(116, 114, 114);
            }
          }
        }
        .telandbtn {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          margin-top: 10px;
          border-top: 1px solid lightgray;
          .tel {
            display: flex;
            column-gap: 5px;
            color: black;
            font-size: 17px;
            align-items: center;
            text-decoration: none;
            transition: 0.5s;
            &:hover {
              color: $primarycolor;
            }
            i {
              color: rgb(65, 64, 64);
              font-size: 12px;
            }
          }
        }
      }
    }
    &:hover {
      .arrows {
        opacity: 1;
        #left {
          right: 0px;
        }
        #right {
          left: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .feature-agents-container {
    .feature-agents {
      width: 1200px;
      
      .agents {
        .agent {
          width: 383px;
          .upper{
            .imgandicons{
              height: 310px;
              img{
                width:358px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1250px) {
  .feature-agents-container {
    .feature-agents {
      width: 990px;
      
      .agents {
        .agent {
          width: 316px;
          .upper{
            .imgandicons{
              height: 250px;
              img{
                width:291px;
              }
            }
          }
          .telandbtn{
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            row-gap: 20px;
            padding-left: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .feature-agents-container {
    .feature-agents {
      width: 850px;
      
      .agents {
        .agent {
          width: 412.5px;
          .upper{
            .imgandicons{
              height: 350px;
              img{
                width:387.5px;
              }
            }
          }
          .telandbtn{
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            row-gap: 20px;
            padding-left: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .feature-agents-container {
    .description{
      width: 500px;
    }
    .feature-agents {
      max-width: 675px;
      
      .agents {
        .agent {
          width: 325px;
          .upper{
            .imgandicons{
              height: 260px;
              img{
                width:300px;
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 730px) {
  .feature-agents-container{
    .feature-agents{
      max-width: 500px;
      .arrows{
        opacity: 1;
        i{
          opacity: 1;
          left: 0;
          right: 0;
          &:hover{
            left: 0;
            right: 0;
          }
        }
        #left{
          right: 0;
        }
        #right{
          left: 0;
        }
      }
      .agents{
        
        .agent{
          width: 490px;
          .upper{
            .imgandicons{
              height:420px ;
              img{
                width: 465px;
              }
              .social-icons{
                a{
                  i{
                    opacity: 1;
                    bottom: 80px;
                   
                  }
                  &:hover{
                    bottom:0;
                  }
                }
              }
              &:hover{
                .social-icons{
                  
                    i{
                      bottom: 80px;
                    }
                  
                }
              }
            }
          }
          .telandbtn{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

          }
        }
      }
      &:hover{
        .arrows{
          i{
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}