* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.feature-agents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(247, 247, 247);
}
.feature-agents-container .title {
  font-size: 35px;
  text-align: center;
}
.feature-agents-container .description {
  font-size: 17px;
  text-align: center;
  margin-top: 15px;
  width: 700px;
}
.feature-agents-container .feature-agents {
  width: 1400px;
  overflow: hidden;
  margin-top: 20px;
}
.feature-agents-container .feature-agents .arrows {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  opacity: 0;
  position: relative;
  top: 250px;
  transition: 0.6s;
  z-index: 2;
}
.feature-agents-container .feature-agents .arrows i {
  pointer-events: auto;
  padding: 15px;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  color: #fe5631;
  transition: 0.4s;
  position: relative;
}
.feature-agents-container .feature-agents .arrows i:hover {
  cursor: pointer;
  color: white;
  background-color: #fe5631;
}
.feature-agents-container .feature-agents .arrows #left {
  right: -30px;
}
.feature-agents-container .feature-agents .arrows #right {
  left: -30px;
}
.feature-agents-container .feature-agents .agents {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  transition: 1s;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.feature-agents-container .feature-agents .agents .agent {
  width: 445px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.feature-agents-container .feature-agents .agents .agent .upper {
  padding: 5px;
  line-height: 1.9;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons {
  height: 375px;
  overflow: hidden;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons img {
  width: 425px;
  border-radius: 10px;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 20px;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a {
  color: rgb(32, 28, 45);
  transition: 0.2s;
  position: relative;
  bottom: 0;
  text-decoration: none;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: white;
  background-color: rgb(32, 28, 45);
  border-radius: 50%;
  transition: 0.6s;
  position: relative;
  bottom: 0;
  opacity: 0;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a i:hover {
  color: #fe5631;
  background-color: white;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a #insta {
  transition-delay: 0.1s;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a #twt {
  transition-delay: 0.2s;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a #pin {
  transition-delay: 0.3s;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a:hover {
  bottom: 5px;
  color: white;
}
.feature-agents-container .feature-agents .agents .agent .upper .imgandicons:hover .social-icons i {
  opacity: 1;
  bottom: 80px;
}
.feature-agents-container .feature-agents .agents .agent .upper .details {
  padding-left: 10px;
}
.feature-agents-container .feature-agents .agents .agent .upper .details .addressandmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.feature-agents-container .feature-agents .agents .agent .upper .details .addressandmail .address {
  font-size: 16px;
  color: #fe5631;
  font-weight: 500;
}
.feature-agents-container .feature-agents .agents .agent .upper .details .addressandmail a {
  text-decoration: none;
}
.feature-agents-container .feature-agents .agents .agent .upper .details .addressandmail a #mail-icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fe5631;
  background-color: rgb(255, 234, 229);
  transition: 0.4s;
}
.feature-agents-container .feature-agents .agents .agent .upper .details .addressandmail a:hover #mail-icon {
  color: white;
  background-color: #fe5631;
}
.feature-agents-container .feature-agents .agents .agent .upper .details .name {
  font-size: 22px;
}
.feature-agents-container .feature-agents .agents .agent .upper .details .properties {
  color: rgb(148, 147, 147);
  font-weight: 500;
}
.feature-agents-container .feature-agents .agents .agent .upper .rating {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  margin-top: 10px;
  align-items: center;
}
.feature-agents-container .feature-agents .agents .agent .upper .rating i {
  color: rgb(248, 180, 42);
  font-size: 14px;
}
.feature-agents-container .feature-agents .agents .agent .upper .rating p {
  color: rgb(116, 114, 114);
}
.feature-agents-container .feature-agents .agents .agent .telandbtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid lightgray;
}
.feature-agents-container .feature-agents .agents .agent .telandbtn .tel {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: black;
  font-size: 17px;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
}
.feature-agents-container .feature-agents .agents .agent .telandbtn .tel:hover {
  color: #fe5631;
}
.feature-agents-container .feature-agents .agents .agent .telandbtn .tel i {
  color: rgb(65, 64, 64);
  font-size: 12px;
}
.feature-agents-container .feature-agents:hover .arrows {
  opacity: 1;
}
.feature-agents-container .feature-agents:hover .arrows #left {
  right: 0px;
}
.feature-agents-container .feature-agents:hover .arrows #right {
  left: 0px;
}

@media only screen and (max-width: 1450px) {
  .feature-agents-container .feature-agents {
    width: 1200px;
  }
  .feature-agents-container .feature-agents .agents .agent {
    width: 383px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons {
    height: 310px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons img {
    width: 358px;
  }
}
@media only screen and (max-width: 1250px) {
  .feature-agents-container .feature-agents {
    width: 990px;
  }
  .feature-agents-container .feature-agents .agents .agent {
    width: 316px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons {
    height: 250px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons img {
    width: 291px;
  }
  .feature-agents-container .feature-agents .agents .agent .telandbtn {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    row-gap: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .feature-agents-container .feature-agents {
    width: 850px;
  }
  .feature-agents-container .feature-agents .agents .agent {
    width: 412.5px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons {
    height: 350px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons img {
    width: 387.5px;
  }
  .feature-agents-container .feature-agents .agents .agent .telandbtn {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    row-gap: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .feature-agents-container .description {
    width: 500px;
  }
  .feature-agents-container .feature-agents {
    max-width: 675px;
  }
  .feature-agents-container .feature-agents .agents .agent {
    width: 325px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons {
    height: 260px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons img {
    width: 300px;
  }
}
@media only screen and (max-width: 730px) {
  .feature-agents-container .feature-agents {
    max-width: 500px;
  }
  .feature-agents-container .feature-agents .arrows {
    opacity: 1;
  }
  .feature-agents-container .feature-agents .arrows i {
    opacity: 1;
    left: 0;
    right: 0;
  }
  .feature-agents-container .feature-agents .arrows i:hover {
    left: 0;
    right: 0;
  }
  .feature-agents-container .feature-agents .arrows #left {
    right: 0;
  }
  .feature-agents-container .feature-agents .arrows #right {
    left: 0;
  }
  .feature-agents-container .feature-agents .agents .agent {
    width: 490px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons {
    height: 420px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons img {
    width: 465px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a i {
    opacity: 1;
    bottom: 80px;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons .social-icons a:hover {
    bottom: 0;
  }
  .feature-agents-container .feature-agents .agents .agent .upper .imgandicons:hover .social-icons i {
    bottom: 80px;
  }
  .feature-agents-container .feature-agents .agents .agent .telandbtn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .feature-agents-container .feature-agents:hover .arrows i {
    left: 0;
    right: 0;
  }
}/*# sourceMappingURL=FeatureAgents.css.map */