$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;



.sign-in-required {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: white;
    padding: 50px;
    box-shadow: 0 0 20px rgb(105, 105, 105);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    h1 {
        color: $primarycolor;
    }

    .btn {
        padding: 10px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 16px;
        border: none;
        background-color: $hovercolor;
        color: white;
        text-decoration: none;

        &:active {
            opacity: 0.6;
        }
    }
}