$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}
.desktop-nav-container {
  .desktop-nav {
    width: 100%;
    background-color: $secondarycolor;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px lightgray;
    position: fixed;
    top: 0;
    z-index: 99;

    p {
      margin: 0;
    }
    .logo-container {
      display: flex;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        img {
          width: 200px;
          position: relative;
          right: 5px;
        }
        .company-name {
          color: white;
        }
      }
      .vertical-line {
        width: 0.5px;
        height: 50px;
        background-color: rgb(255, 255, 255);
      }
      .moto {
        font-size: 18.2px;
        color: white;
        font-style: italic;
        font-weight: bold;
        position: relative;
        left: 5px;
        color: rgb(101, 161, 215);
      }
    }

    .nav-links-container {
      display: flex;
      column-gap: 30px;
      align-items: center;
      ul {
        list-style-type: none;
      }

      .nav-links {
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-top: 10px;
        li {
          color: white;
          font-size: 16.3px;
          transition: 0.5s;

          a {
            text-decoration: none;
            color: white;
            transition: 0.4s;

            &:hover {
              color: $primarycolor;
            }
          }
          .drop-down {
            position: absolute;
            margin-top: 25px;
            opacity: 0;
            padding: 10px;
            display: block;
            width: 250px;
            background-color: white;
            border-radius: 10px;
            transition: 0.4s;
            visibility: hidden;
            box-shadow: 0 0 2px rgb(189, 188, 188);
            z-index: 1;
            li {
              padding: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: relative;
              a {
                color: rgb(34, 33, 33);

                transition: 0.5s;
                font-size: 16px;
                font-weight: 500;
                &:hover {
                  letter-spacing: 1px;
                  color: $primarycolor;
                }
              }
              i {
                color: black;
                transition: 0.3s;
              }
              &:hover {
                i {
                  color: $primarycolor;
                  transition: 0.3s;
                }
                #sub-drop-down {
                  opacity: 1;
                  visibility: visible;
                  margin-top: 0;
                  a {
                    color: rgb(104, 103, 103);
                  }
                }
              }
            }
            #sub-drop-down {
              left: -260px;
              top: 0;
              opacity: 0;
              height: auto;

              visibility: hidden;
              li {
                a {
                  color: black;

                  transition: 0.5s;
                  &:hover {
                    letter-spacing: 1px;
                    color: $primarycolor;
                  }
                }
              }
            }
          }
          i {
            font-size: 13px;
          }
          &:hover {
            cursor: pointer;
            color: $primarycolor;
            .drop-down {
              opacity: 1;
              margin-top: 15px;
              visibility: visible;
            }
          }
        }
      }
      .addlistingbtn {
        display: flex;
        align-items: center;
        .btn {
          button {
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 5px;
            background-color: $primarycolor;
            color: white;
            font-weight: 500;
            letter-spacing: 1px;
            border: none;
            outline: none;
            transition: 0.4s;
            &:hover {
              cursor: pointer;
              background-color: $hovercolor;
            }
          }
        }
      }
    }
    .account-container {
      display: flex;
      column-gap: 20px;
      align-items: center;
      .nav-cart-container {
        position: relative;
        span {
          font-size: 32px;
          color: white;
        }
        .number-of-items-in-cart {
          position: absolute;
          top: -13px;
          right: -10px;
          font-size: 500;
          padding-left: 6px;
          padding-right: 6px;
          color: white;
          border-radius: 50%;
          background-color: red;
        }
      }
      .profile {
        position: relative;
        span {
          font-size: 25px;
          padding: 10px;
          color: white;
          border: 1px solid $secondarycolor;
          border-radius: 50%;
          transition: 0.3s;
          background-color: $primarycolor;
          &:hover {
            opacity: 0.7;
            cursor: pointer;
            border-color: black;
          }
        }
        .profile-drop-down {
          position: absolute;
          list-style-type: none;
          background-color: white;

          z-index: 1;
          border-radius: 5px;
          box-shadow: 0 0 3px rgb(184, 183, 183);
          right: -10px;
          width: 150px;
          margin-top: 10px;
          transition: 0.5s;
          visibility: hidden;
          li {
            font-size: 16px;
            padding: 10px;
            padding-top: 7px;
            padding-bottom: 7px;
            border-bottom: 1px solid lightgray;
            text-align: center;
            font-weight: 500;
            transition: 0.3s;
            padding-top: 10px;
            padding-bottom: 10px;
            a {
              color: black;
              text-decoration: none;
              font-size: 16px;
              transition: 0.3s;
            }
            &:hover {
              cursor: pointer;
              color: $primarycolor;
              a {
                color: $primarycolor;
              }
            }
          }
        }
      }
      .login-signup-container {
        display: flex;
        column-gap: 20px;
        align-items: center;
        .login-container,
        .signup-container {
          p {
            padding: 7px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: $primarycolor;
            color: white;
            transition: 0.4s;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
              background-color: $hovercolor;
            }
          }
          .login-signup-drop-down {
            position: absolute;
            list-style-type: none;
            background-color: white;
            box-shadow: 0 0 2px rgb(145, 142, 142);
            opacity: 0;
            z-index: 1;
            margin-top: 5px;
            border: none;
            border-radius: 5px;
            transition: 0.5s;
            visibility: hidden;
            li {
              padding: 10px;
              padding-left: 15px;
              padding-right: 15px;
              border-bottom: 1px solid lightgray;
              font-weight: 500;
              transition: 0.4s;
              a {
                text-decoration: none;
                color: black;
                transition: 0.4s;
              }
              &:hover {
                color: $primarycolor;
                a {
                  color: $primarycolor;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .desktop-nav-container {
    .desktop-nav {
      .logo-container {
        .moto {
          display: none;
        }
      }
    }
  }
}
