* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.desktop-nav-container .desktop-nav {
  width: 100%;
  background-color: #201c2d;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px lightgray;
  position: fixed;
  top: 0;
  z-index: 99;
}
.desktop-nav-container .desktop-nav p {
  margin: 0;
}
.desktop-nav-container .desktop-nav .logo-container {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.desktop-nav-container .desktop-nav .logo-container .logo {
  display: flex;
  align-items: center;
}
.desktop-nav-container .desktop-nav .logo-container .logo img {
  width: 200px;
  position: relative;
  right: 5px;
}
.desktop-nav-container .desktop-nav .logo-container .logo .company-name {
  color: white;
}
.desktop-nav-container .desktop-nav .logo-container .vertical-line {
  width: 0.5px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.desktop-nav-container .desktop-nav .logo-container .moto {
  font-size: 18.2px;
  color: white;
  font-style: italic;
  font-weight: bold;
  position: relative;
  left: 5px;
  color: rgb(101, 161, 215);
}
.desktop-nav-container .desktop-nav .nav-links-container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.desktop-nav-container .desktop-nav .nav-links-container ul {
  list-style-type: none;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 10px;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li {
  color: white;
  font-size: 16.3px;
  transition: 0.5s;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li a:hover {
  color: #fe5631;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down {
  position: absolute;
  margin-top: 25px;
  opacity: 0;
  padding: 10px;
  display: block;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s;
  visibility: hidden;
  box-shadow: 0 0 2px rgb(189, 188, 188);
  z-index: 1;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down li a {
  color: rgb(34, 33, 33);
  transition: 0.5s;
  font-size: 16px;
  font-weight: 500;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down li a:hover {
  letter-spacing: 1px;
  color: #fe5631;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down li i {
  color: black;
  transition: 0.3s;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down li:hover i {
  color: #fe5631;
  transition: 0.3s;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down li:hover #sub-drop-down {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down li:hover #sub-drop-down a {
  color: rgb(104, 103, 103);
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down #sub-drop-down {
  left: -260px;
  top: 0;
  opacity: 0;
  height: auto;
  visibility: hidden;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down #sub-drop-down li a {
  color: black;
  transition: 0.5s;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li .drop-down #sub-drop-down li a:hover {
  letter-spacing: 1px;
  color: #fe5631;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li i {
  font-size: 13px;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li:hover {
  cursor: pointer;
  color: #fe5631;
}
.desktop-nav-container .desktop-nav .nav-links-container .nav-links li:hover .drop-down {
  opacity: 1;
  margin-top: 15px;
  visibility: visible;
}
.desktop-nav-container .desktop-nav .nav-links-container .addlistingbtn {
  display: flex;
  align-items: center;
}
.desktop-nav-container .desktop-nav .nav-links-container .addlistingbtn .btn button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: #fe5631;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  outline: none;
  transition: 0.4s;
}
.desktop-nav-container .desktop-nav .nav-links-container .addlistingbtn .btn button:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.desktop-nav-container .desktop-nav .account-container {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.desktop-nav-container .desktop-nav .account-container .nav-cart-container {
  position: relative;
}
.desktop-nav-container .desktop-nav .account-container .nav-cart-container span {
  font-size: 32px;
  color: white;
}
.desktop-nav-container .desktop-nav .account-container .nav-cart-container .number-of-items-in-cart {
  position: absolute;
  top: -13px;
  right: -10px;
  font-size: 500;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  border-radius: 50%;
  background-color: red;
}
.desktop-nav-container .desktop-nav .account-container .profile {
  position: relative;
}
.desktop-nav-container .desktop-nav .account-container .profile span {
  font-size: 25px;
  padding: 10px;
  color: white;
  border: 1px solid #201c2d;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #fe5631;
}
.desktop-nav-container .desktop-nav .account-container .profile span:hover {
  opacity: 0.7;
  cursor: pointer;
  border-color: black;
}
.desktop-nav-container .desktop-nav .account-container .profile .profile-drop-down {
  position: absolute;
  list-style-type: none;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(184, 183, 183);
  right: -10px;
  width: 150px;
  margin-top: 10px;
  transition: 0.5s;
  visibility: hidden;
}
.desktop-nav-container .desktop-nav .account-container .profile .profile-drop-down li {
  font-size: 16px;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid lightgray;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
}
.desktop-nav-container .desktop-nav .account-container .profile .profile-drop-down li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}
.desktop-nav-container .desktop-nav .account-container .profile .profile-drop-down li:hover {
  cursor: pointer;
  color: #fe5631;
}
.desktop-nav-container .desktop-nav .account-container .profile .profile-drop-down li:hover a {
  color: #fe5631;
}
.desktop-nav-container .desktop-nav .account-container .login-signup-container {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.desktop-nav-container .desktop-nav .account-container .login-signup-container .login-container p,
.desktop-nav-container .desktop-nav .account-container .login-signup-container .signup-container p {
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fe5631;
  color: white;
  transition: 0.4s;
  border-radius: 5px;
}
.desktop-nav-container .desktop-nav .account-container .login-signup-container .login-container p:hover,
.desktop-nav-container .desktop-nav .account-container .login-signup-container .signup-container p:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.desktop-nav-container .desktop-nav .account-container .login-signup-container .login-container .login-signup-drop-down,
.desktop-nav-container .desktop-nav .account-container .login-signup-container .signup-container .login-signup-drop-down {
  position: absolute;
  list-style-type: none;
  background-color: white;
  box-shadow: 0 0 2px rgb(145, 142, 142);
  opacity: 0;
  z-index: 1;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  visibility: hidden;
}
.desktop-nav-container .desktop-nav .account-container .login-signup-container .login-container .login-signup-drop-down li,
.desktop-nav-container .desktop-nav .account-container .login-signup-container .signup-container .login-signup-drop-down li {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
  transition: 0.4s;
}
.desktop-nav-container .desktop-nav .account-container .login-signup-container .login-container .login-signup-drop-down li a,
.desktop-nav-container .desktop-nav .account-container .login-signup-container .signup-container .login-signup-drop-down li a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.desktop-nav-container .desktop-nav .account-container .login-signup-container .login-container .login-signup-drop-down li:hover,
.desktop-nav-container .desktop-nav .account-container .login-signup-container .signup-container .login-signup-drop-down li:hover {
  color: #fe5631;
}
.desktop-nav-container .desktop-nav .account-container .login-signup-container .login-container .login-signup-drop-down li:hover a,
.desktop-nav-container .desktop-nav .account-container .login-signup-container .signup-container .login-signup-drop-down li:hover a {
  color: #fe5631;
}

@media only screen and (max-width: 1400px) {
  .desktop-nav-container .desktop-nav .logo-container .moto {
    display: none;
  }
}/*# sourceMappingURL=DesktopNav.css.map */