$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  .Edit-profile {
    width:1400px;
    border-radius: 10px;
    position: relative;
    padding: 0;
    .edit-profile-btn {
      padding: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
      background-color: $hovercolor;
      color: white;
      border: none;
      font-weight: 500;
      transition: 0.5s;
      position: sticky;
      left: 100%;
      top: 100px;
      
      z-index: 1;
      &:hover {
        cursor: pointer;
        background-color: $hovercolor;
      }
    }

    .details-container {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      row-gap: 20px;
      padding: 20px;
      .details-title {
        font-weight: 500;
        letter-spacing: 0.7px;
        font-size: 22px;
        width: 100%;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: $primarycolor;
        font-variant: small-caps;
      }
      .sub-title {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 100%;
        font-size: 17px;
font-variant: small-caps;
        font-weight: 500;

        text-decoration: none;
        text-decoration-color: $primarycolor;
      }
      .short-inputs {
        display: flex;
        row-gap: 10px;
        column-gap: 50px;
        flex-wrap: wrap;
        .detail {
          margin-top: 20px;
          .text-input {
            width: 200px;
          }
          .input-title{
            font-variant: normal;
          }
          .checkbox-selectbox {
            width: 240px;
            .select-box-list {
              width: 240px;
            }
          }
          .selectbox-container {
            width: 240px;
            .select-box-list {
              width: 100%;
            }
          }
          div{
       
          width: 240px;
            
          }
        }
        
        .sub-title{
          font-size: 17px;
          text-decoration: none;
          text-decoration-color: $primarycolor;
          text-align: left;
        }
      }

      .detail {
        display: flex;
        column-gap: 10px;
        justify-content: left;
        align-items: center;
        .input-title {
          font-size: 16px;
          font-weight: 500;
          width: 310px;
          text-align: left;
          font-variant: small-caps;
          
        }
        .number-of-branches-container {
          position: relative;

          transition: 0.4s;
          transform: scale(0);
          width: 120px;
          
          .number-of-branches {
            padding: 10px;
            color: white;
            font-weight: 500;

            letter-spacing: 1px;
            border-radius: 3px;
            background-color: $primarycolor;
            width: 100%;
            text-align: center;
          }
          .numbers {
            background-color: $hovercolor;
            font-weight: 500;
            border-radius: 50%;
            padding: 2px;
            padding-left: 8px;
            padding-right: 8px;
            position: absolute;
            color: white;
            top: -15px;
            right: -10px;
          }
        }

        .radios {
          display: flex;
          column-gap: 20px;
          flex-wrap: wrap;
          align-items: center;
          width: 550px;
          .radio {
            display: flex;
            column-gap: 10px;
            align-items: center;
            flex-direction: row-reverse;
          }
        }
        .time-container {
          display: flex;
          column-gap: 10px;
          align-items: center;
          flex-wrap: wrap;
          .from-time,
          .to-time {
            width: 200px;
          }
          p {
            margin: 0;
            padding: 0;
            font-size: 16px;
          }
          .text-input {
            width: 150px;
          }
        }
        .text-input {
          padding: 6px;
          border: 1px solid lightgray;
          border-radius: 3px;
          outline: none;
          transition: 0.5s;
          width: 800px;
          &:hover {
            border-color: $primarycolor;
          }
          &:focus {
            border-color: $primarycolor;
          }
        }
        label {
          font-weight: 500;
        }
        .selectbox-container {
          list-style-type: none;
          width: 300px;
          margin: 0;
          position: relative;
          .heading {
            padding: 6px;
            border: 1px solid lightgray;
            border-radius: 3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.5s;
            p {
              margin: 0;
            }
            span {
              color: $primarycolor;
            }
            &:hover {
              cursor: pointer;
              border-color: $primarycolor;
            }
          }
          ::-webkit-scrollbar {
            width: 6px;
            background-color: lightgray;
          }
          ::-webkit-scrollbar-thumb {
            width: 6px;
            border-radius: 10px;
            background-color: rgb(66, 66, 66);
          }
          .select-box-list {
            position: absolute;
            list-style-type: none;
            background-color: rgb(245, 242, 242);
            width: 300px;
            opacity: 0;
            visibility: hidden;
            transform: scale(0.5);
            transition: 0.2s;
            pointer-events: none;
            max-height: 300px;
            overflow-y: scroll;
            z-index: 1;
            li {
              width: 100%;
              padding: 6px;
              transition: 0.5s;
              &:hover {
                cursor: pointer;
                background-color: $primarycolor;
                color: white;
              }
            }
          }
        }
        .checkbox-selectbox {
          list-style-type: none;
          width: 250px;
          .heading {
            padding: 13px;
            border-radius: 5px;
            border: 1px solid lightgray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            .heading-title {
              padding: 0px;
              margin: 0;
            }
            span {
              color: $primarycolor;
            }
            &:hover {
              cursor: pointer;
            }
          }
          ::-webkit-scrollbar {
            width: 5px;
            background: lightgray;
          }
          ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgb(63, 63, 63);
          }
          .select-box-list {
            position: absolute;
            list-style-type: none;
            width: 250px;
            max-height: 400px;

            overflow-y: scroll;
            transform: scale(0.5);
            opacity: 0;
            visibility: hidden;
            transition: 0.2s;
            li {
              width: 100%;
              background-color: rgb(247, 247, 247);
              display: flex;
              flex-direction: row-reverse;
              justify-content: left;
              padding: 5px;
              padding-left: 20px;
              column-gap: 15px;
              align-items: center;
              border-radius: 5px;
              .list-item-name {
                width: 150px;
                font-size: 16px;
              }
              input {
                position: relative;
                bottom: 6px;
              }
              .radio {
                bottom: -2px;
              }
            }
          }
        }
        .detail-items-to-select {
          .detail-items {
            list-style-type: none;
            display: flex;
            align-items: center;

            column-gap: 20px;
            row-gap: 10px;
            flex-wrap: wrap;
            width: 800px;

            .item {
              display: flex;
              column-gap: 10px;

              align-items: center;
              .item-name {
                font-size: 15px;
                color: black;
                margin: 0;
                padding: 0;
                width: 150px;
                text-align: center;
              }
              .checkbox-input {
                position: relative;
                top: 2px;
              }
              #Text-Input {
                width: 150px;
              }
            }
            #language,
            #work-day {
              flex-direction: row-reverse;
            }
            #delete-icon {
              font-size: 20px;
              color: $primarycolor;
              &:hover {
                cursor: pointer;
              }
            }
          }
          #add-icon {
            font-size: 20px;
            color: $hovercolor;
            transition: 0.4s;
            position: relative;
            top: 3px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      ::-webkit-scrollbar {
        width: 6px;
        background-color: lightgray;
      }
      ::-webkit-scrollbar-thumb {
        width: 6;
        border-radius: 10px;
        background-color: rgb(66, 66, 66);
      }
      .branches {
        height: 700px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;

        .branch {
          display: flex;
          flex-direction: column;
          row-gap: 30px;
          transition: 0.5s;
          position: relative;
          .branch-details {
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 50px;
            .detail {
              input {
                width: 200px;
              }
              ul {
                width: 200px;
              }
            }
          }
          .edit-branch-btn {
            
            border-radius: 50%;
            border: 1.5px solid white;
            background-color: transparent;
          
            position: absolute;
            right: 50px;
            top: 40%;
            span {
              padding: 10px;
              border-radius: 50%;
              color: white;
              background-color: $hovercolor;
              transition: 0.4s;
              font-size: 20px;
              
              &:hover {
                cursor: pointer;
                background: #199473;
              }
            }
            #save {
              background-color: $primarycolor;
              margin-top: 20px;
              &:hover {
                background-color: rgb(233, 71, 35);
              }
            }
          }
        }
        .add-anothert-branch-btn {
          padding: 10px;
          border: none;
          border-radius: 5px;
          background-color: $primarycolor;
          color: white;
          transition: 0.4s;
          font-weight: 500;
          width: 120px;
          &:hover {
            cursor: pointer;
            background-color: $hovercolor;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1450px) {
 
  .edit-profile-container {
    .Edit-profile {
      width: 1200px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .edit-profile-container {
    .Edit-profile {
      width: 1000px;
      .details-container {
        .detail {
          .text-input {
            width: 600px;
          }
          .detail-items-to-select {
            .detail-items {
              width: 600px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .edit-profile-container {
    .Edit-profile {
      width: 780px;
      .details-container {
        .detail {
          .radios {
            width: 300px;
          }
          .text-input {
            width: 400px;
          }
          .detail-items-to-select {
            .detail-items {
              width: 400px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .edit-profile-container {
    .Edit-profile {
      width: 100%;
      .details-container {
        .detail {
          .radios {
            width: 200px;
          }
          .text-input {
            width: 300px;
          }
          .detail-items-to-select {
            .detail-items {
              width: 300px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .edit-profile-container {
   
    .Edit-profile {
      
      .details-container {
        .detail {
          flex-direction: column;
          justify-content: center;
          width: 100%;
          .radios {
           
            width: 100%;
            align-items: flex-start;
            justify-content: left;
            .radio{
             
              width: 50px;
            }
          }
          .text-input {
            width: 100%;
          }
          .input-title {
            width: 100%;
          }
          .selectbox-container {
            width: 100%;
            .select-box-list {
              width: 100%;
            }
          }
          .detail-items-to-select {
            .detail-items {
              width: 100%;
            }
          }
          .checkbox-selectbox{
            width: 100%;
            .select-box-list{
              width: 90%;
            }
          }
          div{
            width: 100%;
          }
        }
        .short-inputs {
          .detail {
            .text-input {
              width: 100%;
            }
            
            .checkbox-selectbox {
              width: 100%;
              .select-box-list {
                width: 90%;
                
              }
            }
            .selectbox-container {
              width: 100%;
              .select-box-list {
                width: 100%;
              }
            }
            div{
              width: 100%;
              }
            
          }
          #Detail {
            input {
              width: 100%;
            }
          }
        }
        
        .branches {
          .branch {

            .branch-details {
              .detail {
                input {
                  width: 100%;
                }
                ul {
                  width: 100%;
                }
              }
            }
            .edit-branch-btn{
              
              top: 0;
              right: 0;
              bottom: 0;
              span{
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
