$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.project-overview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .project-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    row-gap: 10px;
    margin-top: 20px;
    .project-detail {
      display: flex;
      column-gap: 40px;
      justify-content: left;
      align-items: center;
      width: 100%;
      label {
        font-weight: 500;
        font-size: 15.5px;
        text-align: left;
       width: 40%;
      }
      p {
        text-align: left;
        margin: 0;
        width: 60%;
        padding: 4px;
        border: 1px solid lightgray;
        border-radius: 3px;
      }
    }
  }
}
