* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.project-overview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project-overview-container .project-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  row-gap: 10px;
  margin-top: 20px;
}
.project-overview-container .project-overview .project-detail {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: left;
  align-items: center;
  width: 100%;
}
.project-overview-container .project-overview .project-detail label {
  font-weight: 500;
  font-size: 15.5px;
  text-align: left;
  width: 40%;
}
.project-overview-container .project-overview .project-detail p {
  text-align: left;
  margin: 0;
  width: 60%;
  padding: 4px;
  border: 1px solid lightgray;
  border-radius: 3px;
}/*# sourceMappingURL=ProjectOverview.css.map */