* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.po-profile-container {
  margin-top: 50px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.po-profile-container .po-profile {
  position: relative;
}
.po-profile-container .po-profile .edit-po-btn {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: #fe5631;
  color: white;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}
.po-profile-container .po-profile .edit-po-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.po-profile-container .profile-tabs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.po-profile-container .profile-tabs-container p {
  font-size: 16px;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: black;
  transition: 0.3s;
  background-color: rgb(233, 232, 232);
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.po-profile-container .profile-tabs-container p:hover {
  cursor: pointer;
  color: rgb(119, 118, 118);
}
.po-profile-container .profile-tabs-container .overview {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  background-color: #1dc295;
}
.po-profile-container .profile-tabs-container .overview, .po-profile-container .profile-tabs-container .upload, .po-profile-container .profile-tabs-container .transaction {
  border-right: 2px solid white;
}
.po-profile-container .profile-tabs-container .analytics {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}/*# sourceMappingURL=OtherViewProfile.css.map */