$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.po-profile-container {
  margin-top: 50px;
  display: flex;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  .po-profile {
    position: relative;
    .edit-po-btn {
      padding: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
      background-color: $primarycolor;
      color: white;
      border: none;
      font-weight: 500;
      transition: 0.5s;
      position: absolute;
      right: 5px;
      top: 5px;

      z-index: 1;
      &:hover {
        cursor: pointer;
        background-color: $hovercolor;
      }
    }
  }
  .profile-tabs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p {
      font-size: 16px;
      font-variant: small-caps;
      letter-spacing: 1.5px;
      font-weight: 500;
  
      color: black;
      transition: .3s;
      background-color: rgb(233, 232, 232);
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
      &:hover{
        cursor: pointer;
        color: rgb(119, 118, 118);
      }
    }
    .overview{
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      color: white;
      background-color: $hovercolor;
    }
    .overview,.upload,.transaction{
            border-right: 2px solid white;

    }
    .analytics{
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
