* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.po-transaction-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.po-transaction-table-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.po-transaction-table-container .header .title {
  font-size: 35px;
  text-align: center;
}
.po-transaction-table-container .header .description {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  width: 700px;
}
.po-transaction-table-container ::-webkit-scrollbar {
  visibility: visible;
  height: 15px;
  background-color: lightgray;
}
.po-transaction-table-container ::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: rgb(62, 61, 61);
}
.po-transaction-table-container .transaction-table {
  width: 90%;
  overflow-x: scroll;
  display: flex;
  align-items: flex-start;
}
.po-transaction-table-container .transaction-table table {
  padding: 10px;
  border-collapse: collapse;
  overflow-x: scroll;
}
.po-transaction-table-container .transaction-table table tr {
  width: 100%;
  border-collapse: collapse;
}
.po-transaction-table-container .transaction-table table tr th {
  font-size: 16.3px;
  padding: 10px;
  border: 1px solid lightgray;
  min-width: 100px;
}
.po-transaction-table-container .transaction-table table tr th:nth-child(5) {
  min-width: 220px;
}
.po-transaction-table-container .transaction-table table tr th:nth-child(11), .po-transaction-table-container .transaction-table table tr th:nth-child(13), .po-transaction-table-container .transaction-table table tr th:nth-child(10) {
  min-width: 180px;
}
.po-transaction-table-container .transaction-table table tr td {
  min-width: 100px;
  font-size: 16.3px;
  padding: 5px;
  border: 1px solid lightgray;
  text-align: center;
}
.po-transaction-table-container .transaction-table table .transaction-data td {
  font-size: 14px;
  font-weight: 500;
}
.po-transaction-table-container .transaction-table table .transaction-data td span {
  color: #1dc295;
  transition: 0.4s;
}
.po-transaction-table-container .transaction-table table .transaction-data td span:hover {
  cursor: pointer;
  color: #fe5631;
}
.po-transaction-table-container .btn-actions {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.po-transaction-table-container .edit-btn,
.po-transaction-table-container .renew-btn,
.po-transaction-table-container .view-btn {
  color: white;
  background-color: #1dc295;
  padding: 5px;
  border-radius: 4px;
}
.po-transaction-table-container .renew-btn {
  background-color: #fe5631;
}
.po-transaction-table-container .table-sub-titles td:nth-child(8) {
  min-width: 240px;
}
.po-transaction-table-container .table-sub-titles td:nth-child(10), .po-transaction-table-container .table-sub-titles td:nth-child(9), .po-transaction-table-container .table-sub-titles td:nth-child(11) {
  min-width: 240px;
}

@media only screen and (max-width: 900px) {
  .transaction-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transaction-table-container .transaction-table {
    width: 800px;
    overflow-x: scroll;
    align-items: flex-start;
  }
  .transaction-table-container .transaction-table table {
    width: 1000px;
  }
}/*# sourceMappingURL=POTransactionPage.css.map */