$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}



.po-transaction-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .title {
      font-size: 35px;
      text-align: center;
    }

    .description {
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
      width: 700px;
    }
  }

  ::-webkit-scrollbar {
    visibility: visible;
    height: 15px;
    background-color: lightgray;
  }
  ::-webkit-scrollbar-thumb{
    visibility: visible;
    background-color: rgb(62, 61, 61);

  }

  .transaction-table {
    // border: 1px solid #1f80e0;
    width: 90%;
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    table {
      padding: 10px;
      border-collapse: collapse;
      overflow-x: scroll;

      tr {
        width: 100%;
        border-collapse: collapse;

        th {
          font-size: 16.3px;
          padding: 10px;
          border: 1px solid lightgray;
          min-width: 100px;

          &:nth-child(5) {
            min-width: 220px;
          }

          &:nth-child(11),
          &:nth-child(13),
          &:nth-child(10) {
            min-width: 180px;
          }
        }

        td {
          min-width: 100px;
          font-size: 16.3px;
          padding: 5px;
          border: 1px solid lightgray;
          text-align: center;
        }
      }

      .transaction-data {
        td {
          font-size: 14px;
          font-weight: 500;

          span {
            color: $hovercolor;
            transition: 0.4s;

            &:hover {
              cursor: pointer;
              color: $primarycolor;
            }
          }
        }
      }
    }
  }

  .btn-actions {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .edit-btn,
  .renew-btn,
  .view-btn {
    color: white;
    background-color: $hovercolor;
    padding: 5px;
    border-radius: 4px;
  }

  .renew-btn {
    background-color: $primarycolor;
  }

  .table-sub-titles {
    td {
      &:nth-child(8) {
        min-width: 240px;
      }

      &:nth-child(10),
      &:nth-child(9),
      &:nth-child(11) {
        min-width: 240px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .transaction-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .transaction-table {
      width: 800px;
      overflow-x: scroll;
      align-items: flex-start;

      table {
        width: 1000px;
      }
    }
  }
}