$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.success-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  img {
    width: 300px;
    object-fit: contain;
    animation: success 1.5s infinite linear;
  }
  .payment-success {
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
    color: $primarycolor;
  }
  a {
    color: #6c63ff;
    text-decoration: underline;
  }
  p {
    color: $hovercolor;
    font-weight: 600;
    font-size: 25px;
  }
}

@keyframes success {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 500px) {
  .success-page-container {
    img {
      width: 97%;
    }
    h1 {
      font-size: 30px;
    }
  }
}
