* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.success-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.success-page-container img {
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  animation: success 1.5s infinite linear;
}
.success-page-container .payment-success {
  font-size: 35px;
  margin-top: 10px;
  text-align: center;
  color: #fe5631;
}
.success-page-container a {
  color: #6c63ff;
  text-decoration: underline;
}
.success-page-container p {
  color: #1dc295;
  font-weight: 600;
  font-size: 25px;
}

@keyframes success {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 500px) {
  .success-page-container img {
    width: 97%;
  }
  .success-page-container h1 {
    font-size: 30px;
  }
}/*# sourceMappingURL=SuccessPage.css.map */