* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contactus-container {
  padding: 20px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: #F7F7F7;
}
.contactus-container .contactus {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.contactus-container .contactus img {
  width: 600px;
  height: 600px;
}
.contactus-container .contactus .descriptionandbtn {
  width: 600px;
  margin-top: 100px;
}
.contactus-container .contactus .descriptionandbtn h1 {
  text-align: left;
}
.contactus-container .contactus .descriptionandbtn p {
  line-height: 1.6;
  text-align: left;
  font-size: 17px;
  letter-spacing: 0.1px;
  color: rgb(68, 68, 68);
}

@media only screen and (max-width: 1400px) {
  .contactus-container .contactus img {
    width: 500px;
    height: 500px;
  }
  .contactus-container .contactus .descriptionandbtn {
    margin-top: 50px;
    width: 500px;
  }
}
@media only screen and (max-width: 1200px) {
  .contactus-container .contactus img {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 1000px) {
  .contactus-container .contactus {
    grid-template-columns: auto;
  }
  .contactus-container .contactus img {
    width: 600px;
    height: 600px;
  }
  .contactus-container .contactus .descriptionandbtn {
    margin-top: 50px;
    width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .contactus-container .contactus {
    grid-template-columns: auto;
  }
  .contactus-container .contactus img {
    width: 400px;
    height: 400px;
  }
  .contactus-container .contactus .descriptionandbtn {
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}/*# sourceMappingURL=ContactUs.css.map */