$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.user-profile-owner-container {
  .description{
    font-size: 17px;
      text-align: center;
      margin-top: 10px;
      width: 700px;
  }
display: flex;
justify-content: center;
flex-direction: column;

align-items: center;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
transition: .2s;
background: rgba(223, 221, 221, 0.4);
z-index: 9999;

::-webkit-scrollbar{
  width: 6px;
  background-color: lightgray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  width: 6px;
  background-color: black;
  border-radius: 10px;
}
  .form {
    margin-top: 100px;
    box-shadow: 0 0 8px rgb(184, 183, 183);
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 10px;
    background: white;
    .details-to-fill{
      display: flex;
      flex-wrap: wrap;
      column-gap: 50px;
      justify-content: left;
      align-items: flex-start;
      row-gap: 20px;
      width: 100%;
      padding: 25px;
      
     
      div {
        width: 475px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .verify-phn-no{
          position: absolute;
          right: 0;
          padding: 14px;
          background-color: $primarycolor;
          border: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          color: white;
          font-weight: 500;
          transition: .3s;
          &:hover{
            cursor: pointer;
            background-color: $hovercolor;
          }
        }
        ::-webkit-input-placeholder {
          transition: 0.5s;
          opacity: 1;
        }
        input:focus::-webkit-input-placeholder {
          opacity: 0;
        }
        label {
          display: block;
          width: 220px;
          font-weight: 500;
          font-size: 16px;
        }
        input {
          padding: 13px;
          width: 250px;
          border: none;
          border-radius: 5px;
          background-color: rgb(247, 247, 247);
          transition: 0.5s;
          border: 1px solid white;
          font-weight: 500;
    outline: none;
          &:focus {
              border-color: $primarycolor;
          }
        }
    
        .select-box{
            list-style-type: none;
            width: 250px;
            position: relative;
          .heading{
              padding: 13px;
              border-radius: 5px;
              border: 1px solid lightgray;
              display: flex;
              justify-content:space-between;
              align-items: center;
              font-size: 16px;
              font-weight: 500;
              .heading-title{
                padding: 0px;
                margin: 0;
              }
              span{
                  color: $primarycolor;
              }
              &:hover{
                  cursor: pointer;
              }
          }
          ::-webkit-scrollbar{
              width: 5px;
              background:lightgray;
          }
          ::-webkit-scrollbar-thumb{
              border-radius: 10px;
              background-color:rgb(63, 63, 63);
          }
            .select-box-list{
                position: absolute;
                list-style-type: none;
                width: 250px;
                max-height: 200px;
    
                overflow-y: scroll;
                transform: scale(.5);
                opacity: 0;
                visibility: hidden;
                transition: .2s;
                z-index: 999999;

               li{
                   width: 100%;
                  background-color: rgb(247, 247, 247);
                   display: flex;
                   justify-content:center;
                  padding: 5px;
                  padding-left: 20px;
                   align-items: center;
                   border-radius: 5px;
                   .list-item-name{
                       width: 150px;
                       font-size: 16px;
                   }
                  input{
                      position: relative;
                      bottom: 5px;
                  }
                  .radio{
                    bottom: -2px;
                  }
               }
            }
        }
      }

     }
     .submit-btn{
      padding: 13px;
      border-radius: 5px;
      background-color: $primarycolor;
      border: none;
      transition: .5s;
      color: white;
      font-weight: 500;
      width: 120px;
      letter-spacing: 1px;
      &:hover{
        cursor: pointer;
        background-color: $hovercolor;
      }
    }
  }
}


@media only screen and (max-width:1300px) {

  .user-profile-owner-container{
    .form{
      width: 600px;
      .details-to-fill{
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width:650px) {

  .user-profile-owner-container{
    .form{
      width: 100%;
      height: 90%;
      margin-top: 0;
     
      .details-to-fill{
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        div{
          flex-direction: column;
          label{
            width: 95%;
          }
          input{
            width: 95%;
          }
          .select-box{
            width: 95%;
            
          }
        }
      }
    }
  }
}