* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.user-profile-owner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
  background: rgba(223, 221, 221, 0.4);
  z-index: 9999;
}
.user-profile-owner-container .description {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  width: 700px;
}
.user-profile-owner-container ::-webkit-scrollbar {
  width: 6px;
  background-color: lightgray;
  border-radius: 10px;
}
.user-profile-owner-container ::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: black;
  border-radius: 10px;
}
.user-profile-owner-container .form {
  margin-top: 100px;
  box-shadow: 0 0 8px rgb(184, 183, 183);
  width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 10px;
  background: white;
}
.user-profile-owner-container .form .details-to-fill {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: left;
  align-items: flex-start;
  row-gap: 20px;
  width: 100%;
  padding: 25px;
}
.user-profile-owner-container .form .details-to-fill div {
  width: 475px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.user-profile-owner-container .form .details-to-fill div .verify-phn-no {
  position: absolute;
  right: 0;
  padding: 14px;
  background-color: #fe5631;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
.user-profile-owner-container .form .details-to-fill div .verify-phn-no:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.user-profile-owner-container .form .details-to-fill div ::-webkit-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.user-profile-owner-container .form .details-to-fill div input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.user-profile-owner-container .form .details-to-fill div label {
  display: block;
  width: 220px;
  font-weight: 500;
  font-size: 16px;
}
.user-profile-owner-container .form .details-to-fill div input {
  padding: 13px;
  width: 250px;
  border: none;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  transition: 0.5s;
  border: 1px solid white;
  font-weight: 500;
  outline: none;
}
.user-profile-owner-container .form .details-to-fill div input:focus {
  border-color: #fe5631;
}
.user-profile-owner-container .form .details-to-fill div .select-box {
  list-style-type: none;
  width: 250px;
  position: relative;
}
.user-profile-owner-container .form .details-to-fill div .select-box .heading {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.user-profile-owner-container .form .details-to-fill div .select-box .heading .heading-title {
  padding: 0px;
  margin: 0;
}
.user-profile-owner-container .form .details-to-fill div .select-box .heading span {
  color: #fe5631;
}
.user-profile-owner-container .form .details-to-fill div .select-box .heading:hover {
  cursor: pointer;
}
.user-profile-owner-container .form .details-to-fill div .select-box ::-webkit-scrollbar {
  width: 5px;
  background: lightgray;
}
.user-profile-owner-container .form .details-to-fill div .select-box ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(63, 63, 63);
}
.user-profile-owner-container .form .details-to-fill div .select-box .select-box-list {
  position: absolute;
  list-style-type: none;
  width: 250px;
  max-height: 200px;
  overflow-y: scroll;
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 999999;
}
.user-profile-owner-container .form .details-to-fill div .select-box .select-box-list li {
  width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-left: 20px;
  align-items: center;
  border-radius: 5px;
}
.user-profile-owner-container .form .details-to-fill div .select-box .select-box-list li .list-item-name {
  width: 150px;
  font-size: 16px;
}
.user-profile-owner-container .form .details-to-fill div .select-box .select-box-list li input {
  position: relative;
  bottom: 5px;
}
.user-profile-owner-container .form .details-to-fill div .select-box .select-box-list li .radio {
  bottom: -2px;
}
.user-profile-owner-container .form .submit-btn {
  padding: 13px;
  border-radius: 5px;
  background-color: #fe5631;
  border: none;
  transition: 0.5s;
  color: white;
  font-weight: 500;
  width: 120px;
  letter-spacing: 1px;
}
.user-profile-owner-container .form .submit-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}

@media only screen and (max-width: 1300px) {
  .user-profile-owner-container .form {
    width: 600px;
  }
  .user-profile-owner-container .form .details-to-fill {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 650px) {
  .user-profile-owner-container .form {
    width: 100%;
    height: 90%;
    margin-top: 0;
  }
  .user-profile-owner-container .form .details-to-fill {
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  .user-profile-owner-container .form .details-to-fill div {
    flex-direction: column;
  }
  .user-profile-owner-container .form .details-to-fill div label {
    width: 95%;
  }
  .user-profile-owner-container .form .details-to-fill div input {
    width: 95%;
  }
  .user-profile-owner-container .form .details-to-fill div .select-box {
    width: 95%;
  }
}/*# sourceMappingURL=UserProfile.css.map */