$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.compare-property-container {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .title {
      font-size: 35px;
      text-align: center;
    }

    .description {
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
      width: 700px;
    }
  }
  p {
    margin: 0;
  }
  .compare-property {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .compare {
      table {
        margin-top: 100px;
        border-collapse: collapse;
        // border: 1px solid lightgray;
        .title {
          padding: 20px;
          padding-left: 50px;
          padding-right: 50px;
          font-size: 18px;
          margin: 0;
          font-variant: small-caps;
          letter-spacing: 1px;
          font-weight: 500;
          text-decoration: underline;
          text-decoration-color: $primarycolor;
          transform: translateX(50%);
          text-align: center;
        }
        tr {
          border: 1px solid lightgray;
          border-collapse: collapse;

          td {
            padding: 20px;
            border: 1px solid lightgray;
            border-collapse: collapse;
            color: rgb(77, 76, 76);
            min-width: 300px;
          }
          .img-container {
            .remove {
              font-size: 16px;
              color: rgb(238, 45, 45);
              &:hover {
                cursor: pointer;
              }
            }
            .img {
              padding: 15px;
              border-radius: 10px;
              border: 1px solid lightgray;
              display: flex;
              flex-direction: column;
              row-gap: 10px;
              img {
                width: 300px;
                height: auto;
                border-radius: 10px;
              }
              .address {
                font-size: 16px;
                font-weight: 500;
                color: $primarycolor;
              }
              .property-name {
                font-size: 20px;
                color: black;
                transition: 0.4s;

                &:hover {
                  color: $primarycolor;
                }
              }
            }
          }
          .heading {
            padding-left: 50px;
            padding-right: 50px;
            font-size: 16px;
            color: black;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1390px) {
  .compare-property-container {
    .compare-property {
      .compare {
        table {
          tr {
            .img-container {
              .img {
                img {
                  width: 250px;
                }
              }
            }
            .heading {
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .compare-property-container {
    .compare-property {
      .compare {
        overflow-x: scroll;


      }
    }
  }
}
