* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.compare-property-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.compare-property-container .header .title {
  font-size: 35px;
  text-align: center;
}
.compare-property-container .header .description {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  width: 700px;
}
.compare-property-container p {
  margin: 0;
}
.compare-property-container .compare-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.compare-property-container .compare-property .compare table {
  margin-top: 100px;
  border-collapse: collapse;
}
.compare-property-container .compare-property .compare table .title {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  margin: 0;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #fe5631;
  transform: translateX(50%);
  text-align: center;
}
.compare-property-container .compare-property .compare table tr {
  border: 1px solid lightgray;
  border-collapse: collapse;
}
.compare-property-container .compare-property .compare table tr td {
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  color: rgb(77, 76, 76);
  min-width: 300px;
}
.compare-property-container .compare-property .compare table tr .img-container .remove {
  font-size: 16px;
  color: rgb(238, 45, 45);
}
.compare-property-container .compare-property .compare table tr .img-container .remove:hover {
  cursor: pointer;
}
.compare-property-container .compare-property .compare table tr .img-container .img {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.compare-property-container .compare-property .compare table tr .img-container .img img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.compare-property-container .compare-property .compare table tr .img-container .img .address {
  font-size: 16px;
  font-weight: 500;
  color: #fe5631;
}
.compare-property-container .compare-property .compare table tr .img-container .img .property-name {
  font-size: 20px;
  color: black;
  transition: 0.4s;
}
.compare-property-container .compare-property .compare table tr .img-container .img .property-name:hover {
  color: #fe5631;
}
.compare-property-container .compare-property .compare table tr .heading {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

@media only screen and (max-width: 1390px) {
  .compare-property-container .compare-property .compare table tr .img-container .img img {
    width: 250px;
  }
  .compare-property-container .compare-property .compare table tr .heading {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .compare-property-container .compare-property .compare {
    overflow-x: scroll;
  }
}/*# sourceMappingURL=EditedPropertyDetails.css.map */