$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.transaction-table-container {
  .transaction-table {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    table {
      padding: 10px;
      border-collapse: collapse;

      tr {
        width: 100%;
        border-collapse: collapse;
        th {
          font-size: 16.3px;
          padding: 5px;
          border: 1px solid lightgray;
        }
        td {
          font-size: 16.3px;
          padding: 5px;
          border: 1px solid lightgray;
          text-align: center;
        }
      }
      .transaction-data {
        td {
          font-size: 14px;
          font-weight: 500;
          span {
            color: $hovercolor;
            transition: 0.4s;
            &:hover {
              cursor: pointer;
              color: $primarycolor;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {

  .transaction-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .transaction-table {
       width: 800px;
overflow-x: scroll;
align-items: flex-start;
      table {
        width: 1000px;
      }
    }
  }
}

