* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.login-container .header .title {
  font-size: 23px;
  text-align: center;
}
.login-container .header .description {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  width: 700px;
}
.login-container .login {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 200px;
       column-gap: 200px;
  margin-top: 100px;
}
.login-container .login form {
  box-shadow: 0 0 5px lightgray;
  padding: 20px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container .login form .title {
  width: 100%;
  display: flex;
  justify-content: left;
}
.login-container .login form .title p {
  font-size: 28px;
}
.login-container .login form .error {
  width: 100%;
  font-size: 14px;
  color: red;
  text-align: left;
}
.login-container .login form ::-webkit-input-placeholder {
  color: gray;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 500;
}
.login-container .login form input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.login-container .login form .username, .login-container .login form .email, .login-container .login form .password {
  padding: 15px;
  width: 100%;
  border: 1px solid lightgray;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.4s;
}
.login-container .login form .username:focus, .login-container .login form .email:focus, .login-container .login form .password:focus {
  border-color: #fe5631;
}
.login-container .login form .rememberandlost {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-container .login form .rememberandlost .rememberme input {
  width: 20px;
}
.login-container .login form .rememberandlost .rememberme label {
  font-size: 15.5px;
  color: rgb(92, 90, 90);
  font-weight: 500;
}
.login-container .login form .rememberandlost a {
  font-size: 15.5px;
  color: rgb(92, 90, 90);
  font-weight: 500;
}
.login-container .login form button {
  width: 100%;
  padding: 15px;
  letter-spacing: 1px;
  color: white;
  background-color: #fe5631;
  transition: 0.4s;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container .login form button:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.login-container .login .other-methods-for-login .google-and-otp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.login-container .login .other-methods-for-login .google-and-otp p {
  font-weight: 500;
  color: rgb(94, 92, 92);
  font-size: 17px;
}
.login-container .login .other-methods-for-login .google-and-otp button {
  padding: 15px;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  border: none;
  width: 250px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 2px lightgray;
}
.login-container .login .other-methods-for-login .google-and-otp .via-google {
  background-color: #3F7EE8;
  color: white;
}
.login-container .login .other-methods-for-login .google-and-otp .via-google:hover {
  cursor: pointer;
}
.login-container .login .other-methods-for-login .google-and-otp .via-otp {
  background-color: #1dc295;
  color: white;
  transition: 0.4s;
}
.login-container .login .other-methods-for-login .google-and-otp .via-otp:hover {
  cursor: pointer;
  background-color: #fe5631;
}

@media only screen and (max-width: 1130px) {
  .login-container .login {
    flex-direction: column-reverse;
    row-gap: 50px;
  }
}
@media only screen and (max-width: 670px) {
  .login-container .login form {
    padding: 10px;
  }
}/*# sourceMappingURL=Login.css.map */