$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.login-container {
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .title {
      font-size: 23px;
      text-align: center;
    }

    .description {
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
      width: 700px;
    }
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
    margin-top: 100px;

    form {
     
      box-shadow: 0 0 5px lightgray;
      padding: 20px;
      display: flex;
      row-gap: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        width: 100%;
        display: flex;
        justify-content: left;
      p{
          font-size: 28px;
      }
    }
    .error{
      width: 100%;
      font-size: 14px;
      color: red;
      text-align: left;
    }
      ::-webkit-input-placeholder{
          color: gray;
          opacity: 1;
          transition: .4s;
          font-weight: 500;
      }
      input:focus::-webkit-input-placeholder{
          opacity: 0;
      }
      .username,.email,.password{
          padding: 15px;
          width: 100%;
          border: 1px solid lightgray;
          outline: none;
          font-size: 16px;
          border-radius: 5px;
          transition: .4s;
          &:focus{
              border-color: $primarycolor;
          }
      }
      .rememberandlost{
          width: 600px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .rememberme{
            
              input{
                  width: 20px;
                
              }
              label{
                  font-size: 15.5px;
                  color: rgb(92, 90, 90);
                  font-weight: 500;
              }
          }
          a{
            font-size: 15.5px;
            color: rgb(92, 90, 90);
            font-weight: 500;
          }
      }
      button{
          width: 100%;
          padding: 15px;
          letter-spacing: 1px;
          color: white;
          background-color: $primarycolor;
          transition: .4s;
          font-size: 17px;
          font-weight: 500;
          border-radius: 5px;
          border: none;
          outline: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &:hover{
              cursor: pointer;
              background-color: $hovercolor;
          }
      }
    }
    .other-methods-for-login{
      .google-and-otp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        p{
          font-weight: 500;
          color: rgb(94, 92, 92);
          font-size: 17px;
        }
        button{
          padding: 15px;
          border-radius: 5px;
          color: black;
          font-weight: 500;
          border: none;
          width: 250px;
          font-size: 16px;
          outline: none;
          box-shadow: 0 0 2px lightgray;
        }
        .via-google{
          background-color: #3F7EE8;
          color: white;
          &:hover{
            cursor: pointer;
          }
        }
        .via-otp{
          background-color: $hovercolor;
          color: white;
          transition: .4s;
          &:hover{
            cursor: pointer;
            background-color: $primarycolor;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1130px){
  .login-container{
    .login{
      flex-direction: column-reverse;
      row-gap: 50px;
    }
  }
}

@media only screen and (max-width:670px) {
    .login-container{
        .login{
            form{
                padding: 10px;
            }
        }
    }
}