* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cover-img-container {
  width: 1300px;
  height: 500px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 50px rgb(179, 179, 179);
}
.cover-img-container .no-image-upload-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  transition: 0.3s;
  border-radius: inherit;
  position: relative;
}
.cover-img-container .no-image-upload-title .title-container .title {
  display: flex;
  align-items: center;
  font-size: 22px;
  transition: 0.3s;
  font-variant: small-caps;
  letter-spacing: 2px;
}
.cover-img-container .no-image-upload-title .title-container .title span {
  font-variant: normal;
  font-size: 100px;
  color: rgb(68, 68, 68);
  transition: 0.3s;
}
.cover-img-container .no-image-upload-title:hover {
  background-color: rgb(155, 155, 155);
}
.cover-img-container .no-image-upload-title:hover .title {
  color: white;
  transform: scale(1.2);
}
.cover-img-container .no-image-upload-title:hover .title span {
  color: white;
}
.cover-img-container .no-image-upload-title:hover .title span:hover {
  color: rgb(206, 205, 205);
  cursor: pointer;
}
.cover-img-container .cover-img {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 3px;
  position: relative;
  top: 0;
  left: 0;
}
.cover-img-container .cover-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  transition: 0.3s;
}
.cover-img-container .cover-img .cover-img-options {
  width: 100%;
  height: 100%;
  background-color: none;
  position: absolute;
  top: 0;
  transition: 0.3s;
}
.cover-img-container .cover-img .cover-img-options .options {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.cover-img-container .cover-img .cover-img-options .options span {
  color: white;
  font-size: 60px;
  transition: 0.3s;
  transform: scale(0);
}
.cover-img-container .cover-img .cover-img-options .options #view-img-option {
  transition-delay: 0.1s;
}
.cover-img-container .cover-img .cover-img-options .options #change-img-option {
  transition-delay: 0.2s;
}
.cover-img-container .cover-img .cover-img-options .options #dlt-img-option {
  transition-delay: 0.3s;
}
.cover-img-container .cover-img:hover .cover-img-options {
  background-color: rgba(51, 51, 51, 0.3);
}
.cover-img-container .cover-img:hover .cover-img-options .options {
  -moz-column-gap: 50px;
       column-gap: 50px;
  opacity: 1;
  visibility: visible;
}
.cover-img-container .cover-img:hover .cover-img-options .options span {
  transform: scale(1.2);
}
.cover-img-container .cover-img:hover .cover-img-options .options span:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .cover-img-container {
    width: 1000px;
    height: 400px;
  }
}
@media only screen and (max-width: 1050px) {
  .cover-img-container {
    width: 800px;
    height: 400px;
  }
}
@media only screen and (max-width: 850px) {
  .cover-img-container {
    width: 90%;
    height: 400px;
  }
}
@media only screen and (max-width: 650px) {
  .cover-img-container {
    height: 300px;
  }
}/*# sourceMappingURL=SP_Cover_Image.css.map */