* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
}

.tooltip {
  z-index: 10;
  display: inline-block;
  border-bottom: 1px dotted #fe5631;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fe5631;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
}

.tooltip:hover .tooltiptext {
  z-index: 10;
  visibility: visible;
}

.parent-table-container,
.list-and-details-table {
  transition: 0.3s;
  width: 100%;
  overflow-x: scroll;
}
.parent-table-container table,
.list-and-details-table table {
  width: 100%;
  border-collapse: collapse;
}
.parent-table-container table tr,
.list-and-details-table table tr {
  border-collapse: collapse;
}
.parent-table-container table tr td,
.list-and-details-table table tr td {
  border-collapse: collapse;
  padding: 8.5px;
  border: 1px solid lightgray;
  text-align: center;
}
.parent-table-container table tr .heading,
.list-and-details-table table tr .heading {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-variant: small-caps;
}
.parent-table-container table tr .subheading,
.list-and-details-table table tr .subheading {
  font-size: 16px;
  font-weight: 500;
}
.parent-table-container table tr .view-list-and-detail,
.list-and-details-table table tr .view-list-and-detail {
  text-decoration: underline;
  color: #1dc295;
  text-decoration-color: #1dc295;
  font-weight: 500;
}
.parent-table-container table tr .view-list-and-detail:hover,
.list-and-details-table table tr .view-list-and-detail:hover {
  cursor: pointer;
}
.parent-table-container .list-and-details-table-title,
.list-and-details-table .list-and-details-table-title {
  display: flex;
}
.parent-table-container .list-and-details-table-title p,
.list-and-details-table .list-and-details-table-title p {
  font-weight: 500;
  font-size: 16px;
  font-variant: small-caps;
  border-radius: 2px;
  background-color: #1dc295;
  color: white;
  padding: 5px;
}

.list-and-details-table {
  margin-top: 20px;
}
.list-and-details-table table tr .converted-btn,
.list-and-details-table table tr .rejected-btn {
  color: white;
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 3px;
  background: #1dc295;
  font-weight: 600;
}
.list-and-details-table table tr .converted-btn:hover,
.list-and-details-table table tr .rejected-btn:hover {
  cursor: pointer;
}
.list-and-details-table table tr .rejected-btn {
  background: rgb(188, 8, 8);
}

.converted-btn,
.rejected-btn {
  color: white;
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 3px;
  background: #1dc295;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
}
.converted-btn:hover,
.rejected-btn:hover {
  cursor: pointer;
}

.rejected-btn {
  background: rgb(188, 8, 8);
}/*# sourceMappingURL=Utils.css.map */