$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
  width: 100%;
}

.tooltip {
  z-index: 10;
  display: inline-block;
  border-bottom: 1px dotted #fe5631;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fe5631;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
}

.tooltip:hover .tooltiptext {
  z-index: 10;
  visibility: visible;
}

.parent-table-container,
.list-and-details-table {
  transition: 0.3s;
  width: 100%;
  overflow-x: scroll;
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      border-collapse: collapse;
      td {
        border-collapse: collapse;
        padding: 8.5px;
        border: 1px solid lightgray;
        text-align: center;
      }
      .heading {
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: 600;
        font-variant: small-caps;
      }
      .subheading {
        font-size: 16px;
        font-weight: 500;
      }
      .view-list-and-detail {
        text-decoration: underline;
        color: $hovercolor;
        text-decoration-color: $hovercolor;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .list-and-details-table-title {
    display: flex;
    p {
      font-weight: 500;
      font-size: 16px;
      font-variant: small-caps;
      border-radius: 2px;
      background-color: $hovercolor;
      color: white;
      padding: 5px;
    }
  }
}

.list-and-details-table {
  margin-top: 20px;
  table {
    tr {
      .converted-btn,
      .rejected-btn {
        color: white;
        border: none;
        outline: none;
        padding: 7px;
        border-radius: 3px;
        background: $hovercolor;
        font-weight: 600;
        &:hover {
          cursor: pointer;
        }
      }
      .rejected-btn {
        background: rgb(188, 8, 8);
      }
    }
  }
}

.converted-btn,
.rejected-btn {
  color: white;
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 3px;
  background: $hovercolor;
  font-weight: 600;
  width: 100px;margin-top: 10px;
  &:hover {
    cursor: pointer;
  }
}
.rejected-btn {
  background: rgb(188, 8, 8);
}