* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pagebanner-container .page-banner {
  background-color: rgb(247, 247, 247);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  overflow-x: hidden;
}
.pagebanner-container .page-banner .banner-title {
  padding: 40px;
  transition: all 1.5s;
  position: relative;
  right: 250px;
  animation: pageanimation1 1s linear;
  -webkit-animation-fill-mode: forwards;
}
.pagebanner-container .page-banner .banner-title h1 {
  font-size: 35px;
  font-weight: 700;
}
.pagebanner-container .page-banner .banner-title ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.pagebanner-container .page-banner .banner-title ul a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.pagebanner-container .page-banner .banner-title ul a:hover {
  color: #fe5631;
}
.pagebanner-container .page-banner .img {
  transition: all 1.5s;
  position: relative;
  left: 200px;
  animation: pageanimation2 1s linear;
  -webkit-animation-fill-mode: forwards;
}

@media only screen and (max-width: 850px) {
  .pagebanner-container .page-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@keyframes pageanimation1 {
  from {
    right: 250px;
  }
  to {
    right: 0;
  }
}
@keyframes pageanimation2 {
  from {
    left: 200px;
  }
  to {
    left: 0;
  }
}/*# sourceMappingURL=PageBanner.css.map */