$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.pagebanner-container {
  .page-banner {
    background-color: rgb(247, 247, 247);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    overflow-x: hidden;
    .banner-title {
      padding: 40px;
      transition: all 1.5s;
      position: relative;

      right: 250px;
      animation: pageanimation1 1s linear;
      -webkit-animation-fill-mode: forwards;

      h1 {
        font-size: 35px;
        font-weight: 700;
      }
      ul {
        display: flex;
        column-gap: 30px;
        a {
          color: black;
          text-decoration: none;
          transition: 0.5s;
          &:hover {
            color: $primarycolor;
          }
        }
      }
    }
    .img {
      transition: all 1.5s;
      position: relative;
      left: 200px;
      animation: pageanimation2 1s linear;
      -webkit-animation-fill-mode: forwards;
    }
  }
}

@media only screen and (max-width: 850px) {
  .pagebanner-container {
    .page-banner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes pageanimation1 {
  from {
    right: 250px;
  }
  to {
    right: 0;
  }
}

@keyframes pageanimation2 {
  from {
    left: 200px;
  }
  to {
    left: 0;
  }
}
