* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ceo-container p {
  margin: 0;
}
.ceo-container .about {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 50px;
  width: 1400px;
}
.ceo-container .about .left-side .images {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.ceo-container .about .left-side .images img {
  width: 330px;
  height: auto;
  border-radius: 10px;
}
.ceo-container .about .right-side .title {
  font-size: 35px;
  line-height: 1.3;
}
.ceo-container .about .right-side .description {
  margin-top: 10px;
  line-height: 1.7;
  font-size: 17px;
  color: rgb(110, 108, 108);
}
.ceo-container .about .right-side .ceo-quote {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-left: 2px solid #fe5631;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgb(240, 239, 239);
}
.ceo-container .about .right-side .ceo-quote p {
  font-style: italic;
  font-size: 16px;
}
.ceo-container .about .right-side .ceo-quote .quote {
  color: rgb(110, 108, 108);
  line-height: 1.6;
  font-size: 17px;
}
.ceo-container .about .right-side .ceo-quote .ceo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.ceo-container .about .right-side .ceo-quote .ceo .founder {
  color: gray;
}
.ceo-container .about .right-side .ceo-quote .ceo .name {
  color: #fe5631;
}
.ceo-container #second-abt {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1400px) {
  .ceo-container .about {
    width: 1200px;
  }
  .ceo-container .about .left-side .images img {
    width: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .ceo-container .about {
    width: 1100px;
  }
  .ceo-container .about .left-side .images img {
    width: 200px;
  }
}
@media only screen and (max-width: 1100px) {
  .ceo-container .about {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }
  .ceo-container .about .left-side .images {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .ceo-container .about .left-side .images img {
    width: 350px;
  }
  .ceo-container #second-abt {
    flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  .ceo-container .about {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }
  .ceo-container .about .left-side {
    width: 100%;
  }
  .ceo-container .about .left-side .images {
    flex-direction: column;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .ceo-container .about .left-side .images img {
    min-width: 100%;
  }
  .ceo-container #second-abt {
    flex-direction: column;
  }
}/*# sourceMappingURL=Ceo.css.map */