$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.ceo-container {
  p{
    margin: 0;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding: 50px;
    width: 1400px;
    .left-side {
      .images {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        img {
          width: 330px;
          height: auto;
          border-radius: 10px;
        }
      }
    }
    .right-side {
      .title {
        font-size: 35px;
        line-height: 1.3;
      }
      .description {
       margin-top: 10px;
        line-height: 1.7;
        font-size: 17px;
        color: rgb(110, 108, 108);
       
      }
      .ceo-quote{
          display: flex;
          flex-direction: column;
          padding: 40px;
          border-left: 2px solid $primarycolor;
          border-radius: 10px;
          margin-top: 20px;
          box-shadow: 0 0 5px rgb(240, 239, 239);
          p{
            font-style: italic;
            font-size: 16px;
          }
          .quote{
              color: rgb(110, 108, 108);
              line-height: 1.6;
              font-size: 17px;
          }
          .ceo{
            display: flex;
            align-items: center;
            margin-top: 20px;
            .founder{
                color: gray;
            }
            .name{
                color: $primarycolor;
            }
          }
      }
    }
  }
  #second-abt{
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width:1400px) {
  .ceo-container{
   .about{
    width: 1200px;
    .left-side{
      .images{
        img{
          width: 250px;
        }
      }
    }
   }
  }
}
@media only screen and (max-width:1200px) {
  .ceo-container{
   .about{
    width: 1100px;
    .left-side{
      .images{
        img{
          width: 200px;
        }
      }
    }
   }
  }
}

@media only screen and (max-width:1100px) {
  .ceo-container{
   .about{
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
    .left-side{
      .images{
        flex-direction: row;
        column-gap: 20px;
        img{
          width: 350px;
        }
      }
    }
   }
   #second-abt{
     flex-direction: column;
   }
  }
}

@media only screen and (max-width:700px) {
  .ceo-container{
   .about{
    width: 100%;
    flex-direction: column;
    row-gap: 20px;

    .left-side{

      width: 100%;
      .images{
        flex-direction: column;
        column-gap: 20px;
        img{
          
          min-width: 100%;
        }
      }
    }
   }
   #second-abt{
     flex-direction: column;
   }
  }
}

