$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.edit-profile-and-overview-container{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .edit-profile-and-overview{
    width: 100%;
   
    position: relative;
    .edit-and-goback-btn{
      
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 3px;
        background-color: $primarycolor;
        color: white;
        border: none;
        font-weight: 500;
        position: absolute;
        right: 20px;
        top: 1px;
        z-index: 1;
        &:hover {
          cursor: pointer;
          background-color: $hovercolor;
        }
      
    }
  }
}