$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.popricing-container {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .title {
      font-size: 35px;
      text-align: center;
    }
    .description {
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
      width: 700px;
    }
  }
  .pricing-plans {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    margin-top: 50px;
    ::-webkit-scrollbar {
      width: 5px;
      background-color: lightgray;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 10px;
    }
    .plan {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;

      padding-top: 20px;
      padding-bottom: 20px;
      border: 1px solid lightgray;
      border-radius: 7px;
      width: 500px;
      height: 600px;
      overflow-y: scroll;
      position: relative;
      .title {
        font-size: 28px;
        margin: 0;
        padding-left: 30px;
        padding-right: 50px;
      }
      .price {
        font-size: 30px;
        color: $primarycolor;
        margin: 0;
        padding-left: 30px;
        padding-right: 50px;
      }
      .features {
        padding-left: 30px;
        padding-right: 50px;
        ul {
          list-style: none;

          li {
            display: flex;
            column-gap: 10px;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            i {
              font-size: 10px;
              color: $primarycolor;
            }
            p {
              font-size: 16px;
              font-weight: 500;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
      .btn {
        position: sticky;
        bottom: -10px;
        margin: auto;
        .pricing-btn {
          width: 250px;
          padding: 12px;
          border-radius: 5px;
          color: white;
          font-weight: 500;
          letter-spacing: 0.5px;
          font-size: 16px;
          border: none;
          background-color: $primarycolor;
          transition: 0.5s;
          &:hover {
            cursor: pointer;
            background-color: $hovercolor;
          }
        }
      }
    }
  }
  .plan-breakdown-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(81, 80, 80, 0.5);
    position: fixed;
    top: 0;
    left: 0;
  }
}
