$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.profile-img-container {
  width: 180px;
  height: 150px;

  border-radius: 5px;
  box-shadow: 0 0 5px white;
  position: relative;

  .profile-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      transition: .3s;
    }
    .profile-img-options{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      column-gap: 10px;
      justify-content:center;
      align-items: center;
      transform: scale(0.5);
      transition: .3s;
      visibility: hidden;
      opacity: 0;

      span{
        font-size: 45px;
        color: white;
        transition: .3s;
        &:hover{
          cursor: pointer;
          color: rgb(117, 117, 117);
        }
      }
    }
  }
  &:hover{
    .profile-img{
      img{
        filter: blur(1px);
      }
      .profile-img-options{
        transform: scale(1);
        visibility: visible;
        opacity: 1;
      
      }
    }
  }
  .no-img-profile-upload{
    width: 100%;
    height: 100%;
    background-color: rgb(199, 197, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
  
    .title{
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 17px;
      letter-spacing: 1px;
      transition: .3s;
      transform: scale(0.9);
      span{
        font-variant: normal;
        font-size: 40px;
      }
      &:hover{
        color: white;
        cursor: pointer;
      }
    }
    &:hover{
      background-color: rgb(138, 136, 136);
      .title{
        transform: scale(1);
      }
    }
  }
}

@media only screen and (max-width:650px) {
  .profile-img-container{
    width: 40%;
    height: 150px;
  }
}