$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.payment-modal-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
  background: transparent;
  z-index: 9999;
  p {
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 6px;
    background-color: lightgray;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: black;
    border-radius: 10px;
  }
  .form {
    margin-top: 100px;
    box-shadow: 0 0 8px rgb(184, 183, 183);
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 10px;
    background: white;
    position: relative;

    .submit-btn {
      padding: 13px;
      border-radius: 5px;
      background-color: $primarycolor;
      border: none;
      transition: 0.5s;
      color: white;
      font-weight: 500;
      width: 120px;
      letter-spacing: 1px;
      &:hover {
        cursor: pointer;
        background-color: $hovercolor;
      }
    }
    .modal-details {
      width: 100%;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      padding: 20px;
      row-gap: 10px;
      position: relative;
      .detail {
        display: flex;
        .heading {
          width: 250px;
          font-size: 15.5px;
          font-weight: 500;
        }
        .answer {
          width: 250px;
          font-size: 15.5px;
          font-weight: 500;
          color: rgb(93, 91, 91);
        }
      }
      table {
        .sub-titles {
          td {
            text-align: center;
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8) {
              min-width: 200px;
            }
          }
        }
      }
      .property-details {
        background-color: $hovercolor;
        width: 100%;
        padding: 10px;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        .detail {
          width: 100%;
          border-bottom: 1px solid white;
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          padding-bottom: 10px;
          .detail-title {
            font-size: 17px;
            color: white;
            font-weight: bold;
          }
          .cost {
            font-size: 17px;
            color: white;

            font-weight: 600;
          }
        }
      }
    }
    .title {
      font-weight: 600;
      font-size: 30px;
      position: absolute;
      top: 0;
      left: 10px;
    }
    #close-icon {
      position: absolute;
      top: -40px;
      background-color: rgb(79, 79, 79);
      color: white;
      font-size: 20px;
      padding: 5px;
      border-radius: 50%;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .payment-modal-container {
    .form {
      width: 95%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .payment-modal-container {
    .form {
      width: 95%;
      .modal-details {
        .detail {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .payment-modal-container {
    .form {
      width: 95%;
      
      .modal-details {
        .detail {
          width: 100%;
          flex-direction: column;
          .heading {
            width: 100%;
          }
          .answer {
            width: 100%;
          }
        }
      }
    }
  }
}
