* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.payment-modal-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
  background: transparent;
  z-index: 9999;
}
.payment-modal-container p {
  margin: 0;
  padding: 0;
}
.payment-modal-container ::-webkit-scrollbar {
  width: 6px;
  background-color: lightgray;
  border-radius: 10px;
}
.payment-modal-container ::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: black;
  border-radius: 10px;
}
.payment-modal-container .form {
  margin-top: 100px;
  box-shadow: 0 0 8px rgb(184, 183, 183);
  width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 10px;
  background: white;
  position: relative;
}
.payment-modal-container .form .submit-btn {
  padding: 13px;
  border-radius: 5px;
  background-color: #fe5631;
  border: none;
  transition: 0.5s;
  color: white;
  font-weight: 500;
  width: 120px;
  letter-spacing: 1px;
}
.payment-modal-container .form .submit-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.payment-modal-container .form .modal-details {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px;
  row-gap: 10px;
  position: relative;
}
.payment-modal-container .form .modal-details .detail {
  display: flex;
}
.payment-modal-container .form .modal-details .detail .heading {
  width: 250px;
  font-size: 15.5px;
  font-weight: 500;
}
.payment-modal-container .form .modal-details .detail .answer {
  width: 250px;
  font-size: 15.5px;
  font-weight: 500;
  color: rgb(93, 91, 91);
}
.payment-modal-container .form .modal-details table .sub-titles td {
  text-align: center;
}
.payment-modal-container .form .modal-details table .sub-titles td:nth-child(5), .payment-modal-container .form .modal-details table .sub-titles td:nth-child(6), .payment-modal-container .form .modal-details table .sub-titles td:nth-child(7), .payment-modal-container .form .modal-details table .sub-titles td:nth-child(8) {
  min-width: 200px;
}
.payment-modal-container .form .modal-details .property-details {
  background-color: #1dc295;
  width: 100%;
  padding: 10px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.payment-modal-container .form .modal-details .property-details .detail {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.payment-modal-container .form .modal-details .property-details .detail .detail-title {
  font-size: 17px;
  color: white;
  font-weight: bold;
}
.payment-modal-container .form .modal-details .property-details .detail .cost {
  font-size: 17px;
  color: white;
  font-weight: 600;
}
.payment-modal-container .form .title {
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 10px;
}
.payment-modal-container .form #close-icon {
  position: absolute;
  top: -40px;
  background-color: rgb(79, 79, 79);
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.payment-modal-container .form #close-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .payment-modal-container .form {
    width: 95%;
  }
}
@media only screen and (max-width: 700px) {
  .payment-modal-container .form {
    width: 95%;
  }
  .payment-modal-container .form .modal-details .detail {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .payment-modal-container .form {
    width: 95%;
  }
  .payment-modal-container .form .modal-details .detail {
    width: 100%;
    flex-direction: column;
  }
  .payment-modal-container .form .modal-details .detail .heading {
    width: 100%;
  }
  .payment-modal-container .form .modal-details .detail .answer {
    width: 100%;
  }
}/*# sourceMappingURL=RenewPaymentModal.css.map */