* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.uploadProject-nonmembership-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.uploadProject-nonmembership-container-ptag{
  font-size: 1.8em;
  margin-top: 15px;
  font-weight: 700;
  color: #1F80E0;
}
.uploadProject-nonmembership-container-ul{
  margin-top: 15px;
  margin-left: 20px;
  li{
    font-size: 1.2em;
  }
}
.uploadProject-nonmembership-container-div2{
  margin-top: 20px;
  text-align: center;
}
.uploadproject-membership-button{
  font-size: 1.6em;
  background-color: #1F80E0;
  color: white;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  border: none;
}
@media only screen and (min-width: 1001px) and (max-width: 1201px) {
  .uploadProject-nonmembership-container-ptag{
    font-size: 1.8em;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    color: #1F80E0;
  }
  .uploadProject-nonmembership-container-ul{
    margin-top: 15px;
    margin-left: 30px;
    li{
      font-size: 1.2em;
    }
  }
  .uploadProject-nonmembership-container-div2{
    margin-top: 20px;
    text-align: center;
  }
  .uploadproject-membership-button{
    font-size: 1.6em;
    margin: 10px;
    background-color: #1F80E0;
    color: white;
    font-weight: 600;
    padding: 12px;
    border-radius: 5px;
    border: none;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1001px) {
  .uploadProject-nonmembership-container-ptag{
    font-size: 1.7em;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    color: #1F80E0;
  }
  .uploadProject-nonmembership-container-ul{
    margin-top: 15px;
    margin-left: 30px;
    li{
      font-size: 1.2em;
    }
  }
  .uploadProject-nonmembership-container-div2{
    margin-top: 20px;
    text-align: center;
  }
  .uploadproject-membership-button{
    font-size: 1.6em;
    margin: 10px;
    background-color: #1F80E0;
    color: white;
    font-weight: 600;
    padding: 12px;
    border-radius: 5px;
    border: none;
  }
}
@media only screen and (min-width: 701px) and (max-width: 901px) {
  .uploadProject-nonmembership-container-ptag{
    font-size: 1.6em;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    color: #1F80E0;
  }
  .uploadProject-nonmembership-container-ul{
    margin-top: 15px;
    margin-left: 30px;
    li{
      font-size: 1.1em;
    }
  }
  .uploadProject-nonmembership-container-div2{
    margin-top: 20px;
    text-align: center;
  }
  .uploadproject-membership-button{
    font-size: 1.5em;
    margin: 10px;
    background-color: #1F80E0;
    color: white;
    font-weight: 600;
    padding: 12px;
    border-radius: 5px;
    border: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 701px) {
  .uploadProject-nonmembership-container-ptag{
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    color: #1F80E0;
  }
  .uploadProject-nonmembership-container-ul{
    margin-top: 15px;
    margin-left: 30px;
    li{
      font-size: 1.1em;
    }
  }
  .uploadProject-nonmembership-container-div2{
    margin-top: 20px;
    text-align: center;
  }
  .uploadproject-membership-button{
    font-size: 1.4em;
    margin: 10px;
    background-color: #1F80E0;
    color: white;
    font-weight: 600;
    padding: 12px;
    border-radius: 5px;
    border: none;
  }
}
@media only screen and (min-width: 501px) and (max-width: 601px) {
  .uploadProject-nonmembership-container-ptag{
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    color: #1F80E0;
  }
  .uploadProject-nonmembership-container-ul{
    margin-top: 15px;
    margin-left: 30px;
    li{
      font-size: 1.1em;
    }
  }
  .uploadProject-nonmembership-container-div2{
    margin-top: 20px;
    text-align: center;
  }
  .uploadproject-membership-button{
    font-size: 1.3em;
    margin: 10px;
    background-color: #1F80E0;
    color: white;
    font-weight: 600;
    padding: 12px;
    border-radius: 5px;
    border: none;
  }
}
@media only screen and (min-width: 401px) and (max-width: 501px) {
  .uploadProject-nonmembership-container-ptag{
    font-size: 1.4em;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    color: #1F80E0;
  }
  .uploadProject-nonmembership-container-ul{
    margin-top: 15px;
    margin-left: 30px;
    li{
      font-size: 1.1em;
    }
  }
  .uploadProject-nonmembership-container-div2{
    margin-top: 20px;
    text-align: center;
  }
  .uploadproject-membership-button{
    font-size: 1.3em;
    margin: 10px;
    background-color: #1F80E0;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
}
@media only screen and (min-width: 301px) and (max-width: 401px) {
  .uploadProject-nonmembership-container-ptag{
    font-size: 1.3em;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    color: #1F80E0;
  }
  .uploadProject-nonmembership-container-ul{
    margin-top: 15px;
    margin-left: 25px;
    li{
      font-size: 1em;
    }
  }
  .uploadProject-nonmembership-container-div2{
    margin-top: 20px;
    text-align: center;
  }
  .uploadproject-membership-button{
    font-size: 1.2em;
    margin: 10px;
    background-color: #1F80E0;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
}
@media only screen and (min-width: 201px) and (max-width: 301px) {
  .uploadProject-nonmembership-container-ptag{
    font-size: 1.3em;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    color: #1F80E0;
  }
  .uploadProject-nonmembership-container-ul{
    margin-top: 15px;
    margin-left: 25px;
    li{
      font-size: 1em;
    }
  }
  .uploadProject-nonmembership-container-div2{
    margin-top: 20px;
    text-align: center;
  }
  .uploadproject-membership-button{
    font-size: 1.2em;
    margin: 10px;
    background-color: #1F80E0;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
}

.sp-upload-project-container .upload-project-title {
  font-variant: small-caps;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
.sp-upload-project-container .upload-project-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sp-upload-project-container .upload-project-details-container .upload-project-details-heading {
  font-variant: small-caps;
  text-decoration: underline;
  text-decoration-color: #fe5631;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail {
  margin-top: 40px;
  display: flex;
  row-gap: 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail {
  display: flex;
  justify-content: left;
  align-items: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  width: 100%;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-title {
  width: 30%;
  font-size: 15px;
  font-weight: 500;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail #last-select-list-title {
  display: none;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-titles-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 15px;
  justify-content: space-between;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-titles-container .detail-title {
  width: 100%;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-titles-container #project-styles-title {
  display: block;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail ::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-input {
  width: 60%;
  height: 35px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid lightgray;
  outline: none;
  transition: 0.3s;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-input:focus {
  border-color: #fe5631;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail textarea {
  width: 60%;
  height: 150px;
  border: 1px solid lightgray;
  border-radius: 2px;
  transition: 0.3s;
  outline: none;
  padding: 5px;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail textarea:focus {
  border-color: #fe5631;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container {
  position: relative;
  width: 200px;
  list-style: none;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container .selected-heading {
  border: 1px solid lightgray;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container .selected-heading .heading {
  padding: 0;
  margin: 0;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container .detail-select-list {
  list-style: none;
  position: absolute;
  width: 100%;
  border: 1px solid lightgray;
  transform: scale(0);
  transition: 0.3s;
  z-index: 1;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container .detail-select-list li {
  padding: 5px;
  border-top: 1px solid lightgray;
  transition: 0.3s;
  background-color: rgb(226, 225, 225);
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container .detail-select-list li:hover {
  color: white;
  background-color: #fe5631;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container li {
  text-align: center;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container:hover {
  cursor: pointer;
}
.sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .radio-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 90%;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container .upload-btn span {
  font-size: 100px;
  transition: 0.3s;
  color: #fe5631;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container .upload-btn span:hover {
  cursor: pointer;
  color: #1dc295;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container ::-webkit-scrollbar {
  width: 6px;
  background-color: lightgray;
  border-radius: 10px;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container ::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: black;
  border-radius: 10px;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container .images-container {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 550px;
  overflow-y: scroll;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container .images-container .uploaded-img {
  width: 300px;
  height: 250px;
  border-radius: 3px;
  position: relative;
  bottom: 0;
  transition: 0.3s;
  background: linear-gradient(to bottom, lightgray, gray 100%);
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container .images-container .uploaded-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container .images-container .uploaded-img span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  border-radius: 50%;
  font-size: 25px;
  background-color: white;
}
.sp-upload-project-container .upload-project-details-container .upload-and-images-container .images-container .uploaded-img span:hover {
  cursor: pointer;
}
.sp-upload-project-container .upload-project-details-container .save-and-continue-btn {
  padding: 10px;
  border-radius: 3px;
  font-size: 15.5px;
  border: none;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: #fe5631;
  transition: 0.3s;
}
.sp-upload-project-container .upload-project-details-container .save-and-continue-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}

@media only screen and (max-width: 1250px) {
  .sp-upload-project-container .uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .images-container {
    width: 90%;
  }
  .sp-upload-project-container .uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details {
    width: 90%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail {
    width: 1000px;
  }
  .sp-upload-project-container .upload-project-details-container .upload-and-images-container {
    width: 1000px;
  }
}
@media only screen and (max-width: 1050px) {
  .sp-upload-project-container .upload-project-details-container .upload-project-detail {
    width: 800px;
  }
  .sp-upload-project-container .upload-project-details-container .upload-and-images-container {
    width: 800px;
  }
}
@media only screen and (max-width: 850px) {
  .sp-upload-project-container .uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .images-container {
    width: 90%;
    height: 50%;
  }
  .sp-upload-project-container .uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details {
    width: 90%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail {
    width: 100%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail {
    flex-direction: column;
    width: 98%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-title {
    text-align: left;
    width: 98%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-titles-container {
    width: 98%;
    height: 0px;
    background-color: red;
    padding-bottom: 0px;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-titles-container #project-styles-title {
    display: none;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail #last-select-list-title {
    display: block;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-input {
    width: 98%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail textarea {
    width: 98%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .detail-select-list-container {
    width: 98%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-project-detail .detail .radio-inputs {
    width: 98%;
  }
  .sp-upload-project-container .upload-project-details-container .upload-and-images-container {
    width: 100%;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .sp-upload-project-container .upload-project-details-container .upload-and-images-container .images-container .uploaded-img {
    width: 98%;
    height: 300px;
  }
}/*# sourceMappingURL=SP_UploadNewProject.css.map */