* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.declaration-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.declaration-container .declaration {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: left;
}
.declaration-container .declaration p {
  margin: 0;
  font-size: 15px;
  font-variant: normal;
}
.declaration-container .declaration p b {
  font-size: 16px;
  font-variant: small-caps;
}
.declaration-container .declaration .checkbox-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.declaration-container .declaration .checkbox-container label {
  font-size: 15px;
}/*# sourceMappingURL=Declaration.css.map */