$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.uploaded-project-modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(132, 132, 132, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
  #close-modal{
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    color: black;
    &:hover{
      cursor: pointer;
    }
  }
  .uploaded-project-modal {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 100px rgb(124, 124, 124);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    transition: 0.3s;
    .project-details-heading {
      width: 100%;

      .heading {
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        font-variant: small-caps;
        letter-spacing: 1px;
        word-spacing: 3px;
        padding: 0;
        margin: 0;
      }
    }
    .images-and-details-container {
      width: 100%;
      height: 90%;

      overflow-x: hidden;

      .imganddetail {
        width: 100%;
        height: 100%;
        display: flex;
        transition: 0.3s;

        .images-and-details {
          min-width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          row-gap: 10px;
          align-items: center;
          justify-content: space-around;
          transition: 0.5s;

          .images-container {
            width: 60%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .images {
              width: 98%;
              height: 100%;
              border-radius: 4px;
              box-shadow: 0 0 10px rgb(183, 182, 182);
              overflow: hidden;
              display: flex;
              background-color: black;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          ::-webkit-scrollbar {
            width: 5px;
            background-color: lightgray;
          }
          ::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: black;
            border-radius: 10px;
          }
          .uploaded-project-details {
            width: 32%;
            height: 90%;
            border-radius: 4px;
            box-shadow: 0 0 50px lightgray;
            position: relative;
            overflow-y: scroll;
            .project-details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-top: 20px;
              label {
                width: 90%;
                font-size: 16px;
                font-weight: 500;
                margin-top: 10px;
              }
              input,
              textarea {
                width: 90%;
                border-radius: 2px;
                padding: 5px;
                border: 1px solid lightgray;
                outline: none;
                transition: 0.3s;
                margin-top: 5px;
                &:hover {
                  border-color: $primarycolor;
                }
                &:focus {
                  border-color: $primarycolor;
                }
              }
              textarea {
                height: 100px;
              }

              .detail-select-list-container {
                position: relative;
                width: 90%;
                list-style: none;

                .selected-heading {
                  border: 1px solid lightgray;
                  border-radius: 2px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 5px;

                  width: 100%;
                  .heading {
                    padding: 0;
                    margin: 0;
                  }
                }
                .detail-select-list {
                  list-style: none;
                  position: absolute;
                  width: 100%;
                  border: 1px solid lightgray;
                  transform: scale(0);
                  transition: 0.3s;
                  z-index: 1;
                  li {
                    padding: 5px;
                    border-top: 1px solid lightgray;
                    transition: 0.3s;
                    background-color: rgb(226, 225, 225);
                    &:hover {
                      color: white;
                      background-color: $primarycolor;
                    }
                  }
                }
                li {
                  text-align: center;
                }
                &:hover {
                  cursor: pointer;
                }
              }
              .residential-lists,
              .commercial-lists {
                width: 90%;
                .detail-select-list-container {
                  width: 100%;
                }
              }
            }
          }
          .forward-backwards-btns {
            width: 95%;
            display: flex;
            justify-content: space-between;
            .next-btn,
            .back-btn,
            .submit-btn {
              text-align: center;
              padding: 8px;
              background-color: $hovercolor;
              color: white;
              border-radius: 3px;
              font-variant: small-caps;
              letter-spacing: 2px;
              font-size: 16px;
              font-weight: 500;
              padding-left: 11px;
              padding-right: 11px;
              bottom: 0px;
              transition: 0.3s;
              &:hover {
                cursor: pointer;
                opacity: 0.8;
              }
            }
            #next-btn {
              right: 10px;
            }
            #back-btn {
              left: 10px;
              background-color: $primarycolor;
            }
          }
        }
      }
    }

   
  }
}


