* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.edit-profile-and-overview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-profile-and-overview-container .edit-profile-and-overview {
  width: 100%;
  position: relative;
}
.edit-profile-and-overview-container .edit-profile-and-overview .editt-and-goback-btn {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: #fe5631;
  color: white;
  border: none;
  font-weight: 500;
  position: sticky;
  left: 90%;
  top: 100px;
  z-index: 1;
}
.edit-profile-and-overview-container .edit-profile-and-overview .editt-and-goback-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}/*# sourceMappingURL=EditProfileandOverview.css.map */