* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mobile-nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.mobile-nav-container p {
  margin: 0;
}
.mobile-nav-container .mobile-nav {
  width: 100%;
  background-color: #201c2d;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid lightgray;
  z-index: 999;
}
.mobile-nav-container .mobile-nav .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-nav-container .mobile-nav .left-side .logo {
  display: flex;
  align-items: center;
}
.mobile-nav-container .mobile-nav .left-side .logo img {
  width: 150px;
}
.mobile-nav-container .mobile-nav .left-side .logo .company-name {
  color: white;
}
.mobile-nav-container .mobile-nav .right-side {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.mobile-nav-container .mobile-nav .right-side .add-listing-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.mobile-nav-container .mobile-nav .right-side .add-listing-btn span {
  color: white;
  font-size: 40px;
}
.mobile-nav-container .mobile-nav .right-side .add-listing-btn .add-listing {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.mobile-nav-container .mobile-nav .right-side .add-listing-btn .add-listing div {
  position: absolute;
  right: -40px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px lightgray;
}
.mobile-nav-container .mobile-nav .right-side .add-listing-btn .add-listing div button {
  padding: 15px;
  width: 170px;
  border-radius: 5px;
  background-color: #fe5631;
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  border: none;
  transition: 0.4s;
}
.mobile-nav-container .mobile-nav .right-side .add-listing-btn .add-listing div button a {
  color: white;
  text-decoration: none;
}
.mobile-nav-container .mobile-nav .right-side .add-listing-btn .add-listing div button:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.mobile-nav-container .mobile-nav .right-side .add-listing-btn:hover {
  cursor: pointer;
}
.mobile-nav-container .mobile-nav .right-side .burger span {
  color: white;
  font-size: 40px;
}
.mobile-nav-container .mobile-nav .right-side .burger:hover {
  cursor: pointer;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user span {
  font-size: 20px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid black;
  transition: 0.5s;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user span:hover {
  cursor: pointer;
  border-color: #fe5631;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail {
  position: absolute;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .profile-items-drop-down {
  background-color: white;
  list-style-type: none;
  border-radius: 5px;
  box-shadow: 0 0 2px lightgray;
  margin-top: 10px;
  transition: 0.5s;
  visibility: hidden;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .profile-items-drop-down li {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  padding-left: 20px;
  padding-left: 20px;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .profile-items-drop-down li a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .profile-items-drop-down li a:hover {
  color: #fe5631;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .mobile-nav-login-dropdown {
  list-style-type: none;
  background-color: white;
  box-shadow: 0 0 2px lightgray;
  margin-top: 10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  display: none;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .mobile-nav-login-dropdown p {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .mobile-nav-login-dropdown ul {
  list-style-type: none;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .mobile-nav-login-dropdown ul li {
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid lightgray;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .mobile-nav-login-dropdown ul li a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.mobile-nav-container .mobile-nav .right-side .mobile-nav-user .mobile-nav-user-detail .mobile-nav-login-dropdown ul li a:hover {
  color: #fe5631;
}
.mobile-nav-container .mobile-nav .right-side .account-container {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.mobile-nav-container .mobile-nav .right-side .account-container p {
  margin: 0;
}
.mobile-nav-container .mobile-nav .right-side .account-container .nav-cart-container {
  position: relative;
}
.mobile-nav-container .mobile-nav .right-side .account-container .nav-cart-container span {
  font-size: 32px;
  color: white;
}
.mobile-nav-container .mobile-nav .right-side .account-container .nav-cart-container .number-of-items-in-cart {
  position: absolute;
  top: -13px;
  right: -10px;
  font-size: 500;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  border-radius: 50%;
  background-color: red;
}
.mobile-nav-container .mobile-nav .right-side .account-container .profile {
  position: relative;
}
.mobile-nav-container .mobile-nav .right-side .account-container .profile span {
  font-size: 25px;
  padding: 10px;
  color: white;
  border: 1px solid #201c2d;
  background-color: #fe5631;
  border-radius: 50%;
  transition: 0.3s;
}
.mobile-nav-container .mobile-nav .right-side .account-container .profile span:hover {
  cursor: pointer;
  border-color: black;
}
.mobile-nav-container .mobile-nav .right-side .account-container .profile .profile-drop-down {
  position: absolute;
  list-style-type: none;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(184, 183, 183);
  right: -50px;
  width: 150px;
  margin-top: 10px;
  transition: 0.5s;
  visibility: hidden;
}
.mobile-nav-container .mobile-nav .right-side .account-container .profile .profile-drop-down li {
  font-size: 16px;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid lightgray;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mobile-nav-container .mobile-nav .right-side .account-container .profile .profile-drop-down li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}
.mobile-nav-container .mobile-nav .right-side .account-container .profile .profile-drop-down li:hover {
  cursor: pointer;
  color: #fe5631;
}
.mobile-nav-container .mobile-nav .right-side .account-container .profile .profile-drop-down li:hover a {
  color: #fe5631;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .login-container p,
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .signup-container p {
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fe5631;
  color: white;
  transition: 0.4s;
  border-radius: 5px;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .login-container p:hover,
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .signup-container p:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .login-container .login-signup-drop-down,
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .signup-container .login-signup-drop-down {
  position: absolute;
  list-style-type: none;
  background-color: white;
  box-shadow: 0 0 2px rgb(145, 142, 142);
  opacity: 0;
  z-index: 1;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  visibility: hidden;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .login-container .login-signup-drop-down li,
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .signup-container .login-signup-drop-down li {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
  transition: 0.4s;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .login-container .login-signup-drop-down li a,
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .signup-container .login-signup-drop-down li a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .login-container .login-signup-drop-down li:hover,
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .signup-container .login-signup-drop-down li:hover {
  color: #fe5631;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .login-container .login-signup-drop-down li:hover a,
.mobile-nav-container .mobile-nav .right-side .account-container .login-signup-container .signup-container .login-signup-drop-down li:hover a {
  color: #fe5631;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-container p {
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fe5631;
  color: white;
  transition: 0.4s;
  border-radius: 5px;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-container p:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-container .login-signup-drop-down {
  position: absolute;
  list-style-type: none;
  background-color: white;
  box-shadow: 0 0 2px rgb(145, 142, 142);
  opacity: 0;
  z-index: 1;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  visibility: hidden;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-container .login-signup-drop-down li {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
  transition: 0.4s;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-container .login-signup-drop-down li a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-container .login-signup-drop-down li:hover {
  color: #fe5631;
}
.mobile-nav-container .mobile-nav .right-side .account-container .login-container .login-signup-drop-down li:hover a {
  color: #fe5631;
}
.mobile-nav-container .mobile-nav-items-container {
  padding-left: 15px;
  padding-right: 15px;
}
.mobile-nav-container .mobile-nav-items-container ::-webkit-scrollbar {
  width: 7px;
  background-color: lightgray;
}
.mobile-nav-container .mobile-nav-items-container ::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items {
  background-color: white;
  box-shadow: 0 0 4px lightgray;
  height: 0;
  overflow-y: scroll;
  transition: 0.6s;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down {
  list-style-type: none;
  z-index: 9999;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li .lnk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: rgb(90, 89, 89);
  border-bottom: 1px solid rgb(165, 214, 243);
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li .lnk span {
  font-size: 20px;
  font-weight: 800;
  color: rgb(103, 114, 148);
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li .lnk:hover {
  cursor: pointer;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li a {
  text-decoration: none;
  color: rgb(90, 89, 89);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgb(165, 214, 243);
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li .mobile-nav-items-sub-drop-down {
  list-style-type: none;
  height: 0;
  overflow-y: hidden;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li .mobile-nav-items-sub-drop-down li {
  color: rgb(90, 89, 89);
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li .mobile-nav-items-sub-drop-down li p {
  border-bottom: 1px solid rgb(165, 214, 243);
  padding-left: 40px;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li .mobile-nav-items-sub-drop-down li a {
  text-decoration: none;
  color: rgb(90, 89, 89);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 40px;
  border-bottom: 1px solid rgb(165, 214, 243);
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li .mobile-nav-items-sub-drop-down li a span {
  font-size: 20px;
  font-weight: 800;
  color: rgb(103, 114, 148);
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li #sub-drop-down-2 li p {
  padding-left: 120px;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li #sub-drop-down-2 li a {
  padding-left: 120px;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down li #sub-drop-down-3 li a {
  padding-left: 180px;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down .login,
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down .signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(165, 214, 243);
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down .login .lnk,
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down .signup .lnk {
  border-bottom: 1px solid white;
}
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down #login-opt,
.mobile-nav-container .mobile-nav-items-container .mobile-nav-items .mobile-nav-items-drop-down #signup-opt {
  display: none;
}/*# sourceMappingURL=MobileNav.css.map */