$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.mobile-nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  p {
    margin: 0;
  }
  .mobile-nav {
    width: 100%;
    background-color: $secondarycolor;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid lightgray;
    z-index: 999;

    .left-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .logo {
        display: flex;
        align-items: center;
        img {
          width: 150px;
        }
        .company-name {
          color: white;
        }
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      column-gap: 10px;

      .add-listing-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        span {
          color: white;
          font-size: 40px;
        }
        .add-listing {
          opacity: 0;
          visibility: hidden;
          transition: 0.5s;
          div {
            position: absolute;
            right: -40px;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 2px lightgray;
            button {
              padding: 15px;
              width: 170px;
              border-radius: 5px;
              background-color: $primarycolor;
              color: white;
              font-weight: 500;
              font-size: 16px;
              letter-spacing: 0.5px;
              border: none;
              transition: 0.4s;
              a {
                color: white;
                text-decoration: none;
              }
              &:hover {
                cursor: pointer;
                background-color: $hovercolor;
              }
            }
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      .burger {
        span {
          color: white;
          font-size: 40px;
        }
        &:hover {
          cursor: pointer;
        }
      }

      .mobile-nav-user {
        span {
          font-size: 20px;
          padding: 7px;
          border-radius: 50%;
          border: 1px solid black;
          transition: 0.5s;
          &:hover {
            cursor: pointer;
            // color: $primarycolor;
            border-color: $primarycolor;
          }
        }
        .mobile-nav-user-detail {
          position: absolute;

          .profile-items-drop-down {
            background-color: white;
            list-style-type: none;
            border-radius: 5px;
            box-shadow: 0 0 2px lightgray;
            margin-top: 10px;
            transition: 0.5s;
            visibility: hidden;
            li {
              border-bottom: 1px solid lightgray;
              padding: 10px;
              padding-left: 20px;
              padding-left: 20px;
              a {
                text-decoration: none;
                color: black;
                transition: 0.4s;
                &:hover {
                  color: $primarycolor;
                }
              }
            }
          }
          .mobile-nav-login-dropdown {
            list-style-type: none;
            background-color: white;
            box-shadow: 0 0 2px lightgray;
            margin-top: 10px;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
            z-index: 0;
            display: none;
            p {
              padding: 10px;
              border-bottom: 1px solid lightgray;
            }
            ul {
              list-style-type: none;

              li {
                padding: 10px;
                padding-left: 20px;
                border-bottom: 1px solid lightgray;
                a {
                  text-decoration: none;
                  color: black;
                  transition: 0.4s;
                  &:hover {
                    color: $primarycolor;
                  }
                }
              }
            }
          }
        }
      }
      .account-container {
        display: flex;
        column-gap: 20px;
        align-items: center;
        p {
          margin: 0;
        }
        .nav-cart-container {
          position: relative;
          span {
            font-size: 32px;
            color: white;
          }
          .number-of-items-in-cart {
            position: absolute;
            top: -13px;
            right: -10px;
            font-size: 500;
            padding-left: 6px;
            padding-right: 6px;
            color: white;
            border-radius: 50%;
            background-color: red;
          }
        }
        .profile {
          position: relative;
          span {
            font-size: 25px;
            padding: 10px;
            color: white;
            border: 1px solid $secondarycolor;
            background-color: $primarycolor;
            border-radius: 50%;
            transition: 0.3s;
            &:hover {
              
              cursor: pointer;
              border-color: black;
            }
          }
          .profile-drop-down {
            position: absolute;
            list-style-type: none;
            background-color: white;

            z-index: 1;
            border-radius: 5px;
            box-shadow: 0 0 3px rgb(184, 183, 183);
            right: -50px;
            width: 150px;
            margin-top: 10px;
            transition: 0.5s;
            visibility: hidden;
            li {
              font-size: 16px;
              padding: 10px;
              padding-top: 7px;
              padding-bottom: 7px;
              border-bottom: 1px solid lightgray;
              text-align: center;
              font-weight: 500;
              transition: 0.3s;
              padding-top: 10px;
              padding-bottom: 10px;
              a {
                color: black;
                text-decoration: none;
                font-size: 16px;
                transition: 0.3s;
              }
              &:hover {
                cursor: pointer;
                color: $primarycolor;
                a {
                  color: $primarycolor;
                }
              }
            }
          }
        }
        .login-signup-container {
          display: flex;
          column-gap: 20px;
          align-items: center;
          .login-container,
          .signup-container {
            p {
              padding: 7px;
              padding-left: 20px;
              padding-right: 20px;
              background-color: $primarycolor;
              color: white;
              transition: 0.4s;
              border-radius: 5px;

              &:hover {
                cursor: pointer;
                background-color: $hovercolor;
              }
            }
            .login-signup-drop-down {
              position: absolute;
              list-style-type: none;
              background-color: white;
              box-shadow: 0 0 2px rgb(145, 142, 142);
              opacity: 0;
              z-index: 1;
              margin-top: 5px;
              border: none;
              border-radius: 5px;
              transition: 0.5s;
              visibility: hidden;
              li {
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                border-bottom: 1px solid lightgray;
                font-weight: 500;
                transition: 0.4s;
                a {
                  text-decoration: none;
                  color: black;
                  transition: 0.4s;
                }
                &:hover {
                  color: $primarycolor;
                  a {
                    color: $primarycolor;
                  }
                }
              }
            }
          }
        }
        //login
        .login-container {
          p {
            padding: 7px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: $primarycolor;
            color: white;
            transition: 0.4s;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
              background-color: $hovercolor;
            }
          }
          .login-signup-drop-down {
            position: absolute;
            list-style-type: none;
            background-color: white;
            box-shadow: 0 0 2px rgb(145, 142, 142);
            opacity: 0;
            z-index: 1;
            margin-top: 5px;
            border: none;
            border-radius: 5px;
            transition: 0.5s;
            visibility: hidden;
            li {
              padding: 10px;
              padding-left: 15px;
              padding-right: 15px;
              border-bottom: 1px solid lightgray;
              font-weight: 500;
              transition: 0.4s;
              a {
                text-decoration: none;
                color: black;
                transition: 0.4s;
              }
              &:hover {
                color: $primarycolor;
                a {
                  color: $primarycolor;
                }
              }
            }
          }
        }
      }
    }
  }
  .mobile-nav-items-container {
    padding-left: 15px;
    padding-right: 15px;

    ::-webkit-scrollbar {
      width: 7px;
      background-color: lightgray;
    }
    ::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 10px;
    }
    .mobile-nav-items {
      background-color: white;
      box-shadow: 0 0 4px lightgray;
      height: 0;
      overflow-y: scroll;
      transition: 0.6s;

      .mobile-nav-items-drop-down {
        list-style-type: none;
        z-index: 9999;
        li {
          .lnk {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            color: rgb(90, 89, 89);
            border-bottom: 1px solid rgb(165, 214, 243);
            span {
              font-size: 20px;
              font-weight: 800;
              color: rgb(103, 114, 148);
            }
            &:hover {
              cursor: pointer;
            }
          }
          a {
            text-decoration: none;
            color: rgb(90, 89, 89);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            border-bottom: 1px solid rgb(165, 214, 243);
          }
          .mobile-nav-items-sub-drop-down {
            list-style-type: none;
            height: 0;
            overflow-y: hidden;

            li {
              color: rgb(90, 89, 89);
              p {
                border-bottom: 1px solid rgb(165, 214, 243);
                padding-left: 40px;
              }
              a {
                text-decoration: none;
                color: rgb(90, 89, 89);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                padding-left: 40px;
                border-bottom: 1px solid rgb(165, 214, 243);

                span {
                  font-size: 20px;
                  font-weight: 800;
                  color: rgb(103, 114, 148);
                }
              }
            }
          }
          #sub-drop-down-2 {
            li {
              p {
                padding-left: 120px;
              }
              a {
                padding-left: 120px;
              }
            }
          }
          #sub-drop-down-3 {
            li {
              a {
                padding-left: 180px;
              }
            }
          }
        }
        .login,
        .signup {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgb(165, 214, 243);

          .lnk {
            border-bottom: 1px solid white;
          }
        }
        #login-opt,
        #signup-opt {
          display: none;
        }
      }
    }
  }
}
