* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.register-container .register {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 200px;
       column-gap: 200px;
  margin-top: 100px;
}
.register-container .register form {
  box-shadow: 0 0 5px lightgray;
  padding: 20px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container .register form .title {
  width: 100%;
  display: flex;
  justify-content: left;
}
.register-container .register form .title p {
  font-size: 28px;
}
.register-container .register form .error {
  width: 100%;
  font-size: 14px;
  color: red;
  text-align: left;
}
.register-container .register form ::-webkit-input-placeholder {
  color: gray;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 500;
}
.register-container .register form input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.register-container .register form .username, .register-container .register form .email, .register-container .register form .password, .register-container .register form .phone {
  padding: 15px;
  width: 100%;
  border: 1px solid lightgray;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.4s;
}
.register-container .register form .username:focus, .register-container .register form .email:focus, .register-container .register form .password:focus, .register-container .register form .phone:focus {
  border-color: #fe5631;
}
.register-container .register form .rememberandlost {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-container .register form .rememberandlost .rememberme input {
  width: 20px;
}
.register-container .register form .rememberandlost .rememberme label {
  font-size: 15.5px;
  color: rgb(92, 90, 90);
  font-weight: 500;
}
.register-container .register form .rememberandlost a {
  font-size: 15.5px;
  color: rgb(92, 90, 90);
  font-weight: 500;
}
.register-container .register form button {
  width: 100%;
  padding: 15px;
  letter-spacing: 1px;
  color: white;
  background-color: #fe5631;
  transition: 0.4s;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container .register form button:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.register-container .register .other-methods-for-register .google-and-otp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.register-container .register .other-methods-for-register .google-and-otp p {
  font-weight: 500;
  color: rgb(94, 92, 92);
  font-size: 17px;
}
.register-container .register .other-methods-for-register .google-and-otp button {
  padding: 15px;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  border: none;
  width: 250px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 2px lightgray;
}
.register-container .register .other-methods-for-register .google-and-otp .via-google {
  background-color: #3F7EE8;
  color: white;
}
.register-container .register .other-methods-for-register .google-and-otp .via-google:hover {
  cursor: pointer;
}
.register-container .register .other-methods-for-register .google-and-otp .via-otp {
  background-color: #1dc295;
  color: white;
  transition: 0.4s;
}
.register-container .register .other-methods-for-register .google-and-otp .via-otp:hover {
  cursor: pointer;
  background-color: #fe5631;
}

@media only screen and (max-width: 1130px) {
  .register-container .register {
    flex-direction: column-reverse;
    row-gap: 50px;
  }
}
@media only screen and (max-width: 670px) {
  .register-container .register form {
    padding: 10px;
  }
}/*# sourceMappingURL=Register.css.map */