* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.facilities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 254, 254);
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 20px;
}
.facilities-container .title {
  font-size: 35px;
  text-align: center;
}
.facilities-container .description {
  font-size: 17px;
  text-align: center;
  color: rgb(110, 109, 109);
  line-height: 1.6;
  width: 800px;
  margin-top: 15px;
}
.facilities-container .facilites {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  margin-top: 20px;
  width: 1400px;
}
.facilities-container .facilites .facility {
  display: flex;
  justify-content: left;
  -moz-column-gap: 50px;
       column-gap: 50px;
  width: 500px;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 3px rgb(229, 226, 226);
  transition: 0.5s;
  position: relative;
  bottom: 0;
}
.facilities-container .facilites .facility .img {
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(247, 247, 247);
}
.facilities-container .facilites .facility .img img {
  width: 35px;
  height: 30px;
}
.facilities-container .facilites .facility .facility-name {
  font-size: 22px;
  letter-spacing: 0.5px;
}
.facilities-container .facilites .facility:hover {
  bottom: 5px;
}

@media only screen and (max-width: 1400px) {
  .facilities-container .facilites {
    width: 1200px;
  }
  .facilities-container .facilites .facility {
    width: 355px;
  }
}
@media only screen and (max-width: 1200px) {
  .facilities-container .facilites {
    width: 1100px;
  }
  .facilities-container .facilites .facility {
    width: 320px;
  }
  .facilities-container .facilites .facility .facility-name {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1100px) {
  .facilities-container .facilites {
    width: 720px;
  }
  .facilities-container .facilites .facility {
    width: 340px;
  }
  .facilities-container .facilites .facility .facility-name {
    font-size: 18px;
  }
}/*# sourceMappingURL=Freeresources.css.map */