$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.invoice-container {
  padding: 20px;
  display: none;
  p {
    font-size: 17px;
  }
  .upper {
    font-size: 17px;
    b {
      color: $primarycolor;
    }
    &:nth-child(2) {
      margin-top: 5px;
    }
  }
  table {
    padding: 10px;
    border-collapse: collapse;

    tr {
      width: 100%;
      border-collapse: collapse;
      th {
        font-size: 16.3px;
        padding: 5px;
        border: 1px solid lightgray;
      }
      td {
        font-size: 16.3px;
        padding: 5px;
        border: 1px solid lightgray;
        text-align: center;
        
      }
    }
    .transaction-data {
      td {
        font-size: 14px;
        font-weight: 500;
        span {
          color: $hovercolor;
          transition: 0.4s;
          &:hover {
            cursor: pointer;
            color: $primarycolor;
          }
        }
      }
    }
    td {
      min-width: 150px;
    }
  }
  img {
    width: 150px;
  }
}
