$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.verify-no-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(67, 67, 67, 0.8);
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
span{
width: 40px;
height: 40px;
background-color: $primarycolor;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
&:hover{
    cursor: pointer;
}
}
  .verify-no-modal {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 3px;

    border: 1px solid lightgray;
    .title {
      font-weight: 500;
      font-size: 20px;
      color: black;
    }
    ::-webkit-input-placeholder{
        opacity: 1;
        transition: .3s;
    }
    input {
      padding: 7px;
      border-radius: 3px;
      border: none;
      outline: none;
      width: 250px;
      font-weight: 500;
      font-family: $primaryfont;
      border: 1px solid lightgray;
      &:focus::-webkit-input-placeholder{
          opacity: 0;
      }
    }
    .otp-verify-btn {
      padding: 7px;
      border-radius: 3px;
      background-color: $hovercolor;
      transition: 0.3s;
      color: white;
      border: none;
      font-weight: 500;
      &:hover {
          cursor: pointer;
        background-color: $primarycolor;
      }
    }
  }
}
