* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.verify-no-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(67, 67, 67, 0.8);
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.verify-no-modal-container span {
  width: 40px;
  height: 40px;
  background-color: #fe5631;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.verify-no-modal-container span:hover {
  cursor: pointer;
}
.verify-no-modal-container .verify-no-modal {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid lightgray;
}
.verify-no-modal-container .verify-no-modal .title {
  font-weight: 500;
  font-size: 20px;
  color: black;
}
.verify-no-modal-container .verify-no-modal ::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.verify-no-modal-container .verify-no-modal input {
  padding: 7px;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 250px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid lightgray;
}
.verify-no-modal-container .verify-no-modal input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.verify-no-modal-container .verify-no-modal .otp-verify-btn {
  padding: 7px;
  border-radius: 3px;
  background-color: #1dc295;
  transition: 0.3s;
  color: white;
  border: none;
  font-weight: 500;
}
.verify-no-modal-container .verify-no-modal .otp-verify-btn:hover {
  cursor: pointer;
  background-color: #fe5631;
}/*# sourceMappingURL=VerifyNoModal.css.map */