* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile-overview-container .profile-overview .profile-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.profile-overview-container .profile-overview .profile-detail .profile-detail-title {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: #fe5631;
  font-weight: 500;
}
.profile-overview-container .profile-overview .profile-detail ::-webkit-scrollbar {
  width: 6px;
  background-color: black;
  border-radius: 10px;
}
.profile-overview-container .profile-overview .profile-detail ::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: lightgray;
  border-radius: 10px;
}
.profile-overview-container .profile-overview .profile-detail .branches-array {
  height: 500px;
  overflow-y: scroll;
}
.profile-overview-container .profile-overview .profile-detail table {
  border-collapse: collapse;
  width: 1400px;
}
.profile-overview-container .profile-overview .profile-detail table .sub-title {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 20px;
  padding-bottom: 20px;
  text-decoration-color: #fe5631;
}
.profile-overview-container .profile-overview .profile-detail table tr {
  display: flex;
  flex-wrap: wrap;
  border-collapse: collapse;
}
.profile-overview-container .profile-overview .profile-detail table tr td {
  padding: 15px;
  border: 1px solid lightgray;
  width: 350px;
  border-collapse: collapse;
  display: flex;
  font-size: 15.5px;
  align-items: center;
}
.profile-overview-container .profile-overview .profile-detail table tr td .profile-detail-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-left: 15px;
}
.profile-overview-container .profile-overview .profile-detail table tr td .profile-detail-list li {
  color: black;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  align-items: center;
}
.profile-overview-container .profile-overview .profile-detail table tr td .profile-detail-list li i {
  padding: 6px;
  border-radius: 50%;
  color: rgb(29, 194, 149);
  background-color: rgb(229, 255, 248);
  transition: 0.4s;
  font-size: 12px;
}
.profile-overview-container .profile-overview .profile-detail table tr #fullwidth {
  width: 100%;
}
.profile-overview-container .profile-overview .profile-detail table tr .title {
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(250, 250, 250);
}

@media only screen and (max-width: 1450px) {
  .profile-overview-container .profile-overview .profile-detail table {
    width: 1200px;
  }
  .profile-overview-container .profile-overview .profile-detail table tr td {
    width: 300px;
  }
}
@media only screen and (max-width: 1220px) {
  .profile-overview-container .profile-overview .profile-detail table {
    width: 1000px;
  }
  .profile-overview-container .profile-overview .profile-detail table tr td {
    width: 500px;
  }
}
@media only screen and (max-width: 1020px) {
  .profile-overview-container .profile-overview .profile-detail table {
    width: 800px;
  }
  .profile-overview-container .profile-overview .profile-detail table tr td {
    width: 400px;
  }
}
@media only screen and (max-width: 820px) {
  .profile-overview-container .profile-overview .profile-detail table {
    width: 600px;
  }
  .profile-overview-container .profile-overview .profile-detail table tr td {
    width: 300px;
  }
}
@media only screen and (max-width: 620px) {
  .profile-overview-container .profile-overview .profile-detail table {
    width: 100%;
  }
  .profile-overview-container .profile-overview .profile-detail table .sub-title {
    text-align: center;
  }
  .profile-overview-container .profile-overview .profile-detail table tr td {
    width: 100%;
  }
  .profile-overview-container .profile-overview .profile-detail table tr td .profile-detail-list {
    display: block;
  }
}/*# sourceMappingURL=ProfileOverview.css.map */