$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.profile-overview-container {
  .profile-overview {
    .profile-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .profile-detail-title {
        text-align: center;
        font-size: 18px;
        text-decoration: underline;
        text-decoration-color: $primarycolor;
        font-weight: 500;
      }

      ::-webkit-scrollbar{
        width: 6px;
        background-color: black;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb{
        width: 6px;
        background-color: lightgray;
        border-radius: 10px;
      }
      .branches-array{
        height: 500px;
        overflow-y: scroll;
      }
      table {
        border-collapse: collapse;
        width: 1400px;
        .sub-title {
          font-size: 16px;
          font-weight: 500;
          text-decoration: underline;
          margin-top: 20px;
          padding-bottom: 20px;
          text-decoration-color: $primarycolor;
        }
        tr {
          display: flex;
          flex-wrap: wrap;
          border-collapse: collapse;
          td {
            padding: 15px;
            border: 1px solid lightgray;
            width: 350px;
            border-collapse: collapse;
            display: flex;
            font-size: 15.5px;
            align-items: center;
            .profile-detail-list {
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              column-gap: 30px;
              padding-left: 15px;
              li {
                color: black;
                display: flex;
                column-gap: 4px;
                align-items: center;
                i {
                  padding: 6px;
                  border-radius: 50%;
                  color: rgb(29, 194, 149);
                  background-color: rgb(229, 255, 248);
                  transition: 0.4s;
                  font-size: 12px;
                }
              }
            }
          }
          #fullwidth {
            width: 100%;
          }
          .title {
            font-weight: 500;
            font-size: 16px;
            background-color: rgb(250, 250, 250);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
 
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        table{
          width: 1200px;
          tr{
            td{
              width: 300px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
 
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        table{
          width: 1000px;
          tr{
            td{
              width: 500px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
 
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        table{
          width: 800px;
          tr{
            td{
              width: 400px;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 820px) {
 
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        table{
          width: 600px;
          tr{
            td{
              width: 300px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
 
  .profile-overview-container {
    .profile-overview {
      .profile-detail {
        table{
          width: 100%;
          .sub-title{
            text-align: center;
          }
          tr{
            td{
              width: 100%;
              .profile-detail-list {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}


