$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.project-images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p,
  h1 {
    margin: 0;
  }
  margin-top: 50px;
  padding: 20px;
  background: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Home/ExploreOurCreativeCollectionofProjectImages/coverImage.jpg");
  .title {
    font-size: 40px;
    text-align: center;
    color: white;
  }
  .description {
    font-size: 16px;
    text-align: center;
    color: white;
  }
  .project-images-carousel {
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow-x: hidden;
    width: 1400px;
    .arrows {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      i {
        color: $primarycolor;
        background-color: white;
        box-shadow: 0 0 5px rgb(91, 90, 90);
        padding: 14px;
        border-radius: 50%;

        transition: 0.3s;
        &:hover {
          cursor: pointer;
          color: white;
          background-color: $primarycolor;
        }
      }
    }
    .images-carousel {
      display: flex;
      column-gap: 25px;
      row-gap: 50px;

      height: 320px;
      transition: 0.5s;
      .project-img {
        width: 450px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 4px solid white;
        border-radius: 5px;
        img {
          min-width: 100%;
          min-height: 100%;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          border-radius: 3px;
        }
        .project-img-name {
          font-weight: 500;
          font-size: 20px;
          background-color: white;
          color: black;
          padding: 5px;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 3px;
          position: absolute;
          bottom: 0;
          transform: translateY(50%);
          transition: 0.3s;
          &:hover {
            background-color: $primarycolor;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1430px) {
  .project-images-container {
    .project-images-carousel {
      width: 1200px;
      .images-carousel {
        .project-img {
          width: 383px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1230px) {
  .project-images-container {
    .project-images-carousel {
      width: 1000px;
      .images-carousel {
        .project-img {
          width: 317px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1030px) {
  .project-images-container {
    .project-images-carousel {
      width: 800px;
      .images-carousel {
        .project-img {
          width: 387px;
        }
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  
  .project-images-container {
    .project-images-carousel {
      width: 600px;
      .images-carousel {
        .project-img {
          width: 600px;
        }
      }
    }
  }
}


