* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Projects-container .properties-featured-properties-container p {
  margin: 0;
}
.Projects-container .properties-featured-properties-container .titleanddesc {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Projects-container .properties-featured-properties-container .titleanddesc .title {
  font-size: 35px;
}
.Projects-container .properties-featured-properties-container .titleanddesc .desc {
  font-size: 17px;
  color: rgb(90, 90, 90);
  width: 800px;
  text-align: center;
}
.Projects-container .properties-featured-properties-container .featured-properties-property {
  border-radius: 5px;
  border: 1px solid lightgray;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .upper {
  position: relative;
  padding: 10px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .upper .prime-project-container {
  width: 20%;
  height: 20%;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .upper .prime-project-container .prime-project-logo {
  position: absolute;
  right: 5%;
  top: 15px;
  width: 120px;
  height: 65px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .upper .tag {
  background-color: #1dc295;
  border-radius: 5px;
  font-weight: 500;
  width: 120px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.7px;
  color: white;
  padding: 5px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.5s;
  z-index: 1;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .upper #interior-tag {
  background-color: #0000ff;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .upper #construction-tag {
  width: 150px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .upper .price {
  font-weight: 500;
  width: 120px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fe5631;
  letter-spacing: 0.5px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  box-shadow: 0 0 2px rgb(209, 207, 207);
  transition: 0.5s;
  border: none;
  border-radius: 5px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .upper img {
  width: 400px;
  border-radius: 10px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 400px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle .address {
  color: #fe5631;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle .address .left-side {
  color: black;
  font-size: 16.5px;
  font-weight: bold;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle .address .right-side {
  color: rgb(87, 87, 87);
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle .property-title {
  font-size: 22px;
  font-weight: bolder;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle .apartmentandsize {
  font-weight: 500;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle .other-detailss-container {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-wrap: wrap;
  width: 400px;
  align-items: center;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle .other-detailss-container p {
  color: rgb(107, 106, 106);
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  width: 110px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .middle .other-detailss-container .border {
  width: 1px;
  height: 40px;
  background-color: darkgray;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .bottom .rating {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .bottom .rating .stars {
  color: rgb(248, 180, 42);
}
.Projects-container .properties-featured-properties-container .featured-properties-property .bottom .rating .stars span {
  font-size: 22px;
}
.Projects-container .properties-featured-properties-container .featured-properties-property .bottom .rating .rating-name {
  font-size: 17px;
  color: rgb(107, 105, 105);
  position: relative;
  bottom: 2px;
  font-weight: 500;
}
.Projects-container .properties-featured-properties-container .featured-properties-property:hover .tag,
.Projects-container .properties-featured-properties-container .featured-properties-property:hover #interior-tag {
  background-color: #fe5631;
}
.Projects-container .properties-featured-properties-container .featured-properties-property:hover .price {
  background-color: #fe5631;
  color: white;
}
.Projects-container .properties-featured-properties-container .Featured-properties-container {
  overflow-y: hidden;
}
.Projects-container .properties-featured-properties-container .Featured-properties-container .Featured-properties {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  transition: 1s;
  margin-top: 20px;
}

@media only screen and (max-width: 1345px) {
  .Projects-container .properties-featured-properties-container .Featured-properties-container .Featured-properties .featured-properties-property .upper img {
    width: 350px;
  }
  .Projects-container .properties-featured-properties-container .Featured-properties-container .Featured-properties .featured-properties-property .middle {
    width: 350px;
  }
  .Projects-container .properties-featured-properties-container .Featured-properties-container .Featured-properties .featured-properties-property .middle .other-detailss-container {
    width: 350px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media only screen and (max-width: 1200px) {
  .Projects-container .featured-properties-property {
    height: auto;
  }
  .Projects-container .featured-properties-property .upper img {
    width: 400px;
  }
  .Projects-container .featured-properties-property .middle {
    width: 400px;
  }
  .Projects-container .featured-properties-property .middle .other-detailss-container {
    width: 400px;
  }
}
@media only screen and (max-width: 900px) {
  .Projects-container .featured-properties-property {
    height: auto;
  }
  .Projects-container .featured-properties-property .upper img {
    width: 320px;
  }
  .Projects-container .featured-properties-property .middle {
    width: 320px;
  }
  .Projects-container .featured-properties-property .middle .other-detailss-container {
    row-gap: 10px;
    width: 320px;
  }
  .Projects-container .featured-properties-property .bottom {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    row-gap: 10px;
  }
  .Projects-container .properties-featured-properties-container .titleanddesc .desc {
    width: 500px;
  }
}
@media only screen and (max-width: 750px) {
  .Projects-container .featured-properties-property {
    height: auto;
  }
  .Projects-container .featured-properties-property .upper img {
    width: 80%;
  }
  .Projects-container .featured-properties-property .middle {
    width: 450px;
  }
  .Projects-container .featured-properties-property .middle .other-detailss-container {
    width: 450px;
  }
  .Projects-container .featured-properties-property .bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=Projects.css.map */