* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile-img-and-company-logo-container {
  width: 1300px;
  position: relative;
}
.profile-img-and-company-logo-container .profile-img-and-company-logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 25px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  transform: translateY(-30%);
}
.profile-img-and-company-logo-container .profile-img-and-company-logo .sp-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0;
  transform: translateY(10%);
}
.profile-img-and-company-logo-container .profile-img-and-company-logo .sp-details .company-name {
  text-align: left;
  width: 100%;
  margin: 0;
}
.profile-img-and-company-logo-container .profile-img-and-company-logo .sp-details .architect-name-and-profession {
  display: flex;
  width: 100%;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.profile-img-and-company-logo-container .profile-img-and-company-logo .sp-details .architect-name-and-profession .border {
  height: 20px;
  width: 0.5px;
  border: 0.5px solid lightgray;
}
.profile-img-and-company-logo-container .profile-img-and-company-logo .sp-details .architect-name-and-profession p {
  font-weight: 500;
  color: rgb(102, 101, 101);
}
.profile-img-and-company-logo-container .profile-img-and-company-logo .sp-details p {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
}

@media only screen and (max-width: 1400px) {
  .profile-img-and-company-logo-container {
    width: 1000px;
  }
}
@media only screen and (max-width: 1050px) {
  .profile-img-and-company-logo-container {
    width: 800px;
  }
  .profile-img-and-company-logo-container .profile-img-and-company-logo {
    align-items: center;
  }
}
@media only screen and (max-width: 850px) {
  .profile-img-and-company-logo-container {
    width: 90%;
  }
  .profile-img-and-company-logo-container .profile-img-and-company-logo {
    align-items: center;
  }
}/*# sourceMappingURL=SP_ProfileImgandCompanyLogo.css.map */