* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sp-forgot-password-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.sp-forgot-password-container .header .title {
  font-size: 25px;
  text-align: center;
}
.sp-forgot-password-container .sp-forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.sp-forgot-password-container .sp-forgot-password label {
  font-size: 16.5px;
  font-weight: 500;
  text-align: left;
  width: 300px;
}
.sp-forgot-password-container .sp-forgot-password ::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sp-forgot-password-container .sp-forgot-password input {
  padding: 10px;
  outline: none;
  width: 300px;
  border: none;
  background-color: rgb(217, 215, 215);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 500;
  border-radius: 3px;
}
.sp-forgot-password-container .sp-forgot-password input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.sp-forgot-password-container .sp-forgot-password .reset-link-btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 300px;
  padding: 10px;
  font-weight: 500;
  background-color: #fe5631;
  color: white;
  border: none;
  border-radius: 3px;
  transition: 0.3s;
}
.sp-forgot-password-container .sp-forgot-password .reset-link-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}/*# sourceMappingURL=PO_ForgotPassword.css.map */