$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.sp-forgot-password-container {
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .title {
      font-size: 25px;
      text-align: center;
    }
  }

  .sp-forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
      width: 100%;
      margin-top: 100px;

    label {
      font-size: 16.5px;
      font-weight: 500;
      text-align: left;
      width: 300px;

    }
    ::-webkit-input-placeholder{
        opacity: 1;
        transition: .3s;
    }

    input{
        padding: 10px;
        outline: none;
        width: 300px;
        border: none;
        background-color: rgb(217, 215, 215);
        font-family: $primaryfont;
        letter-spacing: .5px;
        font-weight: 500;
        border-radius: 3px;
        &:focus::-webkit-input-placeholder{
            opacity: 0;
        }
    }
    .reset-link-btn{
        font-family: $primaryfont;
        width: 300px;
        padding: 10px;
        font-weight: 500;
        background-color: $primarycolor;
        color: white;
        border: none;
        border-radius: 3px;
        transition: .3s;
        &:hover{
            cursor: pointer;
            background-color: $hovercolor;
        }
    }
  }
}
