$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.declaration-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .declaration {
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: left;
    p {
      margin: 0;
      font-size: 15px;
      font-variant: normal;
      b {
        font-size: 16px;
        font-variant: small-caps;
      }
    }
    .checkbox-container {
      display: flex;
      align-items: center;
      column-gap: 10px;
      label{
        font-size: 15px;
      }
    }
  }
}
