* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.project-overview-and-edit-container {
  position: relative;
  margin-top: 20px;
}
.project-overview-and-edit-container .edit-and-delete-project-btns {
  display: flex;
  justify-content: right;
  padding-right: 10px;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 20px;
}
.project-overview-and-edit-container .edit-and-delete-project-btns button {
  padding: 7px;
  border-radius: 3px;
  color: white;
  background-color: #1dc295;
  border: none;
  outline: none;
  width: 120px;
  font-weight: 500;
  transition: 0.3s;
}
.project-overview-and-edit-container .edit-and-delete-project-btns button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.project-overview-and-edit-container .edit-and-delete-project-btns .delete-btn {
  background-color: rgb(224, 7, 7);
}

@media only screen and (max-width: 650px) {
  .project-overview-and-edit-container .edit-and-delete-project-btns {
    justify-content: center;
  }
}/*# sourceMappingURL=EditPreviouslyUploadedProjectDetailedPage.css.map */