$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}
.project-overview-and-edit-container {
    position: relative;
    margin-top: 20px;
  .edit-and-delete-project-btns {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    align-items: center;
  column-gap: 10px;
    margin-bottom: 20px;
    button {
      padding: 7px;
      border-radius: 3px;
      color: white;
      background-color: $hovercolor;
      border: none;
      outline: none;
      width: 120px;
      font-weight: 500;
      transition: .3s;
      &:hover{
          cursor: pointer;
          opacity: 0.7;
      }
    }
    .delete-btn {
      background-color: rgb(224, 7, 7);
    }
  }
}

@media only screen and (max-width:650px) {
    .project-overview-and-edit-container{
        .edit-and-delete-project-btns{
            justify-content: center;
            
        }
    }
}