* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navigation-numbers-container p {
  margin: 0;
}
.navigation-numbers-container .navigations-container .navigations {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.navigation-numbers-container .navigations-container .navigations i,
.navigation-numbers-container .navigations-container .navigations p {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgb(230, 230, 230);
  color: black;
  border-radius: 50%;
  font-weight: 600;
  transition: all 0.4s;
  padding-left: 22px;
  padding-right: 22px;
}
.navigation-numbers-container .navigations-container .navigations i:hover,
.navigation-numbers-container .navigations-container .navigations p:hover {
  color: white;
  cursor: pointer;
  background-color: #fe5631;
}
.navigation-numbers-container .navigations-container .navigations p {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation-numbers-container .navigations-container .navigations i {
  padding: 17px;
  padding-left: 20px;
  padding-right: 20px;
}
.navigation-numbers-container .navigations-container .navigations .all-numbers {
  width: 250px;
  overflow-x: hidden;
}
.navigation-numbers-container .navigations-container .navigations .all-numbers .numbers-container {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
}
.navigation-numbers-container .navigations-container .navigations .all-numbers .numbers-container .first {
  color: white;
  background-color: #fe5631;
}/*# sourceMappingURL=NavigationNumbers.css.map */