$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.navigation-numbers-container {
  p {
    margin: 0;
  }
  .navigations-container {
    .navigations {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;

      i,
      p {
        padding: 15px;
        background-color: white;
        box-shadow: 0 0 10px rgb(230, 230, 230);
        color: black;
        border-radius: 50%;
        font-weight: 600;
        transition: all 0.4s;
        padding-left: 22px;
        padding-right: 22px;
        &:hover {
          color: white;
          cursor: pointer;
          background-color: $primarycolor;
        }
      }
      p {
        width: 50px;
        height: 50px;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      i {
        padding: 17px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .all-numbers {
        width: 250px;
        overflow-x: hidden;

        .numbers-container {
          display: flex;
          column-gap: 14px;
          padding: 5px;
          transition: 0.5s;
          align-items: center;
          .first {
            color: white;
            background-color: $primarycolor;
          }
        }
      }
    }
  }
}
