* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.uploaded-project-modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(132, 132, 132, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
}
.uploaded-project-modal-container #close-modal {
  padding: 5px;
  border-radius: 50%;
  background-color: white;
  color: black;
}
.uploaded-project-modal-container #close-modal:hover {
  cursor: pointer;
}
.uploaded-project-modal-container .uploaded-project-modal {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 100px rgb(124, 124, 124);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  transition: 0.3s;
}
.uploaded-project-modal-container .uploaded-project-modal .project-details-heading {
  width: 100%;
}
.uploaded-project-modal-container .uploaded-project-modal .project-details-heading .heading {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  font-variant: small-caps;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding: 0;
  margin: 0;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.3s;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .images-container {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .images-container .images {
  width: 98%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(183, 182, 182);
  overflow: hidden;
  display: flex;
  background-color: black;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .images-container .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details ::-webkit-scrollbar {
  width: 5px;
  background-color: lightgray;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: black;
  border-radius: 10px;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details {
  width: 32%;
  height: 90%;
  border-radius: 4px;
  box-shadow: 0 0 50px lightgray;
  position: relative;
  overflow-y: scroll;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details label {
  width: 90%;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details input,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details textarea {
  width: 90%;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid lightgray;
  outline: none;
  transition: 0.3s;
  margin-top: 5px;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details input:hover,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details textarea:hover {
  border-color: #fe5631;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details input:focus,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details textarea:focus {
  border-color: #fe5631;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details textarea {
  height: 100px;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .detail-select-list-container {
  position: relative;
  width: 90%;
  list-style: none;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .detail-select-list-container .selected-heading {
  border: 1px solid lightgray;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .detail-select-list-container .selected-heading .heading {
  padding: 0;
  margin: 0;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .detail-select-list-container .detail-select-list {
  list-style: none;
  position: absolute;
  width: 100%;
  border: 1px solid lightgray;
  transform: scale(0);
  transition: 0.3s;
  z-index: 1;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .detail-select-list-container .detail-select-list li {
  padding: 5px;
  border-top: 1px solid lightgray;
  transition: 0.3s;
  background-color: rgb(226, 225, 225);
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .detail-select-list-container .detail-select-list li:hover {
  color: white;
  background-color: #fe5631;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .detail-select-list-container li {
  text-align: center;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .detail-select-list-container:hover {
  cursor: pointer;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .residential-lists,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .commercial-lists {
  width: 90%;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .residential-lists .detail-select-list-container,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .uploaded-project-details .project-details .commercial-lists .detail-select-list-container {
  width: 100%;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns .next-btn,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns .back-btn,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns .submit-btn {
  text-align: center;
  padding: 8px;
  background-color: #1dc295;
  color: white;
  border-radius: 3px;
  font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 11px;
  padding-right: 11px;
  bottom: 0px;
  transition: 0.3s;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns .next-btn:hover,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns .back-btn:hover,
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns .submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns #next-btn {
  right: 10px;
}
.uploaded-project-modal-container .uploaded-project-modal .images-and-details-container .imganddetail .images-and-details .forward-backwards-btns #back-btn {
  left: 10px;
  background-color: #fe5631;
}/*# sourceMappingURL=UploadedProjectModal.css.map */