* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sp-analytics-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sp-analytics-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.sp-analytics-container .header .title {
  font-size: 35px;
  text-align: center;
}
.sp-analytics-container .header .description {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  width: 700px;
}
.sp-analytics-container .sp-analytics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1150px;
}
.sp-analytics-container .sp-analytics .analytics-container {
  box-shadow: 0 0 10px rgb(222, 221, 221);
  padding: 20px;
  width: 100%;
}
.sp-analytics-container .sp-analytics .analytics-container .analytics-table-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sp-analytics-container .sp-analytics .analytics-container .analytics-table-title p {
  font-size: 21px;
  font-weight: 500;
  font-variant: small-caps;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fe5631;
  color: white;
  border-radius: 3px;
  border-radius: 2px;
}

@media only screen and (max-width: 1200px) {
  .sp-analytics-container .sp-analytics {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: flex-start;
  }
  .sp-analytics-container .sp-analytics .analytics-container {
    width: 1100px;
  }
}
@media only screen and (max-width: 500px) {
  .sp-analytics-container .sp-analytics {
    align-items: center;
  }
  .sp-analytics-container .sp-analytics .analytics-container {
    width: 400px;
  }
}/*# sourceMappingURL=SP_Analytics.css.map */