$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
  width: 100%;
}

.refund-page-container {
  .title,
  .sub-title {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
  }
  .container {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    .sub-title {
      font-size: 25px;
      text-align: left;
    }
    .list {
      padding-left: 50px;
      .header {
        font-size: 17px;
        .sub-list {
          margin-left: 30px;
          .sub-list-2 {
            margin-left: 30px;
            list-style: disc;
          }
        }
      }
    }
  }
}
