* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile-page-container,
.transactions-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-page-container p,
.transactions-container p {
  margin: 0;
}
.profile-page-container .profile-tabs-container,
.transactions-container .profile-tabs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-page-container .profile-tabs-container p,
.transactions-container .profile-tabs-container p {
  font-size: 16px;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: black;
  transition: 0.3s;
  background-color: rgb(233, 232, 232);
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.profile-page-container .profile-tabs-container p:hover,
.transactions-container .profile-tabs-container p:hover {
  cursor: pointer;
  color: rgb(119, 118, 118);
}
.profile-page-container .profile-tabs-container .overview,
.transactions-container .profile-tabs-container .overview {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  background-color: #1dc295;
}
.profile-page-container .profile-tabs-container .overview,
.profile-page-container .profile-tabs-container .upload,
.profile-page-container .profile-tabs-container .transaction,
.transactions-container .profile-tabs-container .overview,
.transactions-container .profile-tabs-container .upload,
.transactions-container .profile-tabs-container .transaction {
  border-right: 2px solid white;
}
.profile-page-container .profile-tabs-container .analytics,
.transactions-container .profile-tabs-container .analytics {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 2px;
}

.transactions-container .profile-tabs-container .transaction {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  background-color: #1dc295;
}

@media only screen and (max-width: 500px) {
  .profile-page-container ::-webkit-scrollbar {
    visibility: hidden;
  }
  .profile-page-container ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }
  .profile-page-container .profile-tabs-container {
    width: 98%;
    justify-content: left;
    flex-wrap: unset;
    overflow-x: scroll;
    align-items: center;
  }
  .profile-page-container .profile-tabs-container p {
    font-size: 14.5px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .profile-page-container #transaction-tabs {
    justify-content: center;
  }
}/*# sourceMappingURL=ProfilePage.css.map */