* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Testimonials-container p {
  margin: 0;
  padding: 0;
}
.Testimonials-container .arrows {
  width: 1340px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.Testimonials-container .arrows i {
  padding: 13px;
  font-size: 14px;
  color: #fe5631;
  box-shadow: 0 0 1px rgb(180, 177, 177);
  border-radius: 50%;
  position: relative;
  pointer-events: auto;
  background-color: white;
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}
.Testimonials-container .arrows i:hover {
  cursor: pointer;
  color: white;
  background-color: #fe5631;
}
.Testimonials-container .arrows #left {
  right: 0;
}
.Testimonials-container .arrows #right {
  left: 0;
}
.Testimonials-container ::-webkit-scrollbar {
  width: 10px;
  background-color: red;
}
.Testimonials-container .alltestimonials {
  width: 90%;
  overflow-x: hidden;
  overflow: hidden;
}
.Testimonials-container .alltestimonials .Testimonials {
  display: flex;
  transition: 0.4s;
  width: 100%;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial {
  background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Testimonials/coverImage.jpg");
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 50px;
  min-width: 100%;
  max-height: 1000px;
  border-radius: 10px;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside {
  opacity: 1;
  transition: all 1.5s;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside i {
  font-size: 40px;
  color: white;
  transition: 0.5s;
  position: relative;
  transition: 0.5s;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside ::-webkit-scrollbar {
  visibility: visible;
  width: 8px;
  background-color: white;
  border-radius: 20px;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside ::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: rgb(56, 56, 56);
  border-radius: 20px;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside .review {
  margin-top: 20px;
  font-size: 500;
  font-size: 20px;
  color: white;
  transition: 0.5s;
  position: relative;
  font-style: italic;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  text-align: left;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside .author {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
  transition: 0.5s;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside .author .author-name {
  font-size: 16px;
  color: white;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside .author .rating {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin-top: 10px;
}
.Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside .author .rating i {
  font-size: 14px;
  color: rgb(248, 180, 42);
}
.Testimonials-container:hover .arrows i {
  opacity: 1;
}
.Testimonials-container:hover .arrows #left {
  right: 20px;
}
.Testimonials-container:hover .arrows #right {
  left: 20px;
}

@media only screen and (max-width: 1410px) {
  .Testimonials-container .arrows {
    width: 1200px;
  }
  .Testimonials-container .alltestimonials {
    width: 1200px;
  }
  .Testimonials-container .alltestimonials .Testimonials .Testimonial {
    min-width: 1200px;
  }
}
@media only screen and (max-width: 1275px) {
  .Testimonials-container .arrows {
    width: 1000px;
  }
  .Testimonials-container .alltestimonials {
    width: 1000px;
  }
  .Testimonials-container .alltestimonials .Testimonials .Testimonial {
    min-width: 1000px;
  }
  .Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside .review {
    font-size: 23px;
  }
  .Testimonials-container .alltestimonials .Testimonials .Testimonial .rightside img {
    width: 350px;
    height: 330px;
  }
}
@media only screen and (max-width: 1070px) {
  .Testimonials-container .arrows {
    width: 800px;
    top: 200px;
  }
  .Testimonials-container .alltestimonials {
    width: 800px;
  }
  .Testimonials-container .alltestimonials .Testimonials .Testimonial {
    min-width: 800px;
  }
  .Testimonials-container .alltestimonials .Testimonials .Testimonial .leftside .review {
    font-size: 20px;
    line-height: 1.5;
  }
  .Testimonials-container .alltestimonials .Testimonials .Testimonial .rightside img {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 890px) {
  .Testimonials-container .alltestimonials .Testimonials .Testimonial {
    padding: 30px;
    min-width: 800px;
    row-gap: 20px;
  }
}/*# sourceMappingURL=Testimonials.css.map */