$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.Testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  p {
    margin: 0;
    padding: 0;
  }

  .arrows {
    width: 1340px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    i {
      padding: 13px;
      font-size: 14px;
      color: $primarycolor;
      box-shadow: 0 0 1px rgb(180, 177, 177);
      border-radius: 50%;
      position: relative;
      pointer-events: auto;
      background-color: white;
      transition: 0.5s;
      opacity: 0;
      z-index: 1;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: $primarycolor;
      }
    }

    #left {
      right: 0;
    }

    #right {
      left: 0;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: red;
  }
  .alltestimonials {
    width: 90%;
    overflow-x: hidden;
    overflow: hidden;

    .Testimonials {
      display: flex;

      transition: 0.4s;
      width: 100%;
    
      .Testimonial {
        background-image: url("https://nebourhood-website-logo-images.s3.ap-south-1.amazonaws.com/Testimonials/coverImage.jpg");
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        padding: 50px;
        min-width: 100%;
        max-height: 1000px;
        // overflow-y: scroll;
        border-radius: 10px;

       
      
        .leftside {
          i {
            font-size: 40px;
            color: white;
            transition: 0.5s;
            position: relative;
            transition: 0.5s;
          }

          ::-webkit-scrollbar {
            visibility: visible;
            width: 8px;
            background-color: white;
            border-radius: 20px;
          }
          ::-webkit-scrollbar-thumb{
            visibility: visible;
            background-color: rgb(56, 56, 56);
            border-radius: 20px;
          }
          

          .review {
            margin-top: 20px;
            font-size: 500;
            font-size: 20px;
            color: white;
            transition: 0.5s;
            position: relative;
            font-style: italic;
            height: 300px;
            overflow-y: scroll;
            padding: 10px;
            text-align: left;
          }

          .author {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            position: relative;
            transition: 0.5s;

            .author-name {
              font-size: 16px;
              color: white;

            }

            .rating {
              display: flex;
              column-gap: 6px;
              margin-top: 10px;

              i {
                font-size: 14px;
                color: rgb(248, 180, 42);
              }
            }
          }

          opacity: 1;
          transition: all 1.5s;
        }
      }
    }
  }

  &:hover {
    .arrows {
      i {
        opacity: 1;
      }

      #left {
        right: 20px;
      }

      #right {
        left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1410px) {
  .Testimonials-container {
    .arrows {
      width: 1200px;
    }

    .alltestimonials {
      width: 1200px;

      .Testimonials {
        .Testimonial {
          min-width: 1200px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1275px) {
  .Testimonials-container {
    .arrows {
      width: 1000px;
    }

    .alltestimonials {
      width: 1000px;

      .Testimonials {
        .Testimonial {
          min-width: 1000px;

          .leftside {
            .review {
              font-size: 23px;
            }
          }

          .rightside {
            img {
              width: 350px;
              height: 330px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1070px) {
  .Testimonials-container {
    .arrows {
      width: 800px;
      top: 200px;
    }

    .alltestimonials {
      width: 800px;

      .Testimonials {
        .Testimonial {
          min-width: 800px;

          .leftside {
            .review {
              font-size: 20px;
              line-height: 1.5;
            }
          }

          .rightside {
            img {
              width: 300px;
              height: 300px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 890px) {
  .Testimonials-container {
    .alltestimonials {
      .Testimonials {
        .Testimonial {
          padding: 30px;
          min-width: 800px;

          row-gap: 20px;
        }
      }
    }
  }
}