* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
}
body ::-webkit-scrollbar {
  visibility: visible;
}
body ::-webkit-scrollbar-thumb {
  visibility: visible;
}

.small-carousel-container {
  width: 400px;
  height: 350px;
  overflow-x: hidden;
  border-radius: 10px;
  position: relative;
}
.small-carousel-container .images-container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.5s;
}
.small-carousel-container .images-container img {
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}
.small-carousel-container .dots {
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: left;
  margin-bottom: 45px;
}
.small-carousel-container .dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgb(81, 80, 80);
  background-color: transparent;
  transition: 0.4s;
}
.small-carousel-container .dots div:nth-child(1) {
  background-color: #1dc295;
}
.small-carousel-container .dots div:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1345px) {
  .small-carousel-container {
    width: 350px;
  }
}
@media only screen and (max-width: 1200px) {
  .small-carousel-container {
    width: 400px;
  }
}
@media only screen and (max-width: 900px) {
  .small-carousel-container {
    width: 320px;
  }
}
@media only screen and (max-width: 380px) {
  .small-carousel-container {
    width: 450px;
    height: 100%;
  }
}/*# sourceMappingURL=SmallCarousel.css.map */