$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.cart-page-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .heading {
    text-align: center;
  }
  .cart-page-table-containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .proceedtocheckoutbtn {
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    background-color: $hovercolor;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .emptycart {
    width: 300px;
  }
}

@media only screen and (max-width : 500px) {
  .cart-page-container{
    .emptycart{
      width: 95%;
    }
  }
}