* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subscribe-button {
  margin-top: 15px;
  height: 2.5em;
  width: 15em;
  font-size: 1.3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}

.add-properties-button {
  height: 2.5em;
  width: auto;
  font-size: 1.3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  background-color: #fe5631;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
}


.div-total-header{
  text-align: center;
}
.div-total-header-ptag{
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 15px;
  margin-top: 10px;
}
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.6em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.7em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}

@media only screen and (min-width: 1901px) and (max-width: 2001px) {
.div-total-header-ptag{
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 15px;
  margin-top: 10px;
}
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.6em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.7em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 1801px) and (max-width: 1901px) {
.div-total-header-ptag{
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 15px;
  margin-top: 10px;
}
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.6em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.7em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 1701px) and (max-width: 1801px) {
.div-total-header-ptag{
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 15px;
  margin-top: 10px;
}
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.4em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

.my-stats-div-notetag {
  width: 60%;
  text-align: start;
  margin-top: 20px;
}
.ptag-note{
  font-size: 1.2em;
  font-weight: 600;
}
.pleasenote-list{
  float: left;
}

@media only screen and (min-width: 1601px) and (max-width: 1701px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.7em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 1501px) and (max-width: 1601px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.6em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 1401px) and (max-width: 1501px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 1301px) and (max-width: 1401px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 1201px) and (max-width: 1301px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 1101px) and (max-width: 1201px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 1001px) and (max-width: 1101px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 901px) and (max-width: 1001px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 801px) and (max-width: 901px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 10px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 801px) and (max-width: 901px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 10px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 701px) and (max-width: 801px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 10px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 601px) and (max-width: 701px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 10px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 501px) and (max-width: 601px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.1em;
    font-weight: 600;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 8px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 401px) and (max-width: 501px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.1em;
    font-weight: 600;
    padding: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 6px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 300px) and (max-width: 401px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1.1em;
    font-weight: 600;
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 4px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

@media only screen and (min-width: 200px) and (max-width: 301px) {
  .div-total-header-ptag{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 15px;
    margin-top: 10px;
  }
.div-table-container1{
   overflow-x: auto;
   width: 100%;
   text-align: center;
}
.table-alignment {
   border-collapse: collapse;
   table, th, td {
    border: 1px solid lightgray;
    font-size: 1em;
    font-weight: 600;
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  td {
    font-weight: 400;
    padding: 4px;
  }
}
.subscribe-button {
  margin-top: 20px;
  height: 2.5em;
  width: 15em;
  font-size: 1.1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
}
}

.notification-header {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
}

.cart-page-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-page-container .heading {
  text-align: center;
}
.cart-page-container .cart-page-table-containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-page-container .proceedtocheckoutbtn {
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #1dc295;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
}
.cart-page-container .emptycart {
  width: 300px;
}

@media only screen and (max-width: 500px) {
  .cart-page-container .emptycart {
    width: 95%;
  }
}/*# sourceMappingURL=CartPage.css.map */