* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.project-details-container p {
  margin: 0;
}
.project-details-container .project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.project-details-container .project-details .arrows {
  display: flex;
  justify-content: space-between;
  width: 1380px;
  transition: 0.6s;
  opacity: 0;
  position: relative;
  z-index: 1;
  top: 200px;
}
.project-details-container .project-details .arrows i {
  color: #fe5631;
  transition: 0.5s;
  background-color: white;
  padding: 13px;
  border-radius: 50%;
  box-shadow: 0 0 3px lightgray;
  position: relative;
}
.project-details-container .project-details .arrows i:hover {
  color: white;
  background-color: #fe5631;
  cursor: pointer;
}
.project-details-container .project-details .arrows #left {
  right: 0;
}
.project-details-container .project-details .arrows #right {
  left: 0;
}
.project-details-container .project-details .project-details-gallery-container {
  width: 1386px;
  overflow: hidden;
}
.project-details-container .project-details .project-details-gallery-container .gallery {
  max-height: 500px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  transition: 0.6s;
}
.project-details-container .project-details .project-details-gallery-container .gallery img {
  width: 683px;
  height: 423px;
  border-radius: 5px;
}
.project-details-container .project-details .Details {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.project-details-container .project-details .Details .property {
  width: 900px;
}
.project-details-container .project-details .Details .property h2 {
  font-size: 25px;
}
.project-details-container .project-details .Details .property .about {
  border-radius: 10px;
  border: 1px solid lightgrey;
  line-height: 2;
  padding: 20px;
}
.project-details-container .project-details .Details .property .about .tagsandprice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
}
.project-details-container .project-details .Details .property .about .tagsandprice .tags {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.project-details-container .project-details .Details .property .about .tagsandprice .tags p {
  border-radius: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-size: 15.5px;
  letter-spacing: 0.2px;
}
.project-details-container .project-details .Details .property .about .tagsandprice .tags .featured {
  background-color: #1dc295;
}
.project-details-container .project-details .Details .property .about .tagsandprice .tags .rent {
  background-color: #fe5631;
}
.project-details-container .project-details .Details .property .about .tagsandprice .price-container .price {
  padding: 20px;
  border-radius: 5px;
  background-color: #fe5631;
  color: white;
  font-size: 15.5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.project-details-container .project-details .Details .property .about .address {
  color: #fe5631;
  margin-top: 10px;
}
.project-details-container .project-details .Details .property .about .dtl {
  display: flex;
}
.project-details-container .project-details .Details .property .about .dtl .title {
  width: 300px;
}
.project-details-container .project-details .Details .property .about .dtl .ans {
  font-size: 18px;
  color: rgb(103, 102, 102);
}
.project-details-container .project-details .Details .property .about .title {
  font-size: 18px;
}
.project-details-container .project-details .Details .property .about .typeandsize {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
.project-details-container .project-details .Details .property .about .typeandsize .type {
  font-size: 15.5px;
  color: rgb(83, 83, 83);
  font-weight: 500;
}
.project-details-container .project-details .Details .property .about .typeandsize .size {
  font-size: 15.5px;
  font-weight: 400;
}
.project-details-container .project-details .Details .property .about .otherdetailsandrating {
  display: flex;
  justify-content: space-between;
}
.project-details-container .project-details .Details .property .about .otherdetailsandrating .other-details {
  font-size: 15.5px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.project-details-container .project-details .Details .property .about .otherdetailsandrating .other-details p {
  font-size: 15.5px;
  color: rgb(99, 99, 99);
}
.project-details-container .project-details .Details .property .about .otherdetailsandrating .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.project-details-container .project-details .Details .property .about .otherdetailsandrating .rating i {
  color: #f8b42a;
}
.project-details-container .project-details .Details .property .about .otherdetailsandrating .rating p {
  font-size: 15.5px;
  font-weight: 500;
  color: rgb(102, 192, 25);
  margin: 0;
}
.project-details-container .project-details .Details .property .description-container {
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;
  line-height: 2;
}
.project-details-container .project-details .Details .property .description-container .description {
  line-height: 1.5;
}
.project-details-container .project-details .Details .property .description-container .description .detail {
  display: flex;
  align-items: center;
  justify-content: left;
}
.project-details-container .project-details .Details .property .description-container .description .detail p {
  font-size: 15.5px;
  color: black;
}
.project-details-container .project-details .Details .property .description-container .description .detail .title {
  font-weight: 500;
  width: 300px;
}
.project-details-container .project-details .Details .property .description-container .description .detail .input {
  color: rgb(103, 102, 102);
  font-size: 15.5px;
  font-weight: 500;
}
.project-details-container .project-details .Details .property .overview-container {
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.project-details-container .project-details .Details .property .overview-container .overview {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}
.project-details-container .project-details .Details .property .overview-container .overview div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
  border: none;
}
.project-details-container .project-details .Details .property .overview-container .overview div i {
  color: #c4c4c4;
  font-size: 25px;
}
.project-details-container .project-details .Details .property .overview-container .overview div p {
  text-align: center;
  color: rgb(94, 94, 94);
  font-size: 15.5px;
  margin-top: 7px;
}
.project-details-container .project-details .Details .property .overview-container .overview div .detail {
  color: black;
}
.project-details-container .project-details .Details .property .address-container {
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.project-details-container .project-details .Details .property .address-container .title {
  font-weight: 500;
  font-size: 16px;
}
.project-details-container .project-details .Details .property .address-container .addresss {
  display: flex;
  justify-content: left;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-top: 10px;
  padding-left: 20px;
}
.project-details-container .project-details .Details .property .address-container .addresss div {
  min-width: 100%;
}
.project-details-container .project-details .Details .property .address-container .addresss div ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  line-height: 2;
}
.project-details-container .project-details .Details .property .address-container .addresss div ul li {
  font-size: 15.5px;
  color: rgb(112, 110, 110);
}
.project-details-container .project-details .Details .property .address-container .addresss div .address-items {
  -moz-columns: 1;
       columns: 1;
  display: flex;
  flex-wrap: wrap;
}
.project-details-container .project-details .Details .property .address-container .addresss div .address-items li {
  color: rgb(91, 90, 90);
  width: 400px;
  font-size: 15.5px;
  text-align: left;
}
.project-details-container .project-details .Details .property .address-container .addresss div .address-items .head {
  color: black;
  font-weight: 500;
}
.project-details-container .project-details .Details .property .features-container {
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.project-details-container .project-details .Details .property .features-container ::-webkit-scrollbar {
  visibility: hidden;
}
.project-details-container .project-details .Details .property .features-container .title {
  font-weight: 500;
  font-size: 16px;
}
.project-details-container .project-details .Details .property .features-container .features {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 10px;
  row-gap: 20px;
}
.project-details-container .project-details .Details .property .features-container .features .item {
  background-color: rgb(213, 213, 213);
  border-radius: 40px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}
.project-details-container .project-details .Details .property .features-container .features ul {
  list-style: none;
  line-height: 3.5;
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.project-details-container .project-details .Details .property .features-container .features ul li {
  font-size: 15.5px;
  text-align: center;
  border: 1px solid lightgray;
}
.project-details-container .project-details .Details .property .features-container .features ul li:hover i {
  color: white;
  background-color: #fe5631;
}
.project-details-container .project-details .Details .property .floorplan-container {
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.project-details-container .project-details .Details .property .floorplan-container .title-and-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-details-container .project-details .Details .property .floorplan-container .title-and-detail .details {
  color: rgb(99, 99, 99);
  font-size: 15.5px;
  letter-spacing: 0.5px;
}
.project-details-container .project-details .Details .property .floorplan-container .image {
  margin-top: 20px;
  background-color: rgb(243, 247, 253);
  padding: 30px;
  border-radius: 6px;
}
.project-details-container .project-details .Details .property .video-container {
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.project-details-container .project-details .Details .property .video-container iframe {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.project-details-container .project-details .Details .contact-or-share {
  width: 450px;
}
.project-details-container .project-details .Details .contact-or-share .shareanddownload {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px;
  background-color: rgb(243, 247, 253);
  border-radius: 10px;
  width: 100%;
}
.project-details-container .project-details .Details .contact-or-share .shareanddownload button {
  width: 40%;
}
.project-details-container .project-details .Details .contact-or-share .shareanddownload .add-to-cart-btn {
  padding: 15px;
  border-radius: 5px;
  background-color: #201c2d;
  transition: 0.4s;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5x;
  border: none;
}
.project-details-container .project-details .Details .contact-or-share .shareanddownload .add-to-cart-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.project-details-container .project-details .Details .contact-or-share .shareanddownload #dlt-project {
  background-color: rgb(209, 3, 3);
}
.project-details-container .project-details .Details .contact-or-share .contact .dealer-details {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: rgb(32, 28, 45);
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project-details-container .project-details .Details .contact-or-share .contact .dealer-details img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.project-details-container .project-details .Details .contact-or-share .contact .dealer-details .dealer-name h3 {
  color: white;
}
.project-details-container .project-details .Details .contact-or-share .contact .dealer-details .dealer-name a {
  color: #fe5631;
  text-decoration: underline;
  text-decoration-color: #fe5631;
}
.project-details-container .project-details .Details .contact-or-share .contact .dealer-details .dealer-name a i {
  color: #fe5631;
}
.project-details-container .project-details .Details .contact-or-share .contact .request-submitted {
  font-size: 22px;
  color: #1dc295;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}
.project-details-container .project-details .Details .contact-or-share .contact .form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 10px;
  border: 1px solid rgb(225, 225, 225);
  padding: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  line-height: 2;
}
.project-details-container .project-details .Details .contact-or-share .contact .form label {
  font-size: 15.5px;
  font-weight: 500;
}
.project-details-container .project-details .Details .contact-or-share .contact .form input {
  border-radius: 8px;
  border: 1px solid white;
  outline: none;
  padding: 20px;
  background-color: rgb(242, 243, 245);
  transition: 0.4s;
  color: #8a798d;
  font-size: 15.5px;
}
.project-details-container .project-details .Details .contact-or-share .contact .form input:focus {
  border-color: #fe5631;
}
.project-details-container .project-details .Details .contact-or-share .contact .form .txtarea {
  background-color: rgb(242, 243, 245);
  border-radius: 8px;
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
  padding: 20px;
  color: #8a798d;
  font-size: 15.5px;
}
.project-details-container .project-details .Details .contact-or-share .contact .form .txtarea:focus {
  border-color: #fe5631;
}
.project-details-container .project-details .Details .contact-or-share .contact .form .submit-btn {
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  background-color: #fe5631;
  transition: 0.4s;
  border: none;
  color: white;
  font-size: 15.5px;
}
.project-details-container .project-details .Details .contact-or-share .contact .form .submit-btn:hover {
  cursor: pointer;
  background-color: #1dc295;
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container {
  background-color: rgb(243, 247, 253);
  padding: 20px;
  border-radius: 10px;
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion {
  display: flex;
  justify-content: left;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: white;
  border: 1px solid rgb(225, 225, 225);
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion .detail {
  line-height: 1.5;
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion .detail .address {
  color: rgb(107, 107, 107);
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion .detail .address i {
  color: #fe5631;
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion .detail .for-and-price {
  display: flex;
  width: 280px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: left;
  align-items: center;
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion .detail .for-and-price .for {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(229, 255, 248);
  transition: 0.4s;
  color: rgb(29, 194, 149);
}
.project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion .detail .for-and-price .for:hover {
  background-color: #fe5631;
  color: white;
}
.project-details-container .project-details .Details .contact-or-share .tagcloud {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(225, 225, 225);
}
.project-details-container .project-details .Details .contact-or-share .tagcloud .tags {
  padding: 10px;
  margin-top: 10px;
}
.project-details-container .project-details .Details .contact-or-share .tagcloud .tags ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
.project-details-container .project-details .Details .contact-or-share .tagcloud .tags ul li {
  padding: 10px;
  background-color: #1dc295;
  border-radius: 3px;
  transition: 0.5s;
}
.project-details-container .project-details .Details .contact-or-share .tagcloud .tags ul li a {
  text-decoration: none;
  color: white;
}
.project-details-container .project-details .Details .contact-or-share .tagcloud .tags ul li:hover {
  background-color: #fe5631;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(225, 225, 225);
  overflow: hidden;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .titleanddots {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .titleanddots i {
  box-shadow: 0 0 3px lightgray;
  color: #fe5631;
  opacity: 0.5;
  border-radius: 50%;
  margin-left: 15px;
  transition: 0.3s;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .titleanddots i:hover {
  cursor: pointer;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container {
  overflow: hidden;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties {
  display: flex;
  width: 450px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  transition: all 1s;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property {
  width: 410px;
  height: 420px;
  padding-top: 20px;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property .details {
  padding: 20px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 410px;
  height: 399px;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property .details p {
  color: white;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property .details h2 {
  color: white;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property .details .price {
  font-weight: bold;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property .details .tag {
  background-color: #1dc295;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  transition: 0.5s;
  border-radius: 5px;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property .details .tag:hover {
  background-color: #fe5631;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property .details .other-details-container {
  color: white;
  font-size: 15.5px;
  letter-spacing: 0.5px;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .bottom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .bottom-dots i {
  box-shadow: 0 0 3px lightgray;
  color: #fe5631;
  opacity: 0.5;
  border-radius: 50%;
  margin-left: 15px;
  transition: 0.3s;
}
.project-details-container .project-details .Details .contact-or-share .topproperties-container .bottom-dots i:hover {
  cursor: pointer;
}
.project-details-container .project-details:hover .arrows {
  opacity: 1;
}
.project-details-container .project-details:hover .arrows #left {
  right: 10px;
}
.project-details-container .project-details:hover .arrows #right {
  left: 10px;
}

@media only screen and (max-width: 1450px) {
  .project-details-container .project-details .arrows {
    width: 1200px;
  }
  .project-details-container .project-details .project-details-gallery-container {
    width: 1200px;
  }
  .project-details-container .project-details .project-details-gallery-container .gallery img {
    width: 590px;
    height: 400px;
  }
  .project-details-container .project-details .Details .property {
    width: 700px;
  }
  .project-details-container .project-details .Details .property .floorplan-container .image img {
    width: 600px;
  }
}
@media only screen and (max-width: 1300px) {
  .project-details-container .project-details .arrows {
    width: 1000px;
    top: 150px;
  }
  .project-details-container .project-details .project-details-gallery-container {
    width: 1000px;
  }
  .project-details-container .project-details .project-details-gallery-container .gallery img {
    width: 490px;
    height: auto;
  }
  .project-details-container .project-details .Details .property {
    width: 600px;
  }
  .project-details-container .project-details .Details .property .floorplan-container .image img {
    width: 500px;
  }
  .project-details-container .project-details .Details .contact-or-share {
    width: 350px;
  }
  .project-details-container .project-details .Details .contact-or-share .shareanddownload {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .project-details-container .project-details .Details .contact-or-share .suggestions-container .suggestions .suggestion .detail .for-and-price {
    width: 180px;
  }
  .project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties {
    width: 350px;
  }
  .project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property {
    width: 310px;
  }
  .project-details-container .project-details .Details .contact-or-share .topproperties-container .properties-container .properties .property .details {
    width: 310px;
  }
}
@media only screen and (max-width: 1090px) {
  .project-details-container .project-details .arrows {
    width: 800px;
  }
  .project-details-container .project-details .project-details-gallery-container {
    width: 800px;
  }
  .project-details-container .project-details .project-details-gallery-container .gallery img {
    width: 390px;
    height: auto;
  }
  .project-details-container .project-details .Details {
    grid-template-columns: auto;
  }
  .project-details-container .project-details .Details .property {
    width: 800px;
  }
  .project-details-container .project-details .Details .property .overview-container .overview {
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }
  .project-details-container .project-details .Details .property .overview-container .overview div {
    width: 150px;
  }
  .project-details-container .project-details .Details .property .address-container .address {
    flex-wrap: wrap;
  }
  .project-details-container .project-details .Details .property .address-container .address div {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .project-details-container .project-details .Details .property .address-container .address div ul li {
    width: 150px;
  }
  .project-details-container .project-details .Details .property .floorplan-container .title-and-detail {
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
  }
  .project-details-container .project-details .Details .property .floorplan-container .title-and-detail .details {
    margin-top: 10px;
  }
  .project-details-container .project-details .Details .contact-or-share {
    width: 800px;
  }
}
@media only screen and (max-width: 850px) {
  .project-details-container .project-details {
    margin-top: 20px;
  }
  .project-details-container .project-details .arrows {
    opacity: 1;
  }
  .project-details-container .project-details .Details .property .about .otherdetailsandrating {
    flex-direction: column;
    justify-content: left;
  }
  .project-details-container .project-details .Details .property .about .otherdetailsandrating .rating {
    justify-content: left;
  }
  .project-details-container .project-details .Details .property .video-container .video {
    display: flex;
    height: 400px;
    align-items: center;
  }
  .project-details-container .project-details .Details .property .video-container .video .play-icon {
    padding: 0;
  }
  .project-details-container .project-details .Details .property .address-container .address div .address-items li {
    width: 95%;
  }
  .project-details-container .project-details:hover .arrows #left {
    right: 0;
  }
  .project-details-container .project-details:hover .arrows #right {
    left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .project-details-container .project-details .Details .property .about {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .project-details-container .project-details .Details .property .about .dtl {
    flex-direction: column;
  }
  .project-details-container .project-details .Details .property .about .otherdetailsandrating .other-details {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .project-details-container .project-details .Details .property .about .tagsandprice {
    flex-direction: column;
    row-gap: 15px;
  }
}/*# sourceMappingURL=PreviouslyProjectDetailsPage.css.map */