$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: lightgray;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  background-color: rgb(99, 97, 97);
}
.cart-page-table-container {
  overflow-x: scroll;
  width: 93%;
  margin: auto;
  table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin: auto;
    width: 900px;

    tr {
      border: 1px solid lightgray;

      th,
      td {
        padding: 10px;
        border: 1px solid lightgray;
        min-width: 100px;
        text-align: center;
      }
      .long-text {
        min-width: 200px;
      }
      .delete {
        margin: auto;
        width: 80px;
        padding: 5px;
        border: none;
        color: white;
        font-weight: 600;
        background-color: rgb(208, 1, 1);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
