$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  p {
    margin: 0;
  }
  a {
    margin: 0;
  }
  .banner {
    .headingandimage {
      display: flex;
      align-items: center;
      .heading {
        z-index: 1;
        position: relative;
        left: 50px;
        bottom: 70px;

        h1 {
          font-size: 65px;
          line-height: 1.3;
          font-weight: 500;
          b {
            text-align: left;
          }
        }
        .welcome {
          font-size: 30px;
          font-weight: 500;
          letter-spacing: 2px;
          margin: 0;
          position: relative;
          right: 55px;
          text-align: center;
        }
        .banner-desc {
          width: 100%;
          margin-top: 30px;
          font-size: 16px;
          color: rgb(88, 88, 88);
          letter-spacing: 1.5px;
          font-weight: 500;
          text-align: left;
          line-height: 2;
        }
      }

      .image {
        background-color: rgb(247, 247, 247);
        border-radius: 10px;
        padding-left: 180px;
        padding-right: 50px;
        position: relative;
        right: 50px;
        img {
          width: 680px;
          height: 700px;
          border-radius: 10px;
          position: relative;
          bottom: 80px;
        }
      }
    }
    .rentandsell-container {
      z-index: 1;
      position: absolute;
      left: 50px;
      top: 640px;
      .btns {
        display: flex;
        column-gap: 20px;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            padding: 15px;
            padding-left: 17px;
            padding-right: 17px;
            border-radius: 10px;
            font-weight: 500;
            color: black;
            box-shadow: 0 0 5px rgb(196, 196, 196);
            transition: 0.4s;
          }
          i {
            position: relative;
            bottom: 30px;
            font-size: 50px;
            opacity: 0;
            color: $primarycolor;
            transition: 0.4s;
          }
          .rent {
            color: white;
            background-color: $primarycolor;
          }
          #rent-icon {
            opacity: 1;
          }
        }
      }
      .inputs-container {
        .rent-inputs {
          display: flex;
          justify-content: center;
          column-gap: 20px;
          align-items: center;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          border: none;
          box-shadow: 0 0 5px lightgray;
          .search {
            display: flex;
            align-items: center;
            ::-webkit-input-placeholder {
              color: rgb(109, 107, 107);
              opacity: 1;
              transition: 0.4s;
            }
            input:focus::-webkit-input-placeholder {
              opacity: 0;
            }
            input {
              padding: 20px;
              border: 1px solid lightgrey;
              border-radius: 7px;
              text-align: center;
              font-size: 16px;
              outline: none;
              transition: 0.4s;
              &:hover {
                border-color: $primarycolor;
              }
            }
            i {
              position: relative;
              left: 30px;
            }
          }
          .select-box {
            .title {
              padding: 20px;
              min-width: 200px;
              display: flex;
              column-gap: 20px;
              justify-content: space-between;
              align-items: center;
              border-radius: 7px;
              border: 1px solid lightgray;
              transition: 0.4s;
            }
            ::-webkit-scrollbar {
              width: 5px;
              background-color: lightgray;
            }
            ::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: rgb(112, 112, 112);
            }
            ul {
              position: absolute;
              z-index: 1;
              list-style: none;
              height: 200px;
              overflow-y: scroll;
              width: 200px;
              border: none;
              background-color: white;
              box-shadow: 0 0 5px lightgray;
              border-radius: 5px;
              transform: scale(0.5);
              pointer-events: none;
              transition: all 0.2s;
              li {
                padding: 7px;

                display: flex;
                column-gap: 10px;
                justify-content: left;
                align-items: center;
                transition: 0.5s;
                margin-top: 5px;
                margin-bottom: 5px;
                i {
                  color: $primarycolor;
                  font-size: 13px;
                  opacity: 0;
                  transition: 0.5s;
                }
                &:hover {
                  color: white;
                  background-color: $primarycolor;
                  i {
                    color: white;
                  }
                }
              }
            }
            &:hover {
              .title {
                border-color: $primarycolor;
              }
              cursor: pointer;
            }
          }
          .price-range-slider {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;

            .upper {
              display: flex;
              column-gap: 5px;
              align-items: flex-start;
              i {
                position: relative;
                top: 2px;
              }
              .title {
                display: flex;
                align-items: center;
                p {
                  color: rgb(92, 89, 89);
                }
              }
              .price {
                display: flex;
                column-gap: 5px;
                align-items: center;
                p {
                  color: $primarycolor;
                  font-size: 17px;
                }
              }
            }
            .range-slider {
              display: flex;
              row-gap: 10px;
              flex-direction: column;

              input {
                -webkit-appearance: none;
                appearance: none;
                width: 180px;
                height: 5px;
                position: relative;
                background: $primarycolor;
              }
              #first {
                top: 0px;
              }
              #second {
                bottom: 0px;
              }
              ::-webkit-slider-thumb {
                appearance: none;

                width: 15px;
                height: 15px;
                background: $primarycolor;
                border-radius: 50%;
                position: relative;
                bottom: 0;
              }
            }
          }
          .search-container {
            padding: 12px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: $primarycolor;
            color: white;
            font-size: 28px;
            border-radius: 7px;
            transition: 0.4s;
            width: 60px;
            height: 60px;
            &:hover {
              cursor: pointer;
              background-color: $hovercolor;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .banner-container {
    .banner {
      .headingandimage {
        .heading {
          h1 {
            font-size: 65px;
          }
        }
        .image {
          img {
            width: 600px;
            height: 620px;
          }
        }
      }
      .rentandsell-container {
        top: 560px;
      }
    }
  }
}

@media only screen and (max-width: 1370px) {
 
  .banner-container {
    .banner {
      .headingandimage {
        .heading {
          h1 {
            font-size: 45px;
          }
        }
        .image {
          img {
            width: 500px;
            height: 520px;
          }
        }
      }
      .rentandsell-container {
        top: 500px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {

  .banner-container {
    .banner {
      .headingandimage {
        .heading {
          h1 {
            font-size: 65px;
          }
          .welcome{
            right: 0;
          }
        }
        .image {
          padding-bottom: 200px;

          img {
            width: 500px;
            height: 520px;
          }
        }
      }
      .rentandsell-container {
        top: 700px;
      }
    }
  }
}

@media only screen and (max-width: 1165px) {
  .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .headingandimage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heading {
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h1 {
            font-size: 45px;
            text-align: center;
          }
        }
        .image {
          position: static;
          padding: 30px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          img {
            bottom: 0;
          }
        }
      }
      .rentandsell-container {
        position: static;
        background-color: rgb(247, 247, 247);
        padding: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .btns {
          justify-content: center;
          align-items: center;
        }
        .inputs-container {
          .rent-inputs {
            flex-wrap: wrap;

            row-gap: 10px;

            .search {
              i {
                position: absolute;
                left: 140px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .banner-container {
    margin-top: 10px;
    .banner {
      .headingandimage {
        background-image: url("../../../asserts//Home/HomePage.jpg");
        border-radius: 5px;
        .heading {
          left: 0;
          bottom: 0;
          -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
          h1 {
            text-align: center;
          }
          .welcome {
            text-align: center;
            color: white;
          }
          .banner-desc {
            text-align: center;
            color: white;
          }
        }
        .image {
          display: none;
        }
      }
      .rentandsell-container {
        .inputs-container {
          .rent-inputs {
            .search {
              i {
                left: 70px;
              }
            }
          }
        }
      }
    }
  }
}
