* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.banner-container p {
  margin: 0;
}
.banner-container a {
  margin: 0;
}
.banner-container .banner .headingandimage {
  display: flex;
  align-items: center;
}
.banner-container .banner .headingandimage .heading {
  z-index: 1;
  position: relative;
  left: 50px;
  bottom: 70px;
}
.banner-container .banner .headingandimage .heading h1 {
  font-size: 65px;
  line-height: 1.3;
  font-weight: 500;
}
.banner-container .banner .headingandimage .heading h1 b {
  text-align: left;
}
.banner-container .banner .headingandimage .heading .welcome {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  position: relative;
  right: 55px;
  text-align: center;
}
.banner-container .banner .headingandimage .heading .banner-desc {
  width: 100%;
  margin-top: 30px;
  font-size: 16px;
  color: rgb(88, 88, 88);
  letter-spacing: 1.5px;
  font-weight: 500;
  text-align: left;
  line-height: 2;
}
.banner-container .banner .headingandimage .image {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  padding-left: 180px;
  padding-right: 50px;
  position: relative;
  right: 50px;
}
.banner-container .banner .headingandimage .image img {
  width: 680px;
  height: 700px;
  border-radius: 10px;
  position: relative;
  bottom: 80px;
}
.banner-container .banner .rentandsell-container {
  z-index: 1;
  position: absolute;
  left: 50px;
  top: 640px;
}
.banner-container .banner .rentandsell-container .btns {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.banner-container .banner .rentandsell-container .btns div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container .banner .rentandsell-container .btns div p {
  padding: 15px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 10px;
  font-weight: 500;
  color: black;
  box-shadow: 0 0 5px rgb(196, 196, 196);
  transition: 0.4s;
}
.banner-container .banner .rentandsell-container .btns div i {
  position: relative;
  bottom: 30px;
  font-size: 50px;
  opacity: 0;
  color: #fe5631;
  transition: 0.4s;
}
.banner-container .banner .rentandsell-container .btns div .rent {
  color: white;
  background-color: #fe5631;
}
.banner-container .banner .rentandsell-container .btns div #rent-icon {
  opacity: 1;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px lightgray;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search {
  display: flex;
  align-items: center;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search ::-webkit-input-placeholder {
  color: rgb(109, 107, 107);
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search input {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 7px;
  text-align: center;
  font-size: 16px;
  outline: none;
  transition: 0.4s;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search input:hover {
  border-color: #fe5631;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search i {
  position: relative;
  left: 30px;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box .title {
  padding: 20px;
  min-width: 200px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid lightgray;
  transition: 0.4s;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box ::-webkit-scrollbar {
  width: 5px;
  background-color: lightgray;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(112, 112, 112);
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  height: 200px;
  overflow-y: scroll;
  width: 200px;
  border: none;
  background-color: white;
  box-shadow: 0 0 5px lightgray;
  border-radius: 5px;
  transform: scale(0.5);
  pointer-events: none;
  transition: all 0.2s;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box ul li {
  padding: 7px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: left;
  align-items: center;
  transition: 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box ul li i {
  color: #fe5631;
  font-size: 13px;
  opacity: 0;
  transition: 0.5s;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box ul li:hover {
  color: white;
  background-color: #fe5631;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box ul li:hover i {
  color: white;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box:hover {
  cursor: pointer;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .select-box:hover .title {
  border-color: #fe5631;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .upper {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: flex-start;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .upper i {
  position: relative;
  top: 2px;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .upper .title {
  display: flex;
  align-items: center;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .upper .title p {
  color: rgb(92, 89, 89);
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .upper .price {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .upper .price p {
  color: #fe5631;
  font-size: 17px;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .range-slider {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .range-slider input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 180px;
  height: 5px;
  position: relative;
  background: #fe5631;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .range-slider #first {
  top: 0px;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .range-slider #second {
  bottom: 0px;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .price-range-slider .range-slider ::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  background: #fe5631;
  border-radius: 50%;
  position: relative;
  bottom: 0;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search-container {
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fe5631;
  color: white;
  font-size: 28px;
  border-radius: 7px;
  transition: 0.4s;
  width: 60px;
  height: 60px;
}
.banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search-container:hover {
  cursor: pointer;
  background-color: #1dc295;
}

@media only screen and (max-width: 1450px) {
  .banner-container .banner .headingandimage .heading h1 {
    font-size: 65px;
  }
  .banner-container .banner .headingandimage .image img {
    width: 600px;
    height: 620px;
  }
  .banner-container .banner .rentandsell-container {
    top: 560px;
  }
}
@media only screen and (max-width: 1370px) {
  .banner-container .banner .headingandimage .heading h1 {
    font-size: 45px;
  }
  .banner-container .banner .headingandimage .image img {
    width: 500px;
    height: 520px;
  }
  .banner-container .banner .rentandsell-container {
    top: 500px;
  }
}
@media only screen and (max-width: 1200px) {
  .banner-container .banner .headingandimage .heading h1 {
    font-size: 65px;
  }
  .banner-container .banner .headingandimage .heading .welcome {
    right: 0;
  }
  .banner-container .banner .headingandimage .image {
    padding-bottom: 200px;
  }
  .banner-container .banner .headingandimage .image img {
    width: 500px;
    height: 520px;
  }
  .banner-container .banner .rentandsell-container {
    top: 700px;
  }
}
@media only screen and (max-width: 1165px) {
  .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-container .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-container .banner .headingandimage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-container .banner .headingandimage .heading {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-container .banner .headingandimage .heading h1 {
    font-size: 45px;
    text-align: center;
  }
  .banner-container .banner .headingandimage .image {
    position: static;
    padding: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .banner-container .banner .headingandimage .image img {
    bottom: 0;
  }
  .banner-container .banner .rentandsell-container {
    position: static;
    background-color: rgb(247, 247, 247);
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .banner-container .banner .rentandsell-container .btns {
    justify-content: center;
    align-items: center;
  }
  .banner-container .banner .rentandsell-container .inputs-container .rent-inputs {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search i {
    position: absolute;
    left: 140px;
  }
}
@media only screen and (max-width: 850px) {
  .banner-container {
    margin-top: 10px;
  }
  .banner-container .banner .headingandimage {
    background-image: url("../../../asserts//Home/HomePage.jpg");
    border-radius: 5px;
  }
  .banner-container .banner .headingandimage .heading {
    left: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
  .banner-container .banner .headingandimage .heading h1 {
    text-align: center;
  }
  .banner-container .banner .headingandimage .heading .welcome {
    text-align: center;
    color: white;
  }
  .banner-container .banner .headingandimage .heading .banner-desc {
    text-align: center;
    color: white;
  }
  .banner-container .banner .headingandimage .image {
    display: none;
  }
  .banner-container .banner .rentandsell-container .inputs-container .rent-inputs .search i {
    left: 70px;
  }
}/*# sourceMappingURL=Banner.css.map */