$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.profile-image-upload-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .cover-image-container {
    width: 1400px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    position: relative;

    .cover-img {
      object-fit: contain;
      border-radius: 2px;
      width: 100%;
      height: 100%;
    }
    .cover-image-options {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      row-gap: 15px;
      flex-direction: column;
      span {
        color: white;
        font-size: 28px;
        transition: 0.3s;
        text-shadow: 0 0 10px rgb(139, 138, 138);
        &:hover {
          cursor: pointer;
          color: rgb(207, 205, 205);
        }
      }
    }
  }
  .logo-and-profile-img-container {
    width: 1400px;
    position: relative;
    height: 100px;
    z-index: 999;
    .logo-and-profile-img {
      position: absolute;
      height: 100px;

      display: flex;
      column-gap: 20px;
      align-items: center;
      bottom: 50%;
      left: 10px;
      .logo-container,
      .profile-img-container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid $hovercolor;
          transition: 0.3s;

          &:hover {
            cursor: pointer;
            filter: grayscale(50%);
          }
        }
        .logo-and-profile-img-options {
          position: absolute;
          top: 0;
          width: 150px;
          height: 150px;
          background: rgba(148, 147, 147, 0.5);
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 10px;
          transition: .3s;
          opacity: 0;
          visibility: hidden;
         
          span {
            color: black;
            background-color: white;
            padding: 3px;
            border-radius: 2px;
            &:hover{
              cursor: pointer;
            }
          }
        }
        &:hover{
          .logo-and-profile-img-options{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .delete-popup-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(122, 122, 122, 0.5);
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    .delete-popup {
      width: 400px;
      height: 100px;
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      transform: scale(0);
      transition: 0.2s;
      .alert-title {
        font-size: 18px;
        font-weight: 600;
      }
      .yes-no-btns {
        display: flex;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: white;

        p {
          background-color: $primarycolor;
          text-align: center;
          font-size: 17px;
          border-radius: 2px;
          padding: 2px;
          padding-left: 10px;
          padding-right: 10px;
          color: white;
          &:hover {
            cursor: pointer;
          }
        }
        .no-btn {
          background-color: $hovercolor;
        }
      }
    }
  }
  .view-img-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(122, 122, 122, 0.5);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    
    .view-img{
      width: 500px;
      height: 500px;
      transition: .3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
    img{
      object-fit: contain;
      width: 100%;
      height:100%;
    }
    span{
      font-size: 45px;
      color: black;
      &:hover{
        cursor: pointer;
      }
    }
    }
  }
}

@media only screen and (max-width:1420px) {
 
  .profile-image-upload-container{
    .cover-image-container{
      width: 1200px;
    }
    .logo-and-profile-img-container{
      width: 1200px;
    }
  }
}

@media only screen and (max-width:1220px) {
 
  .profile-image-upload-container{
    .cover-image-container{
      width: 1000px;
    }
    .logo-and-profile-img-container{
      width: 1000px;
    }
  }
}

@media only screen and (max-width:1020px) {
 
   .profile-image-upload-container{
     .cover-image-container{
       width: 800px;
     }
     .logo-and-profile-img-container{
       width: 800px;
     }
   }
 }

 @media only screen and (max-width:820px) {

   .profile-image-upload-container{
 
     .cover-image-container{
       width: 600px;
     }
     .logo-and-profile-img-container{
       width: 600px;
       .logo-and-profile-img{
         left: 50%;
         transform: translateX(-50%);
         
       }
     }

   }
 }

 
 @media only screen and (max-width:620px) {
  
   .profile-image-upload-container{
     .cover-image-container{
       width: 100%;
     }
     .logo-and-profile-img-container{
       width: 100%;
       .logo-and-profile-img{
         left: 50%;
         transform: translateX(-50%);
         
       }
     }
     .view-img-container{
       .view-img{
         width: 100%;
         height: auto;
       }
     }
   }
 }