* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile-image-upload-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.profile-image-upload-container .cover-image-container {
  width: 1400px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  position: relative;
}
.profile-image-upload-container .cover-image-container .cover-img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
.profile-image-upload-container .cover-image-container .cover-image-options {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  row-gap: 15px;
  flex-direction: column;
}
.profile-image-upload-container .cover-image-container .cover-image-options span {
  color: white;
  font-size: 28px;
  transition: 0.3s;
  text-shadow: 0 0 10px rgb(139, 138, 138);
}
.profile-image-upload-container .cover-image-container .cover-image-options span:hover {
  cursor: pointer;
  color: rgb(207, 205, 205);
}
.profile-image-upload-container .logo-and-profile-img-container {
  width: 1400px;
  position: relative;
  height: 100px;
  z-index: 999;
}
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img {
  position: absolute;
  height: 100px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  bottom: 50%;
  left: 10px;
}
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .logo-container,
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .profile-img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .logo-container img,
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .profile-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #1dc295;
  transition: 0.3s;
}
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .logo-container img:hover,
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .profile-img-container img:hover {
  cursor: pointer;
  filter: grayscale(50%);
}
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .logo-container .logo-and-profile-img-options,
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .profile-img-container .logo-and-profile-img-options {
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;
  background: rgba(148, 147, 147, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .logo-container .logo-and-profile-img-options span,
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .profile-img-container .logo-and-profile-img-options span {
  color: black;
  background-color: white;
  padding: 3px;
  border-radius: 2px;
}
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .logo-container .logo-and-profile-img-options span:hover,
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .profile-img-container .logo-and-profile-img-options span:hover {
  cursor: pointer;
}
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .logo-container:hover .logo-and-profile-img-options,
.profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img .profile-img-container:hover .logo-and-profile-img-options {
  opacity: 1;
  visibility: visible;
}
.profile-image-upload-container .delete-popup-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(122, 122, 122, 0.5);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.profile-image-upload-container .delete-popup-container .delete-popup {
  width: 400px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transform: scale(0);
  transition: 0.2s;
}
.profile-image-upload-container .delete-popup-container .delete-popup .alert-title {
  font-size: 18px;
  font-weight: 600;
}
.profile-image-upload-container .delete-popup-container .delete-popup .yes-no-btns {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.profile-image-upload-container .delete-popup-container .delete-popup .yes-no-btns p {
  background-color: #fe5631;
  text-align: center;
  font-size: 17px;
  border-radius: 2px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.profile-image-upload-container .delete-popup-container .delete-popup .yes-no-btns p:hover {
  cursor: pointer;
}
.profile-image-upload-container .delete-popup-container .delete-popup .yes-no-btns .no-btn {
  background-color: #1dc295;
}
.profile-image-upload-container .view-img-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(122, 122, 122, 0.5);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.profile-image-upload-container .view-img-container .view-img {
  width: 500px;
  height: 500px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.profile-image-upload-container .view-img-container .view-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.profile-image-upload-container .view-img-container .view-img span {
  font-size: 45px;
  color: black;
}
.profile-image-upload-container .view-img-container .view-img span:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1420px) {
  .profile-image-upload-container .cover-image-container {
    width: 1200px;
  }
  .profile-image-upload-container .logo-and-profile-img-container {
    width: 1200px;
  }
}
@media only screen and (max-width: 1220px) {
  .profile-image-upload-container .cover-image-container {
    width: 1000px;
  }
  .profile-image-upload-container .logo-and-profile-img-container {
    width: 1000px;
  }
}
@media only screen and (max-width: 1020px) {
  .profile-image-upload-container .cover-image-container {
    width: 800px;
  }
  .profile-image-upload-container .logo-and-profile-img-container {
    width: 800px;
  }
}
@media only screen and (max-width: 820px) {
  .profile-image-upload-container .cover-image-container {
    width: 600px;
  }
  .profile-image-upload-container .logo-and-profile-img-container {
    width: 600px;
  }
  .profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 620px) {
  .profile-image-upload-container .cover-image-container {
    width: 100%;
  }
  .profile-image-upload-container .logo-and-profile-img-container {
    width: 100%;
  }
  .profile-image-upload-container .logo-and-profile-img-container .logo-and-profile-img {
    left: 50%;
    transform: translateX(-50%);
  }
  .profile-image-upload-container .view-img-container .view-img {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=ImageUpload.css.map */