* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.po-profile-overview-container .profile-overview .profile-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset legend {
  width: auto;
  margin-left: 10px;
  text-align: left;
  font-weight: 600;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  background-color: #1dc295;
  font-size: 18px;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table {
  width: 1400px;
  border: none;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .sub-title {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  text-align: left;
  font-variant: small-caps;
  text-decoration-color: #fe5631;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr {
  display: flex;
  flex-wrap: wrap;
  border: none;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 450px;
  border: none;
  display: flex;
  font-size: 16px;
  align-items: center;
  width: 50%;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td .profile-detail-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-left: 5px;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td .profile-detail-list li {
  color: black;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  align-items: baseline;
  width: 200px;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td .profile-detail-list li i {
  padding: 6px;
  border-radius: 50%;
  color: rgb(29, 194, 149);
  background-color: rgb(229, 255, 248);
  transition: 0.4s;
  font-size: 12px;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr #fullwidth {
  width: 100%;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .small-input {
  width: 82%;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .title {
  text-align: left;
  width: 18%;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  background: none;
  text-align: left;
  width: 50%;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .small-input {
  width: 82%;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .title {
  text-align: left;
  width: 18%;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .sub-categories {
  padding-left: 30px;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table #sub-categories {
  padding-left: 60px;
}
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .titles-and-list,
.po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table #titles-and-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
}
.po-profile-overview-container .profile-overview .profile-detail .profile-detail-title {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: #fe5631;
  font-weight: 500;
}
.po-profile-overview-container .profile-overview .profile-detail ::-webkit-scrollbar {
  width: 6px;
  background-color: black;
  border-radius: 10px;
}
.po-profile-overview-container .profile-overview .profile-detail ::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: lightgray;
  border-radius: 10px;
}
.po-profile-overview-container .profile-overview .profile-detail .branches-array {
  height: 500px;
  overflow-y: scroll;
}

@media only screen and (max-width: 1450px) {
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table {
    width: 1200px;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td {
    width: 300px;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .small-input {
    width: 80%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .title {
    text-align: left;
    width: 20%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .small-input {
    width: 80%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .title {
    text-align: left;
    width: 20%;
  }
}
@media only screen and (max-width: 1220px) {
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table {
    width: 1000px;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td {
    width: 250px;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .small-input {
    width: 75%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .title {
    text-align: left;
    width: 25%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .small-input {
    width: 75%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .title {
    text-align: left;
    width: 25%;
  }
}
@media only screen and (max-width: 1020px) {
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table {
    width: 800px;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td {
    width: 400px;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .small-input {
    width: 70%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .title {
    text-align: left;
    width: 30%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .small-input {
    width: 70%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .title {
    text-align: left;
    width: 30%;
  }
}
@media only screen and (max-width: 820px) {
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table {
    width: 600px;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td {
    width: 300px;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .small-input {
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .title {
    text-align: left;
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .small-input {
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .title {
    text-align: left;
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .po-profile-overview-container .profile-overview .profile-detail fieldset {
    width: 95%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table {
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .sub-title {
    text-align: center;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td {
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td .profile-detail-list {
    display: block;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr td .profile-detail-list li {
    margin-top: 10px;
    width: 90%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table tr .small-inputs .title {
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .small-input {
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .small-inputs .title {
    text-align: left;
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .titles-and-list .title,
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table #titles-and-list .title {
    width: 100%;
  }
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table .titles-and-list .profile-detail-list-container,
  .po-profile-overview-container .profile-overview .profile-detail fieldset .profile-detail-table #titles-and-list .profile-detail-list-container {
    width: 100%;
  }
}/*# sourceMappingURL=ProfileOverview.css.map */