$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.payment-modal-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s;
  background: transparent;
  z-index: 9999;
  p {
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 6px;
    background-color: lightgray;
    border-radius: 10px;
    height: 6px;
    visibility: hidden;
  }
  ::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: black;
    border-radius: 10px;
    height: 6px;
    visibility: hidden;
  }
  ::-webkit-scrollbar {
    visibility: visible;
  }
  ::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  .form {
    margin-top: 100px;
    box-shadow: 0 0 8px rgb(184, 183, 183);
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 10px;
    background: white;
    position: relative;
    height: 80%;
    overflow-y: scroll;
    .submit-btn {
      padding: 13px;
      border-radius: 5px;
      background-color: $primarycolor;
      border: none;
      transition: 0.5s;
      color: white;
      font-weight: 500;
      width: 120px;
      letter-spacing: 1px;
      &:hover {
        cursor: pointer;
        background-color: $hovercolor;
      }
    }

    ::-webkit-scrollbar {
      visibility: hidden;
    }
    ::-webkit-scrollbar-thumb{
      visibility: hidden;
    }
    .modal-details {
      width: 100%;
      min-height: 90%;
      overflow: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      padding: 20px;
      row-gap: 10px;
      .detail {
        display: flex;
        .heading {
          width: 250px;
          font-size: 15.5px;
          font-weight: 500;
        }
        .answer {
          width: 250px;
          font-size: 15.5px;
          font-weight: 500;
          color: rgb(93, 91, 91);
        }
      }
      table {
        border-collapse: collapse;
        border: 1px solid lightgray;

        tr {
          border: 1px solid lightgray;

          th,
          td {
            padding: 10px;
            min-width: 100px;
            border: 1px solid lightgray;
          }
        }
      }
    }
    #close-icon {
      position: absolute;
      top:  0px;
      background-color: rgb(79, 79, 79);
      color: white;
      font-size: 20px;
      padding: 5px;
      border-radius: 50%;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .payment-modal-container {
    .form {
      width: 95%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .payment-modal-container {
    .form {
      width: 95%;
      .modal-details {
        .detail {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .payment-modal-container {
    .form {
      width: 95%;

      .modal-details {
        .detail {
          width: 100%;
          flex-direction: column;
          .heading {
            width: 100%;
          }
          .answer {
            width: 100%;
          }
        }
      }
    }
  }
}
