$primaryfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$primarycolor: #fe5631;
$secondarycolor: #201c2d;
$hovercolor: #1dc295;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryfont;
}

body {
  font-family: $primaryfont;
}

.sp-upload-project-container {
 
  .upload-project-title {
    font-variant: small-caps;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
  }
  .upload-project-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    .upload-project-details-heading {
      font-variant: small-caps;
      text-decoration: underline;
      text-decoration-color: $primarycolor;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
    .upload-project-detail {
      margin-top: 40px;
      display: flex;
      row-gap: 15px;
      column-gap: 15px;
      justify-content: center;

      flex-wrap: wrap;
      width: 1200px;

      .detail {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 10%;
        width: 100%;
        
        .detail-title {
          width: 30%;
          font-size: 15px;
          font-weight: 500;
        }
        #last-select-list-title{
          display: none;
        }
        .detail-titles-container{
          width: 30%;
          display: flex;
          flex-direction: column;
          height:100%;
          padding-top: 0px;
          padding-bottom:15px;
          justify-content:space-between;

          .detail-title {
            width: 100%;
           
          }
          #project-styles-title{
            display: block;
          }
        }
        ::-webkit-input-placeholder {
          transition: 0.3s;
          opacity: 1;
        }
        input:focus::-webkit-input-placeholder {
          opacity: 0;
        }
        .detail-input {
          width: 60%;
          height: 35px;
          padding: 5px;
          border-radius: 2px;
          border: 1px solid lightgray;
          outline: none;
          transition: 0.3s;

          &:focus {
            border-color: $primarycolor;
          }
        }
        textarea {
          width: 60%;
          height: 150px;
          border: 1px solid lightgray;
          border-radius: 2px;
          transition: 0.3s;
          outline: none;
          padding: 5px;
          &:focus {
            border-color: $primarycolor;
          }
        }
        .detail-select-list-container {
          position: relative;
          width: 200px;
          list-style: none;

          .selected-heading {
            border: 1px solid lightgray;
            border-radius: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            width: 100%;
            .heading {
              padding: 0;
              margin: 0;
            }
          }
          .detail-select-list {
            list-style: none;
            position: absolute;
            width: 100%;
            border: 1px solid lightgray;
            transform: scale(0);
            transition: 0.3s;
            z-index: 1;
            max-height: 300px;
            overflow-y: scroll;
            li {
              padding: 5px;
              border-top: 1px solid lightgray;
              transition: 0.3s;
              background-color: rgb(226, 225, 225);
              &:hover {
                color: white;
                background-color: $primarycolor;
              }
            }
          }
          li {
            text-align: center;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .radio-inputs {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          width: 90%;
        }
      }
     
    }

    .upload-and-images-container {
      width: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
      .upload-btn {
        span{
          font-size: 100px;
          transition: .3s;
          color: $primarycolor;
          &:hover{
            cursor: pointer;
            color: $hovercolor;
          }
        }
      }
      ::-webkit-scrollbar{
        width: 6px;
        background-color: lightgray;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb{
        width: 6px;
        background-color: black;
        border-radius: 10px;
      }
      .images-container{
        display: flex;
        column-gap: 20px;
        row-gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-height: 550px;
        overflow-y: scroll;
        .uploaded-img{
          width: 300px;
          height: 250px;
border-radius: 3px;
position: relative;
bottom: 0;
transition: .3s;
background: linear-gradient(to bottom , lightgray , gray 100%);

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
          }
          span{
            position: absolute;
            top: 10px;
            right: 10px;
            color: red;
            border-radius: 50%;
          font-size: 25px;
            background-color: white;
            &:hover{
              cursor: pointer;
            }
          }
         
        }
      }
    }
    .save-and-continue-btn{
      padding: 10px;
      border-radius: 3px;
      font-size: 15.5px;
      border: none;
      color: white;
      letter-spacing: 1px;
      font-weight: 500;
      background-color: $primarycolor;
      transition: .3s;
      &:hover{
        cursor: pointer;
        background-color: $hovercolor;
      }      
    }
  }
}

@media only screen and (max-width:1250px) {
  .sp-upload-project-container{
    .uploaded-project-modal-container{
     
      .uploaded-project-modal{
        .images-and-details-container{
          .imganddetail {
            .images-and-details {
              .images-container {
                width: 90%;
              }
              .uploaded-project-details {
                width: 90%;
              }
            }
          }
        }
      }
    }
    .upload-project-details-container{
      .upload-project-detail{
        width: 1000px;
      }
      .upload-and-images-container{
        width: 1000px;
      }
    }
  }
}

@media only screen and (max-width:1050px) {
  .sp-upload-project-container{
    .upload-project-details-container{
      .upload-project-detail{
        width: 800px;
      }
      .upload-and-images-container{
        width: 800px;
      }
    }
  }
}

@media only screen and (max-width:850px) {
  .sp-upload-project-container{
    .uploaded-project-modal-container{
     
      .uploaded-project-modal{
        .images-and-details-container{
          .imganddetail {
            .images-and-details {
              .images-container {
                width: 90%;
                height: 50%;
              }
              .uploaded-project-details {
                width: 90%;
              }
            }
          }
        }
      }
    }
    .upload-project-details-container{
      .upload-project-detail{
        width: 100%;
        .detail{
          flex-direction: column;
          width: 98%;
          .detail-title{
            text-align: left;
            width: 98%;
          }
          .detail-titles-container{
            width: 98%;
            height: 0px;
            background-color: red;
            padding-bottom:0px;
            #project-styles-title{
              display: none;
            }
          }
          #last-select-list-title{
            display: block;
          }
          .detail-input{
            width: 98%;
          }
          textarea{
            width: 98%;
          }
          .detail-select-list-container{
            width: 98%;
          }
          .radio-inputs{
            width: 98%;
          }
        }
       
      }
      .upload-and-images-container{
        width: 100%;
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width:500px) {

.sp-upload-project-container{
  .upload-project-details-container{
    .upload-and-images-container{
     .images-container{
       .uploaded-img{
         width: 98%;
         height:300px;
       }
     } 
    }
  }
}
}